{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <form action="step-1-3b-a" method="post" class="form">



          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">The child's details</span>
                <h2 class="govuk-fieldset__heading">
                  What's the serial or case number on the child's placement order?
                </h2>
              </legend>
              <span id="changed-name-hint" class="govuk-hint">
                This is on the top right of the order. Speak to your adoption agency or social worker if you do not have
                this.</span>

              </span>

              <div class="govuk-form-group">

                <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
              </div>
            </fieldset>
          </div>



          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a>


        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
