{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Does the child have any siblings or half-siblings?</h2>
        <form action="" id="siblingsForm" method="post" class="form">

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input radioTargetSet" id="how-contacted-conditional-gp" name="siblings" type="radio"
              value="step-6-3" data-aria-controls="conditional-gp" {{ checked("siblings", "yes") }}>

              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-gp">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input radioTargetSet" id="conditional-how-contacted-condi" name="siblings" type="radio"
              value="../task-list-2" data-aria-controls="conditional-how-contacted-condi" {{ checked("siblings", "no") }}>
              <label class="govuk-label govuk-radios__label" for="conditional-how-contacted-condi">
                No
              </label>
            </div>


            <div class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden" id="conditional-gp">

              <div id="div1" class="govuk-form-group">
                <label class="govuk-label" for="more-detail">
                How many siblings or half-siblings do they have?
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>

        </div>


        <br>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>


      </div>
    </form>
  </div>
</div>
</main>
</div>

{% endblock %}
