{% block header %}
{% include "includes/newheader.html" %}
{% endblock %}

                        

<html lang="en" class="govuk-template ">  
    <div style=" max-width:1300px; margin: 0 auto;">
        <div style=" max-width:1300px;  min-width:1300px;  margin: 50px 0px 0px 0px;  ">
            <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 0px;">                      
                <div class="govuk-width-container" style="margin-left: 80px">
                    {% block content %}
                    <div class="govuk-width-container">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">

                                {% set firstNamesError = '' %}
                                {% set lastNamesError = '' %}
                                {% set dobError = '' %}
                                {% set sexError = '' %}
                                {% set nationalityError = '' %}
                                {% set noCountryAddedError = '' %}


                                {% if errors | length > 0 %}
                                {{ govukErrorSummary({
                                    titleText: "There is a problem",
                                    errorList: errors
                                }) }}
                                {% for error in errors %}
                                    {% if error.href == '#first-names' %}
                                        {% set firstNamesError = error.text %}
                                    {% endif %}
                                    {% if error.href == '#last-names' %}
                                        {% set lastNamesError = error.text %}
                                    {% endif %}
                                    {% if error.href == '#child-date-birth' %}
                                        {% set dobError = error.text %}
                                    {% endif %}
                                    {% if error.href == '#child-sex' %}
                                        {% set sexError = error.text %}
                                    {% endif %}
                                    {% if error.href == '#child-nationality' %}
                                        {% set nationalityError = error.text %}
                                    {% endif %}
                                    {% if error.href == '#child-no-country-added' %}
                                        {% set noCountryAddedError = error.text %}
                                    {% endif %}
                                {% endfor %}
                                {% endif %}

                                <form action="/research-6/x-ui/children/child" method="post" class="form">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                        Child's birth certificate details
                                    </h1>
                                    </legend>

                                    <!-- Full name -->
                                    <div class="govuk-form-group {% if (firstNamesError != '') %} govuk-form-group--error{% endif %}">
                                    <label class="govuk-label" for="firstNames">
                                        First names<span class="govuk-visually-hidden">First names</span>
                                        <div id="namehint" class="govuk-hint">
                                        (Include any given or middle names)
                                        </div>
                                    </label>
                                    {% if firstNamesError != '' %}
                                    <span id="contact-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ firstNamesError }}
                                    </span>
                                    {% endif %}

                                    <input class="govuk-input {% if (firstNamesError != '') %} govuk-input--error{% endif %}" id="child-first-names" name="child-first-names" type="text" autocomplete="given-name" value="{{ data['child-first-names'] }}"></div>


                                    <div class="govuk-form-group {% if (lastNamesError != '') %} govuk-form-group--error{% endif %}">
                                        <label class="govuk-label" for="lastNames">
                                            Last names<span class="govuk-visually-hidden">Last names</span>
                                            <div id="namehint" class="govuk-hint">
                                            (Include surname or family names)
                                            </div>
                                        </label>
                                        {% if lastNamesError != '' %}
                                        <span id="contact-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> {{ lastNamesError }}
                                        </span>
                                        {% endif %}
                                        <input class="govuk-input {% if (lastNamesError != '') %} govuk-input--error{% endif %}" id="child-last-names" name="child-last-names" type="text" autocomplete="family-name" value="{{ data['child-last-names'] }}">
                                    </div>


                                    <!-- Date of birth -->
                                    <div class="govuk-form-group  {% if (dobError != '')%} govuk-form-group--error {% endif%} govuk-!-margin-top-8">
                                        {% if (dobError != '')%}
                                        <span id="national-insurance-number-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ dobError }}
                                        </span>
                                        {% endif%}

                                        <div class="govuk-date-input" id="dob">
                                            <label class="govuk-label" for="lastNames">
                                                Date of birth<span class="govuk-visually-hidden">Date of birth</span>
                                            </label>

                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="day">
                                                    Day
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (dobError != '')%} govuk-input--error {% endif%}" id="day" name="child-birth-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['child-birth-day'] }}"></div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="month">
                                                    Month
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (dobError != '')%} govuk-input--error {% endif%}" id="month" name="child-birth-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['child-birth-month'] }}"></div>
                                            </div>
                                            <div class="govuk-date-input__item">
                                                <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" for="year">
                                                    Year
                                                </label>
                                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if (dobError != '')%} govuk-input--error {% endif%}" id="year" name="child-birth-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['child-birth-year'] }}"></div>
                                            </div>                                                    
                                        </div>
                                    </div>    
                                    
                                    
                                    <!-- Sex at birth -->
                                    <div class="govuk-form-group  {% if (sexError != '')%} govuk-form-group--error {% endif%} govuk-!-margin-top-8">
                                        {% if (sexError != '')%}
                                        <span class="govuk-error-message govuk-form">
                                        <span class="govuk-visually-hidden">Error:</span> {{ sexError }}
                                        </span>
                                        {% endif %}

                                        <div class="govuk-radios" data-module="govuk-radios">
                                            <label class="govuk-label" for="lastNames">
                                                Sex at birth<span class="govuk-visually-hidden">Sex at birth</span>
                                            </label>

                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="male" name="child-sex" type="radio" value="Male" {% if (data['child-sex'] === "Male") %} checked {% endif %}>
                                                <label class="govuk-label govuk-radios__label" for="child-sex">
                                                    Male
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="female" name="child-sex" type="radio" value="Female" {% if (data['child-sex'] === "Female") %} checked {% endif %}>
                                                <label class="govuk-label govuk-radios__label" for="child-sex">
                                                    Female
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="intersex" name="child-sex" type="radio" value="Intersex" {% if (data['child-sex'] === "Intersex") %} checked {% endif %}>
                                                <label class="govuk-label govuk-radios__label" for="child-sex">
                                                    Intersex
                                                </label>
                                            </div>
                                        
                                        </div>
                                    </div>

                                    <!-- Nationality -->
                                    <div class="govuk-form-group  {% if (nationalityError != '')%} govuk-form-group--error {% endif%} govuk-!-margin-top-8">
                                        {% if (nationalityError != '')%}
                                    <span id="national-insurance-number-error" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> {{ nationalityError }}
                                    </span>
                                    {% endif%}
                                    <label class="govuk-label" for="lastNames">
                                        Nationality<span class="govuk-visually-hidden">Nationality</span>
                                    </label>

                                    <div id="nationality-hint" class="govuk-hint">
                                        Select all options that are relevant.
                                    </div>
                                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                        <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="child-british" name="child-british" type="checkbox"  aria-describedby="nationality-item-hint" {% if (data['child-british'] != undefined) %} checked {% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="nationality">
                                            British
                                        </label>
                                        <div id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                            including English, Scottish, Welsh and Northern Irish
                                        </div>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="child-nationality-2" name="child-irish" type="checkbox" {% if (data['child-irish'] != undefined) %} checked {% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                                            Irish
                                        </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="other" name="child-other" type="checkbox"
                                            data-aria-controls="conditional-citizenship-conditional-2" {% if (data['child-other'] != undefined) %} checked {% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                                            Citizen of a different country
                                        </label>
                                        </div>
                                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                                        id="conditional-citizenship-conditional-2">
                                        <div class="govuk-form-group {% if (nationalityError != '')%} govuk-form-group--error {% endif%}">

                                            {% if (data['childNationalityCount'] > 0) %}

                                            {% for id in data['childNationalityId']|reverse %}
                                            
                                            <dl class="govuk-summary-list govuk-!-margin-bottom-4 ">                    
                                                <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">
                                                    {{data['childNationalities'][id]}}
                                                </dt>
                                                <dd class="govuk-summary-list__actions">
                                                    <a class="govuk-link" href="#">
                                                    Remove<span class="govuk-visually-hidden"> name</span>
                                                    </a>
                                                </dd>
                                                </div>
                                            </dl>
                                            {% endfor %}
                                            
                                            <details class="govuk-details" data-module="govuk-details">
                                                <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    Add another country
                                                </span>
                                                </summary>
                                                <div class="govuk-details__text">
                                                
                                                {% endif %}

                                                <div class="govuk-form-group">
                                                <label class="govuk-label" for="other">
                                                    Country name
                                                </label>
                                                {% if (noCountryAddedError != '')%}
                                                <span id="national-insurance-number-error" class="govuk-error-message">
                                                    <span class="govuk-visually-hidden">Error:</span> {{ noCountryAddedError }}
                                                </span>
                                                {% endif%}
                                                <input class="govuk-input govuk-!-width-two-thirds {% if (noCountryAddedError != '') %} govuk-input--error{% endif %}" id="child-different-country" name="child-different-country" type="text">
                                                </div>
                                                <button class="govuk-button govuk-button--secondary govuk-!-margin-top-5" data-module="govuk-button" name="submit-button" value="add">Add</button>
                                            </details>
                                        </div>  
                                        </div>
                                        <div class="govuk-checkboxes__divider">or</div>
                                        <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="child-unsure" name="child-unsure" type="checkbox" {% if (data['child-unsure'] != undefined) %} checked {% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label" for="nationality-unsure">
                                            Not sure
                                        </label>
                                        </div>                            
                                        
                                </fieldset>

                                <!-- Buttons -->
                                {% include "../../../includes/buttons-xui.html" %}
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}