{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="step-5-2-4b" method="post" class="form" id="birth-father-form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">The birth father’s or other parent’s details</span>
            <h2 class="govuk-fieldset__heading">
              Where were they born?
            </h2>
          </legend>

          <div class="govuk-form-group">

            <input class="govuk-input" id="full-name" name="childs-name" type="text" autocomplete="name"
              spellcheck="false">
          </div>

          </fieldset>

          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>

      </div>
    </div>


    </form>

</div>
</div>
</main>
</div>

{% endblock %}
