{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set contactError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#first-applicant-contact' %}
          {% set contactError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/applicants/first-applicant-contact" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">First applicant</span>
            <h1 class="govuk-fieldset__heading">
              What are your contact details?
            </h1>
          </legend>

          <span id="passport-issued-hint" class="govuk-hint">
            This is so we can contact you with updates or questions about your application..<br><br>Select all that apply.
          </span>

          <div class="govuk-form-group {% if (contactError != '')%}govuk-form-group--error{% endif%}">
            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
              <span id="nationality-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ contactError }}
              </span>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="email" name="first-applicant-contact-options" type="checkbox"
                    value="email" data-aria-controls="conditional-citizenship-conditional" {% if (data['first-applicant-contact-options'] == 'phone') %} checked{%endif%}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                    Email address &ndash; <span class="govuk-!-font-weight-bold">jane@goodall.com</span>
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="phone" name="first-applicant-contact-options" type="checkbox"
                    value="phone" data-aria-controls="conditional-citizenship-conditional-2" {% if (data['first-applicant-contact-options'] == 'phone') %} checked{%endif%}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                    UK Phone number
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-citizenship-conditional-2">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-phone">
                      Phone number
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="contact-by-phone" name="first-applicant-phone-number"
                      type="tel" value="{{ data['first-applicant-phone-number'] }}">
                  </div>
                </div>
                <!-- <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="text" name="first-applicant-contact-options"
                    type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3" {% if (data['first-applicant-contact-options'] == 'text message') %} checked{%endif%}>
                  <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                    Text message
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                  id="conditional-citizenship-conditional-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-text">
                      Mobile phone number
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="contact-by-text" name="text-number"
                      type="tel" value="{{ data['text-number'] }}">
                  </div>

                </div> -->
              </div>
            </fieldset>
          </div>


          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}


        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
