{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set secondPostcodeError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#second-applicant-address' %}
          {% set secondPostcodeError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}

      <span class="govuk-caption-l">{{ data['secondApplicant'] }}</span>
      <h1 class="govuk-heading-l  govuk-!-margin-bottom-2">
        What's your home address?
      </h1>
      <div id="nationality-hint" class="govuk-hint">
        We'll send all court papers to this address.
      </div>

        <form action="/version-1/applicants/second-applicant-address" method="post" class="form">

          <div class="govuk-form-group {% if (secondPostcodeError != '')%} govuk-form-group--error {% endif%}">

            <label class="govuk-label govuk-label--m" for="postcode">
              Postcode
            </label>

              {% if (secondPostcodeError != '')%}
              <span id="gender-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ secondPostcodeError }}
              </span>
              {% endif%}

            <input class="govuk-input govuk-input--width-10" id="width-10" name="second-applicant-address" type="text" value="{{data['second-applicant-address'] }}">

          </div>
          <div class="govuk-form-group">
            <p><a href="second-applicant-enter-address-manually.html">Or enter address manually</a></p>
          </div>


          <!-- Buttons -->
          {% include "../../includes/buttons0.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
