{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Your xxx</span>
      <h2 class="govuk-heading-l">
        What is your local authority area?
      </h2>

    <div class="govuk-form-group">
      <span id="changed-name-hint" class="govuk-hint">
        Some helpful text...
      </span>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
    </div>


    <a href="photo-upload" class="govuk-button">Save and continue</a>
    <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}
