{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">What's your address?</h2>

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Address
            </label>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>

        </div>
        <div class="govuk-form-group">
          <p><a href="">Or enter address manually</a></p>
        </div>

        <a href="step-2-3" class="govuk-button">Find</a>
        <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
