{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">


  </h1><div class="moj-banner">

      <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
      <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
      C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>
      
      <div class="moj-banner__message">
      <span class="moj-banner__assistive">information</span>The child must have lived with you for 10 weeks to send off the application but you can still continue</div>
      
      </div> 



</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care

<br>
<br>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Add application details
        </h2>
        <ul class="app-task-list__items">
          <!--<li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="../version-3-3/about-application/talked-with-agency.html">
                Collaboration with social worker
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>

          </li><-->

          <li class="app-task-list__item">

            <span class="app-task-list__task-name">


              <a href="./about-application/number-of-children-saved.html">
                Number of children in application
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>

          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="./about-application/number-of-applicants-saved.html">
                Your relationships
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
        </ul>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Add the child's details
        </h2>
        <ul class="app-task-list__items">
          <!-- <p><strong>First child</strong></p><-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1.html" aria-describedby="eligibility-completed">
                Their birth certificate details
              </a></span><br>
            <span id="changed-name-hint" class="govuk-hint">
              You'll also need to upload their birth certificate.
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1-2.html" aria-describedby="eligibility-completed">
                Adoption certificate details
              </a></span><br>
            <span id="changed-name-hint" class="govuk-hint">
              Add information for the adoption certificate, if your application is approved.
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1-3.html" aria-describedby="eligibility-completed">
                Their history with you
              </a>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-2.html" aria-describedby="eligibility-completed">
                Their language, beliefs and culture </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-3.html" aria-describedby="eligibility-completed">
                Their health
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-4.html" aria-describedby="eligibility-completed">
                Their education
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-5.html" aria-describedby="eligibility-completed">
                Their birth parents' details and wishes
              </a>
            </span>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Add your details
        </h2>
        <ul class="app-task-list__items">
          <!-- <p><strong>First child</strong></p><-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-1" aria-describedby="eligibility-completed">
                Your relationship
              </a>
            </span>
          </li>
          <!--<p><strong>First applicant</strong></p><-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2" aria-describedby="eligibility-completed">
                Birth certificate details and address details
              </a>
              </a></span><br>
            <span id="changed-name-hint" class="govuk-hint">
              You'll need to upload your birth certificate and 2 pieces of photo ID.
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-3" aria-describedby="eligibility-completed">
                Languages, beliefs and culture
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-4" aria-describedby="eligibility-completed">
                Education and occupation
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-5" aria-describedby="eligibility-completed">
                Other people in your life
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-6" aria-describedby="eligibility-completed">
                Experience with other children
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-7" aria-describedby="eligibility-completed">
                Reasons for applying and hopes for the child
              </a>
            </span>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Add your adoption contacts
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-1">
                Your social worker or adoption agency details
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-2">
                The children’s social worker’s details
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-3">
                Your legal representative's details (optional)
              </a>
            </span>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span>Financial payments
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-4">
                Financial aid
              </a>
            </span>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span>Review application, pay and send
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="check-your-answers.html">
                Review application, pay and send
              </a>
            </span>
          </li>
        </ul>
      </li>

    </ol>

  </div>
</div>

{% endblock %}