<article>
    <div style="display: flex; align-items:right; padding-top: 0px;">
        <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

        <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected="">Select action</option>
            <option value="published">Submit amended application</option>
            <option value="published">Link respondent</option>
            <option value="published">Add Note</option>
            <option value="published">Upload document</option>
            <option value="updated">Stop representing a client</option>
            <option value="updated">Create a case flag</option>
            <option value="updated">Manage case flags</option>
            <option value="updated">Print</option>
        </select>

        <div>
            <a href="creator_create_flag.html">
                <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button">Go</button>
            </a>
        </div>

    </div>

</article>