{% extends "layout-la-portal.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
          Application submitted
      </h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>1234-5678-9012-3456</strong>
      </div>
    </div>
<p class="govuk-body"> We have sent a confirmation email to the email addresses registered.
  <br>
  <br>

The application will now be sent to the court for processing. If you did not upload Annex A as part of the evidence for the application, you should do this as soon as possible to prevent delays.</p>
<br>
<p>An email will be sent to the applicants to let them know that their application is with the court.</p>
<br>
<p>You should discuss any attendance at the hearings with the applicants. Particulary if there is a risk that the birth parents may be there.</p>








      <!-- <form action="/r2/la-portal/CHECK LINK" method="post" class="form">
                <button class="govuk-button" data-module="govuk-button">
                    ?
                </button>
            </form> -->


  </div>
</div>

{% endblock %}
