{% extends "layout-la-portal.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your response to the application has been submitted
      </h1>
      <!-- <div class="govuk-panel__body">
        Your reference number<br><strong>1234-5678-9012-3456</strong>
      </div> -->
    </div>
<p class="govuk-body">An email will be sent to the applicants to let them know that their application is with the court.
<p>We have also sent a confirmation email to the registered email addresses of the local authority for the applicant and the local authority for the child. These email addresses were provided by the applicant.</p>
<p>The email gives more detailed information about the timeline and what happens next.</p>
<p>The application will now be sent to the court for processing. If you did not upload Annex A as part of the evidence for the application, you should do this as soon as possible to prevent delays. Sign into the <a href="">document upload service</a> to submit the annex and any additional evidence. </p>
<p>You can get a copy of the full application once the court starts to process it.</p>








      <!-- <form action="/r2/la-portal/CHECK LINK" method="post" class="form">
                <button class="govuk-button" data-module="govuk-button">
                    ?
                </button>
            </form> -->


  </div>
</div>

{% endblock %}
