{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set 2occupationError = '' %}
  
      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#second-applicant-occupation' %}
          {% set 2occupationError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/applicants/second-applicant-occupation" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Second applicant</span>
          <h1 class="govuk-fieldset__heading">
            What's your current or previous occupation?
          </h1>
        </legend>


        <div class="govuk-form-group {% if (2occupationError != '')%} govuk-form-group--error {% endif%}">
          {% if (2occupationError != '')%}
          <span id="occupation-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your occupation [NEEDS CONTENT]
          </span>
          {% endif%}

          <input class="govuk-input" id="occupation" name="second-applicant-occupation" type="text"  spellcheck="false"
          value="{{ data['second-applicant-occupation'] }}">
        </div>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This information will appear on the adoption certificate, so it must be accurate.
          </strong>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with how to describe your occupation
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You should write your full job title or role. For example, 'Secondary school teacher' not just 'Teacher'.</p>
            <p>If you're retired, add your last role. For example, 'Retired hairdresser'.</p>
            <p>If you're self-employed, include this. For example, 'Self-employed carpenter', not just 'Carpenter'.</p>
            <p>If you're a stay-at-home parent, include this. For example, 'Full-time mum'.</p>
            <p>If you do not have a job, add your last role.</p>
          </div>
        </details>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}