{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% set helpWithFeesError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#apply-help-with-fees' %}
          {% set helpWithFeesError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


        <form action="/research-2/registration/start1" method="post" class="form">

          <div class="govuk-form-group {% if (helpWithFeesError != '')%} govuk-form-group--error {% endif %}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Help with fees</span>
            <h1 class="govuk-fieldset__heading">
              Apply for help with fees
            </h1>
            </legend>

            <p class="govuk-body">The link below will take you to the help with fees application service. This will open in a new tab. You must return to this page to continue with your application to adopt. Your application for help with fees will be processed before the court can look at your application to adopt. This can taken several weeks.</p>

            <p><a href="https://www.gov.uk/get-help-with-court-fees" target="_blank">Get help paying court and tribunal fees - GOV.UK (www.gov.uk)</a></p>

            <p>When you are asked for your form number, you should enter 'A58'.</p>

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Keep your application reference number safe. You will need to enter this number once you have completed your application to adopt.
              </strong>
            </div>            
          
            <p>Once you select continue, you will be asked to create an account for your application to adopt.</p>


          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>


        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
