{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-l">
          Why are you not applying together?
      </h1>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                value="email" data-aria-controls="judge-conditional-yes">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Divorced or seperated
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                value="phone" data-aria-controls="judge-conditional-no">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                They are dead
              </label>
            </div>

            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                  value="phone" data-aria-controls="judge-conditional-no">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                  They have gone crazy
                </label>
              </div>
  
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                    value="phone" data-aria-controls="judge-conditional-no">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    I can't find them
                  </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                      value="phone" data-aria-controls="judge-conditional-no">
                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      Other
                    </label>
                  </div>

                </fieldset>
              </div>
            </div>


        </fieldset>
      </div>



      <a href="../task-list-2.html" class="govuk-button">Save and return</a>

    </div>
  </div>
</div>

{% endblock %}
