{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--<span class="govuk-caption-l">Your xxx</span><-->
      <h2 class="govuk-heading-l">
        Add the first applicant's birth certificate details </h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <label class="govuk-label govuk-label--m" for="passport-number">
            Full name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <label class="govuk-label govuk-label--m" for="passport-number">
            Date of birth
          </label>
          <span id="expiry-hint" class="govuk-hint">
            For example, 31 3 1980
          </span>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day"
                type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month"
                name="expiry-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year"
                name="expiry-year" type="number" pattern="[0-9]*">
            </div>
          </div>

        </fieldset>

      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <div class="govuk-form-group">
            <h3 class="govuk-heading-m">Country of birth</h3>
            <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name"
              spellcheck="false">
          </div>

        </fieldset>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <label class="govuk-label govuk-label--m" for="passport-number">
            Gender
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="passport-number">
          Upload birth certificate
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>

      <a href="background-2" class="govuk-button">Save and continue</a>
      <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}