{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Your education and occupation</span>
      <h2 class="govuk-heading-l">
        Employment history
      </h2>


      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-20">
          Provide details of your employment history
        </label>
        <span id="more-detail-hint" class="govuk-hint">
          Include details from the past X years
        </span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>



    <a href="../task-list-2" class="govuk-button">Save and continue</a>
    <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}
