{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Your wishes and interests</span>
      <h2 class="govuk-heading-l">
        The child's thoughts and feelings
      </h2>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="width-20">
          Have you discussed the adoption with the child?
        </label>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
              value="email" data-aria-controls="judge-conditional-yes">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
              value="phone" data-aria-controls="judge-conditional-no">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
              No
            </label>
          </div>

          <div class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
            id="judge-conditional-yes">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="width-20">
                How do they feel about it?
              </label>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>

            </fieldset>
          </div>
      </div>

      <br>

    <a href="../task-list-2" class="govuk-button">Save and continue</a>
    <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}
