{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--<span class="govuk-caption-l">Your xxx</span><-->
      <h2 class="govuk-heading-l">
        Upload photo ID
      </h2>

      <p>Upload scans of 2 types of photo ID, for example passport photo page and driver's licence.</p>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="passport-number">
          Upload first photo ID
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="passport-number">
          Upload first photo ID
        </label>
        <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
      </div>


      <a href="../task-list-2" class="govuk-button">Save and continue</a>
      <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}