{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Your xxx</span>
      <h2 class="govuk-heading-l">
        Upload your identification
      </h2>

      <p>You will need to upload 2 forms of identification. These can be your drivers licence or...</p>
    <a href="photo-upload-2" class="govuk-button">Choose documents</a>
    <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}
