{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!-- <span class="govuk-caption-l">Your relationship</span><-->
            <h2 class="govuk-fieldset__heading">
              Your relationship
            </h2>
          </legend>

          <div class="govuk-form-group">
            <h3 class="govuk-heading-m">When did you get married or enter into a civil partnership?</h3>
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <span id="expiry-hint" class="govuk-hint">
                For example, 31 3 2011
              </span>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expiry-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day"
                    name="expiry-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expiry-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month"
                    name="expiry-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expiry-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year"
                    name="expiry-year" type="number" pattern="[0-9]*">
                </div>
              </div>

            </fieldset>

          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">

              <div class="govuk-form-group">
                <h3 class="govuk-heading-m">Where was the ceremony?</h3>
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
              </div>

            </fieldset>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Upload marriage or civil partnership certificate
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </div>
        </fieldset>
      </div>

      <a href="../task-list-2.html" class="govuk-button">Save and continue</a>
      <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>
    </div>

  </div>
  </main>





  {% endblock %}