{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Your relationship</span>
            <h1 class="govuk-fieldset__heading">
              Marriage header
            </h1>
          </legend>

          <div class="govuk-form-group">
            <h3 class="govuk-heading-m">Upload marriage certificate</h3>
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <label class="govuk-label govuk-label--m" for="passport-number">

              </label>
              <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </fieldset>
          </div>


      <div class="govuk-form-group">
        <a href="../task-list-2" class="govuk-button">Save and continue</a>
        <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>
      </div>

    </div>
</main>





    {% endblock %}
