{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set helpwithfeesError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#help-with-fees' %}
          {% set helpwithfeesError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}

      <form action="/research-8/check-pay-and-submit/need-help-with-fees" method="post" class="form">
        <div class="govuk-form-group {% if (helpwithfeesError != '')%} govuk-form-group--error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ data['paySubmit'] }}</span>
        <h1 class="govuk-fieldset__heading">
          Do you want help paying your fee?
        </h1>
        </legend>
        <p class="govuk-body">If you have little or no savings, are on certain benefits or have a low income you may be able to get help with paying the <b>£183</b> fee.</p>
        {% if helpwithfeesError != '' %}
          <span class="govuk-error-message govuk-form">
            <span class="govuk-visually-hidden">Error:</span> {{ helpwithfeesError }}
          </span>
        {% endif %}

          <fieldset class="govuk-fieldset" role="group" aria-describedby="help-with-fees">
        <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="help-with-fees" name="help-with-fees" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="help-with-fees-1">
                Yes
              </label>
              </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="help-with-fees-2" name="help-with-fees" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="help-with-fees-2">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button" name="continue" value="save-and-continue">
            Continue
          </button>
        </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}