{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Application sent
            </h1>
            <div class="govuk-panel__body">
              Your reference number<br><strong>HDJ2123F</strong>
            </div>
          </div>


          <h2 class="govuk-heading-m">What happens next</h2>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              You must now send the child's original birth certificate to Family Court Building, Main Road, Southampton,
              S1 8HE
            </strong>
          </div>


          <p class="govuk-body">
            We’ve sent your application to your social worker.</p>


          <p>They'll now add more information to your application, so it can be sent to the courts.
          </p>
          <p class="govuk-body">
            <p class="govuk-body">We've emailed <strong>hello@mail.com</strong> a confirmation that this application has
              been sent.</p>
            <p class="govuk-body"> We'll email again when the application progresses.
            </p>

            <p class="govuk-body">
              <a href="#" class="govuk-link">What did you think of this service?</a> (Takes 30 seconds)
            </p>
        </div>
      </div>
    </main>
  </div>

</div>

{% endblock %}