{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Add application details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="../version-3-3/about-application/talked-with-agency.html">
                Collaboration with social worker
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>

          </li>

          <li class="app-task-list__item">

            <span class="app-task-list__task-name">


              <a href="./about-application/number-of-children-saved.html">
                Number of children in application
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>

          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="./about-application/number-of-applicants-saved.html">
                Your relationships
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
        </ul>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Add the child's details
        </h2>
        <ul class="app-task-list__items">
          <!-- <p><strong>First child</strong></p><-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1.html" aria-describedby="eligibility-completed">
                Their birth certificate, names and placement
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-2.html" aria-describedby="eligibility-completed">
                Their language, beliefs and culture </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-3.html" aria-describedby="eligibility-completed">
                Their health
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-4.html" aria-describedby="eligibility-completed">
                Their education
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-5.html" aria-describedby="eligibility-completed">
                Birth parents' details and wishes
              </a>
            </span>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Add your details
        </h2>
        <ul class="app-task-list__items">
          <!-- <p><strong>First child</strong></p><-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-1" aria-describedby="eligibility-completed">
                Your relationship
              </a>
            </span>
          </li>
          <!--<p><strong>First applicant</strong></p><-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2" aria-describedby="eligibility-completed">
                Birth certificate details, address and photo ID
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-3" aria-describedby="eligibility-completed">
                Languages, beliefs and culture
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-4" aria-describedby="eligibility-completed">
                Education and occupation
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-5" aria-describedby="eligibility-completed">
                Other people in your life
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-6" aria-describedby="eligibility-completed">
                Experience with other children
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-7" aria-describedby="eligibility-completed">
                Reasons for applying and hopes for the child
              </a>
            </span>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Add your adoption contacts
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-1">
                Your social worker or adoption agency details
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-2">
                The children’s social worker’s details
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-3">
                Your legal representative's details (optional)
              </a>
            </span>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span>Financial payments
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-4">
                Financial aid
              </a>
            </span>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span>Review application, pay and send
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="check-your-answers.html">
                Review application, pay and send
              </a>
            </span>
          </li>
        </ul>
      </li>

    </ol>

  </div>
</div>

{% endblock %}