{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-m">Your details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Amy Walker
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            31 03 1989
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your address
          </dt>
          <dd class="govuk-summary-list__value">
            Buckingham Palace <br> LONDON <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How should we contact you?
          </dt>
          <dd class="govuk-summary-list__value">
            Phone <br>Email
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07495478934
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your photo ID
          </dt>
          <dd class="govuk-summary-list__value">
            licence.png <br>
            passport.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your photo
          </dt>
          <dd class="govuk-summary-list__value">
            amy_walker.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your current or last job
          </dt>
          <dd class="govuk-summary-list__value">
            Secondary school teacher
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Marriage or civil ceremony date
          </dt>
          <dd class="govuk-summary-list__value">
            31 03 2011
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Marriage or civil ceremony location
          </dt>
          <dd class="govuk-summary-list__value">
            Newcastle upon Tyne
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your marriage certificate
          </dt>
          <dd class="govuk-summary-list__value">
            marriage_certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">The child's details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Their full name
          </dt>
          <dd class="govuk-summary-list__value">
            Natalie Jones
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/name">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 2012
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time of birth
          </dt>
          <dd class="govuk-summary-list__value">
            22:48
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth mother's full name
          </dt>
          <dd class="govuk-summary-list__value">
            Susan Jones
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth father's full name
          </dt>
          <dd class="govuk-summary-list__value">
            Unknown
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/address-1">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth certificate
          </dt>
          <dd class="govuk-summary-list__value">
            birch_certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Posting birth certificate to
          </dt>
          <dd class="govuk-summary-list__value">
            Central Family Court<br> 42-49 High Holborn
            <br> London <br> WC1V 6NP

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/dbs">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Child's nicknames
          </dt>
          <dd class="govuk-summary-list__value">
            Nat Jones
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Child's adopted name
          </dt>
          <dd class="govuk-summary-list__value">
            Natalie Walker
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When the child came to live with you
          </dt>
          <dd class="govuk-summary-list__value">
            31 03 2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Was this the same date the child was placed in the care of the local authority?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement order number
          </dt>
          <dd class="govuk-summary-list__value">
            xxxxxx
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement order upload
          </dt>
          <dd class="govuk-summary-list__value">
            order.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth mothers date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            27 04 1985
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is Birth mother still alive?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have Birth mother's current or last known address
          </dt>
          <dd class="govuk-summary-list__value">
            No <br> <br>
            She cannot be found
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth Fathers date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            03 06 1982
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is Birth father still alive?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you have Birth Father's current or last known address
          </dt>
          <dd class="govuk-summary-list__value">
            No <br> <br>
            He has no fixed abode
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the birth father have parental responsibility?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have there been any previous court orders for the child?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Does the child have any siblings or half-siblings?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>



        <br>

        <!--<h3 class="govuk-heading-s">Second applicant</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/name">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/address-1">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
            Doctor
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth certificate
          </dt>
          <dd class="govuk-summary-list__value">
            birth-certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            DBS certificate
          </dt>
          <dd class="govuk-summary-list__value">
            dbs-certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/dbs">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div><-->

      </dl>


      <h2 class="govuk-heading-m">Your adoption contacts</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your social worker or adoption agency details
          </dt>
          <dd class="govuk-summary-list__value">
            Central Recruitment Services Ltd
            <br>
            Linda Paul
            <br>
            Lindapaul@test.com
            <br>
            centralrecruitment@test.com
            <br>
            07915740231
            <br>
            Buckingham Palace <br> LONDON <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Same social worker you worked with when the child was placed
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker-2">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
    </div><-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            The child's social worker's details
          </dt>
          <dd class="govuk-summary-list__value">
            PAM Assessments Ltd
            <br>
            Craig Davis
            <br>
            Craigdavis@test.com
            <br>
            Pamassessments@test.com
            <br>
            07538234761
            <br>
            Buckingham Palace <br> LONDON <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/childs-social-worker">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Declare any other adoption agencies or social workers
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/representation">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is a solicitor helping you with this application?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/financial-aid">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      </dl>


      <h2 class="govuk-heading-m">Finacial Aid</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Declare any payments or rewards given or received
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>



      <form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <a href="declaration.html" class="govuk-button">Continue </a>
        <a href="#" class="govuk-button govuk-button--secondary">Download this page</a>


      </form>

    </div>
  </div>

</div>

{% endblock %}