{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            You cannot apply
          </h1>
        </legend>

        <p class="govuk-body">You cannot apply to adopt at this time. </p>

        <p>This is because you've told us you've not lived in
          the British Isles for the last 12 months.

      </div>
    </div>

    <a href="https://www.gov.uk/" class="govuk-button">Exit to GOV.UK</a>


  </main>
</div>

{% endblock %}