{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sign in placeholder</h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
          Username
        </label>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
          Password
        </label>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
      </div>


      <a href="task-list" class="govuk-button">Sign in</a>





      <p><a href="#">Create an account</a></p>

      <h3 class="govuk-heading-m">Problems signing in</h3>
      <p><a href="#">I have forgotten my username</a></p>
      <p><a href="#">I have forgotten my password</a></p>



    </div>
  </div>

</div>

{% endblock %}