{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set genderError = '' %}
  
      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#first-applicant-gender' %}
          {% set genderError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/applicants/first-applicant-gender" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['firstApplicant'] }}</span>
          <h1 class="govuk-fieldset__heading">
            What's your gender?
          </h1>
        </legend>


        <div class="govuk-form-group {% if (genderError != '')%} govuk-form-group--error {% endif%}">
          {% if (genderError != '')%}
          <span id="gender-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your gender [NEEDS CONTENT]
          </span>
          {% endif%}

          <input class="govuk-input govuk-input--width-10 {% if (genderError != '')%} govuk-input--error {% endif%}" id="full-name" name="first-applicant-gender" type="text"  spellcheck="false"
          value="{{ data['first-applicant-gender'] }}">
        </div>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}