{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/03c0a94a07.js" crossorigin="anonymous"></script>


  </head>

<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->







      <h1 class="govuk-heading-xl">Your adoption application</h1>

      <br>

      <div class="blue-box">
          <span class="govuk-body-m">Application Reference Number
          <h3 class="govuk-heading-l">2283-2245-2364-2352</h3></span>
        </div>
        <br>

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->


<br>


      <div class="govuk-tabs hmcts-sub-navigation" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#past-day">
                The application process
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-week">
                Your adoption application
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#past-year">
                Help and support
              </a>
            </li>
          </ul>




          <section class="govuk-tabs__panel" id="past-day">
              <h2 class="govuk-heading-l">Your application status</h2>

              <div class="hmcts-progress-bar">
                  <ol class="hmcts-progress-bar__list">
                  <li class="hmcts-progress-bar__list-item">
                    <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"><i class="fas fa-check"></i></span>
                    <span class="hmcts-progress-bar__label">Application recieved</span>
                  </li>
                  <li class="hmcts-progress-bar__list-item" aria-current="step">
                    <span class="hmcts-progress-bar__icon"></span>
                    <span class="hmcts-progress-bar__label">Application reviewed</span>
                  </li>
                  <li class="hmcts-progress-bar__list-item">
                    <span class="hmcts-progress-bar__icon"></span>
                    <span class="hmcts-progress-bar__label">Reports submitted</span>
                  </li>
                  <li class="hmcts-progress-bar__list-item">
                    <span class="hmcts-progress-bar__icon"></span>
                    <span class="hmcts-progress-bar__label">The court decides</span>
                  </li>
                  <li class="hmcts-progress-bar__list-item">
                    <span class="hmcts-progress-bar__icon"></span>
                    <span class="hmcts-progress-bar__label">Adoption decision made</span>
                  </li>

                  </ol>
                </div>

                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                              Application reviewed
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                          <p class="govuk-body">The court will:</p>

                          <P>- check your application and get in touch if they have questions</P>
                          <p>- ask your and the child’s social workers to finish and send their paperwork</P>
                          <p>- ask the local authority to write to all parties, including the birth parents if relevant, with the ‘initial direction’ - this includes the hearing date and things that must be done before that date (‘directions’).</P>


                          <p>The birth parents have the right to ask to oppose the adoption. This can happen at any time before an adoption application is approved. If this happens, the judge will ask the birth parents to explain what has changed since the placement order was made.</p>
                      </div>
                    </div>
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                              Reports submitted
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                        <p class='govuk-body'>Both social workers have submitted their reports and this will then be matched to your application.</p>
                      </div>
                    </div>
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                              The court decides
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                        <p class='govuk-body'>If all the directions have been done, the hearing should happen on the date in the initial direction.</p>
                        <p> If the birth parents have asked to oppose the adoption, the judge will use this hearing to listen to their case. If there is no request to oppose, this will become the final hearing. The judge will look at your application and the social workers’ reports to make a decision.</p>
                        <p> You may go to this hearing, but usually the court will suggest you do not. This is because there’s a chance you and the birth parents could accidentally meet.</p>
                        <p> The child cannot go to this hearing.</p>
                      </div>
                    </div>
                    <div class="govuk-accordion__section ">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                              Adoption decision made
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                        <p class='govuk-body'>If your application is successful, the court will schedule a ‘celebration hearing’ for you and the child. This blah blah blah.</p>
                      </div>
                    </div>
                  </div>







            </section>





            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">


                <h2 class="govuk-heading-m">Your details</h2>


                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Amy Walker
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      31 March 1989
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Female
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Country of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      United Kingdom
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Buckingham Palace <br> London <br> SW1A 1AA
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      How should we contact you?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Email – amy.walker@test.com <br>
                      Phone

                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Phone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      07495478934
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your photo ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="">licence.png</a><br>
                      <a href="">passport.png</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your personal photo
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="">amy_walker.png</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your current or last job
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Secondary school teacher
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Marriage or civil ceremony date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      31 March 2011
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Marriage or civil ceremony location
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Newcastle upon Tyne
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your marriage or civil ceremony certificate
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="">marriage_certificate.png</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>

                </dl>

                <h2 class="govuk-heading-m">The child's details</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Their full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Natalie Jones
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      5 January 2012
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Time of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      10:48pm
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Female
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Country of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      United Kingdom
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Birth mother's full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Susan Jones
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Birth father's full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      William Peter Jones
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Birth certificate
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="">birth_certificate.png</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Posting birth certificate to
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Central Family Court<br> 42-49 High Holborn
                      <br> London <br> WC1V 6NP

                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Child's nicknames
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Nat Jones
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Child's name after adoption
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Natalie Walker
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      When the child was placed with you
                    </dt>
                    <dd class="govuk-summary-list__value">
                      31 March 2019
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date child was placed in local authority care </dt>
                    <dd class="govuk-summary-list__value">
                      31 March 2019
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Placement order number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      LDN76519
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Placement order
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <a href="">placement_order.png</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Birth mother's date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      27 April 1985
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Is the birth mother still alive?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you have birth mother's current or last known address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No <br> <br>
                      She cannot be found
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Birth father's date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      3 June 1982
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Is birth father still alive?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Do you have the birth father's current or last known address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No <br> <br>
                      He has no fixed abode
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Does the birth father have parental responsibility?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Have there been any previous court orders for the child?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Does the child have any siblings or half-siblings?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>



                  <br>

                  <!--<h3 class="govuk-heading-s">Second applicant</h3>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sarah Philips
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="about-you/name">
                        Change<span class="govuk-visually-hidden"> previous application number</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      5 January 1978
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="about-you/date-of-birth">
                        Change<span class="govuk-visually-hidden"> licence type</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      72 Guild Street<br>London<br>SE23 6FH
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="about-you/address-1">
                        Change<span class="govuk-visually-hidden"> home address</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Occupation
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Doctor
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="about-you/occupation">
                        Change<span class="govuk-visually-hidden"> home address</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Birth certificate
                    </dt>
                    <dd class="govuk-summary-list__value">
                      birth-certificate.png
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="about-you/birth-cert">
                        Change<span class="govuk-visually-hidden"> home address</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      DBS certificate
                    </dt>
                    <dd class="govuk-summary-list__value">
                      dbs-certificate.png
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="about-you/dbs">
                        Change<span class="govuk-visually-hidden"> home address</span>
                      </a>
                    </dd>
                  </div><-->

                </dl>


                <h2 class="govuk-heading-m">Your adoption contacts</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Your social worker or adoption agency details
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Future Families Adoption Agency
                      <br>
                      Linda Paul
                      <br>
                      Lindapaul@test.com
                      <br>
                      futurefamilies@test.com
                      <br>
                      07915740231
                      <br>
                      Buckingham Palace <br> London <br> SW1A 1AA
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Same social worker you worked with when the child was placed
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Yes
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="about-your-prof-help/social-worker-2">
                        Change<span class="govuk-visually-hidden"> date of birth</span>
                      </a>
                    </dd>
              </div><-->
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      The child's social worker's details
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Essex County Council Children's Services
                      <br>
                      Craig Davis
                      <br>
                      Craigdavis@test.com
                      <br>
                      Pamassessments@test.com
                      <br>
                      07538234761
                      <br>
                      Buckingham Palace <br> London <br> SW1A 1AA
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Declaration: have any other agencies been involved in adoption arrangements?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Is a solicitor helping you with this application?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    <dd class="govuk-summary-list__actions">

                    </dd>
                  </div>
                </dl>

                </dl>


                <h2 class="govuk-heading-m">Financial payments</h2>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Declaration: have you made or received any payments or financial rewards during these adoption arrangements?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      No
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>
                </dl>

                <button class="govuk-button" data-module="govuk-button">
                    Download Application PDF
                  </button>


            </section>



            <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
              <h2 class="govuk-heading-l">Help and support</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


              <h3 class="govuk-heading-m" id="subsection-title">
                  Getting help
                </h3>


                <p class="govuk-body-s"><strong class="bold-xsmall">Email</strong>
                    <br>
                    adoption-west-london@justice.gov.uk</p>

                <p class="govuk-body-s"><strong class="bold-xsmall">Phone</strong>
                    <br>
                    0300 303 0642
                    <br>
                    (Monday to Friday, 8.30am to 5pm)</p>


                <p class="govuk-body-s"><strong class="bold-xsmall">Courts and Tribunals Service Centre</strong>
                    <br>
                    West London Family Court
                    <br>
                    4 Goose Green West
                    <br>
                    Feltham
                    <br>
                    NG2 9QN</p>




                  <br>

                  <h3 class="govuk-heading-s" id="subsection-title">
                      Useful links
                    </h3>


                    <a href="https://www.gov.uk/child-adoption">Gov.uk child adoption landing page</a>

                    <br><br>
                    <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/336069/Adoption_NMS_July_2014_for_publication.pdf">Adoption national minimum standards</a>

                    <br><br>
                    <a href="https://www.gov.uk/adoption-pay-leave">Adoption pay and leave</a>


            </section>
          </div>


    </div>


  </div>


  <div class="govuk-grid-row">






    <div class="govuk-grid-column-two-thirds">


    </div>

    <div class="govuk-grid-column-one-third">




      <br>





        </aside>

      </div>


  </div>

</div>

{% endblock %}
