{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/03c0a94a07.js" crossorigin="anonymous"></script>
  </head>

<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <h1 class="govuk-heading-xl">Your adoption application</h1>

      <br>

      <div class="hmcts-progress-bar">
        <ol class="hmcts-progress-bar__list">
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"><i class="fas fa-check"></i></span>
          <span class="hmcts-progress-bar__label">Application recieved</span>
        </li>
        <li class="hmcts-progress-bar__list-item" aria-current="step">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Application reviewed</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Reports submitted</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">The court decides</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Adoption decision made</span>
        </li>

        </ol>
      </div>
<br>
<br>
    </div>


  </div>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">

      <div class="blue-box">
        <span class="govuk-caption-m">Application submitted</span>
        <h3 class="govuk-heading-m">11 December 2019</h3>
      </div>

      <br>

      <p class="govuk-body-s"><strong>Reference:</strong>&nbsp;&nbsp;&nbsp; 2283-2245-2364-2352
          <br>
      <strong>Child's name:</strong> &nbsp;&nbsp;&nbsp;Mick Angel
      <br>
      <strong>Applicant's name:</strong> &nbsp;&nbsp;&nbsp;Rebecca Williams</p>

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      
<br>
<p><button class="govuk-button" data-module="govuk-button">
    Download Application PDF
  </button></p>



      <aside class="app-related-items" role="complementary"></aside>
        <h3 class="govuk-heading-s" id="subsection-title">
          Getting help
        </h3>


        <p class="govuk-body-s"><strong class="bold-xsmall">Email</strong>
            <br>
            adoption-west-london@justice.gov.uk</p>

        <p class="govuk-body-s"><strong class="bold-xsmall">Phone</strong>
            <br>
            0300 303 0642
            <br>
            (Monday to Friday, 8.30am to 5pm)</p>


        <p class="govuk-body-s"><strong class="bold-xsmall">Courts and Tribunals Service Centre</strong>
            <br>
            West London Family Court
            <br>
            4 Goose Green West
            <br>
            Feltham
            <br>
            NG2 9QN</p>

            
      </aside>

    </div>


    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Writing well for the web
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>This is the content for Writing well for the web.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Writing well for specialists
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>This is the content for Writing well for specialists.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Know your audience
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>This is the content for Know your audience.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    How people read
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>This is the content for How people read.</p>
              </div>
            </div>
          </div>






          <h3 class="govuk-heading-m">Your adoption contacts</h3>
          <p>Here are the details of your adoption contacts, taken from your application.</p>

          <h4 class="govuk-heading-s">Your social worker or adoption agency details</h4>
           <p>       
            Future Families Adoption Agency
            <br>
            Linda Paul
            <br>
            Lindapaul@test.com
            <br>
            futurefamilies@test.com
            <br>
            07915740231
            <br>
            Buckingham Palace <br> London <br> SW1A 1AA</p>



            <h4 class="govuk-heading-s">The child's social worker's details</h4>
            <p>       
              Essex County Council Children's Services
              <br>
              Craig Davis
              <br>
              Craigdavis@test.com
              <br>
              Pamassessments@test.com
              <br>
              07538234761
              <br>
              Buckingham Palace <br> London <br> SW1A 1AA</p>

      


    </div>


  </div>

</div>

{% endblock %}
