{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="date" id="siblingsForm" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Orders for the child's siblings</span>
            <h2 class="govuk-fieldset__heading">
              Which court made the order?
            </h2>
          </legend>

          <input class="govuk-input" id="event-name" name="event-name" type="text">
      </div>
      </label>
    </div>

</div>

<button class="govuk-button" data-module="govuk-button">Save and continue</button>
<a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a>


</div>
</form>
</div>
</div>
</main>
</div>

{% endblock %}