{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set agencyError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#agency' %}
          {% set agencyError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/children/applicant-adoption-agency-or-social-worker" method="post" class="form">

        <div class="govuk-form-group {% if (agencyError != '')%} govuk-form-group--error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['socialworker'] }}</span>
          <h1 class="govuk-fieldset__heading">
            Was the child placed with you by an adoption agency or local authority?
          </h1>
        </legend>

        {% if (agencyError != '')%}
          <span class="govuk-error-message govuk-form">
            <span class="govuk-visually-hidden">Error:</span> {{ agencyError }}
          </span>
        {% endif %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="how-many-people-are-applying-to-adopt">

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="agency" type="radio" value="yes" {% if (data['agency'] === "yes") %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="agency" type="radio" value="no" {% if (data['agency'] === "no") %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>
        </div>

        <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </div>
      </form>
  </div>
</div>

{% endblock %}
