{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set noCourtError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#no-court-name' %}
          {% set noCourtError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/children/family-court-finder" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ data['court'] }}</span>
        <h1 class="govuk-fieldset__heading">
            Choose the family court
        </h1>
        </legend>


        <p class="govuk-body">There may be court hearings related to your application to adopt. The birth parents may be present at these. You do not have to attend these hearings.</p>

        <p class="govuk-body">You should discuss which court to choose with your social worker or adoption agency. They will represent you at the court if you are not attending.</p>
          <p class="govuk-body">Find the family court <a href="#" class="govuk-link">https://www.gov.uk/find-court-tribunal</a> in the town or region you want your application heard. The link will open in a new tab. Return to this tab to enter the court name.</p>

          <div class="govuk-form-group {% if (noCourtError != '') %} govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="ref">
            Enter the full name of the court
          </label>
          {% if (noCourtError != '')%}
          <span id="number-error" class="govuk-error-message">Enter the name of the court
          </span>
          {% endif%}
          <input class="govuk-input govuk-!-width-two-third {% if (noCourtError != '') %} govuk-input--error{% endif %}" id="court-name" name="court-name" type="text" spellcheck="false" autocomplete="court-name">
        </div>




          <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button" name="continue" value="save-and-continue">
            Save
          </button>
          </div>

        </form>
    </div>
  </div>
</div>

{% endblock %}
