{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set nameError = '' %}
  
      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#father-name' %}
          {% set nameError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/children/father-name" method="post" class="form">

        <div class="govuk-form-group {% if (nameError != '')%} govuk-form-group--error {% endif%}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['father'] }}</span>
          <h1 class="govuk-fieldset__heading">
            What is the full name of the child's birth father?
          </h1>
          </legend>
          <div id="namehint" class="govuk-hint">
            This will be on the child's full birth certificate. Ask the adoption agency or social worker if you're not sure.
          </div>
  
          {% if (nameError != '')%}
          <span id="name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ nameError }}
          </span>
          {% endif%}

          <input class="govuk-input {% if (nameError != '')%} govuk-input--error {% endif%}" id="father-name" name="father-name" type="text" autocomplete="name" spellcheck="false"
            value="{{ data['father-name'] }}">
        </div>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}