{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set whyNoAddressError = '' %}
  
      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#mother-why-no-address' %}
          {% set whyNoAddressError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/children/mother-why-no-address" method="post" class="form">
        
        <div class="govuk-form-group {% if (whyNoAddressError != '')%} govuk-form-group--error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['mother'] }}</span>
          <h1 class="govuk-fieldset__heading">
            Why do you not have the child's birth mother's address?
          </h1>
        </legend>

        {% if (whyNoAddressError != '')%}
          <span class="govuk-error-message govuk-form">
            <span class="govuk-visually-hidden">Error:</span> {{ whyNoAddressError }}
          </span>
        {% endif %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="how-many-people-are-applying-to-adopt">

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cannot-be-found" name="mother-why-no-address" type="radio" value="cannot-be-found" {% if (data['mother-why-no-address'] === "cannot-be-found") %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="cannot-be-found">
                  She cannot be found
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no-fixed-address" name="mother-why-no-address" type="radio" value="no-fixed-address" {% if (data['mother-why-no-address'] === "no-fixed-address") %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="no-fixed-address">
                  She has no fixed address
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {% if whyNoAddressError != '' %}
          </div>
        {% endif %}

        <!-- Buttons -->
          {% include "../../includes/buttons.html" %}


      </form>   
  </div>
</div>

{% endblock %}