{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Sibling name
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set typeError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#order-type' %}
          {% set typeError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/children/sibling-change-order-type" method="post" class="form">

        <div class="govuk-form-group {% if (typeError != '')%} govuk-form-group--error {% endif%}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['sibling'] }}{{ data['siblingOrderType'][data['id']] }}</span>
          <h1 class="govuk-fieldset__heading">
            What type of order is it?
          </h1>
          </legend>
          <!-- <div id="case-hint" class="govuk-hint">
            This is on the top right of the order. Ask the adoption agency or social worker if you're not sure.
          </div> -->

          {% if (typeError != '')%}
          <span id="number-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ typeError }}
          </span>
          {% endif%}

          <input class="govuk-input  {% if (typeError != '')%} govuk-input--error {% endif%}" id="sibling-new-order-type" name="sibling-new-order-type" type="text" spellcheck="false" value="{{ data['siblingOrderType'][data['id']] }}">
        </div>

        <input type="hidden" name="sibling-id" value="{{ data['id'] }}">

        <button type="submit" class="govuk-button" data-module="govuk-button" name="submit-button" value="continue">
          Continue
        </button>

      </form>
    </div>
  </div>
</div>

{% endblock %}
