{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set nameError = '' %}
      {% set solicitorNameError = '' %}
      {% set phoneError = '' %}

      {% if errors | length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
        {% for error in errors %}
          {% if error.href == '#name' %}
            {% set nameError = error.text %}
          {% endif %}
          {% if error.href == '#solicitorName' %}
            {% set solicitorNameError = error.text %}
          {% endif %}
          {% if error.href == '#phone' %}
            {% set phoneError = error.text %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <form action="/version-1/children/solicitor-details" method="post" class="form">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ data['solicitor'] }}</span>
            <h1 class="govuk-fieldset__heading">
              Solicitor details
            </h1>
          </legend>
          
          <div class="govuk-form-group">
            <label class="govuk-label" for="name">
              Practice or company name
            </label>
            {% if nameError != '' %}
            <span id="contact-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ nameError }}
            </span>
            {% endif %}

            <input class="govuk-input govuk-!-width-two-thirds {% if (nameError != '') %} govuk-input--error{% endif %}" id="solicitor-company-name" name="solicitor-company-name" type="text" value="{{ data['solicitor-company-name'] }}">
          </div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact">
              Solicitor's name
            </label>
            {% if solicitorNameError != '' %}
            <span id="contact-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ solicitorNameError }}
            </span>
            {% endif %}
            <input class="govuk-input govuk-!-width-two-thirds {% if (solicitorNameError != '') %} govuk-input--error{% endif %}" id="solicitor-name" name="solicitor-name" type="text" value="{{ data['solicitor-name'] }}">
          </div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="phone-number">
              Phone number
            </label>
            {% if phoneError != '' %}
            <span id="contact-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ phoneError }}
            </span>
            {% endif %}
            <input class="govuk-input govuk-input--width-10 {% if (phoneError != '') %} govuk-input--error{% endif %}" id="solicitor-phone-number" name="solicitor-phone-number" type="number" value="{{ data['solicitor-phone-number'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="contact">
              Solicitor's email address (if known)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds {% if (phoneError != '') %} govuk-input--error{% endif %}" id="solicitor-email-address" name="solicitor-email-address" type="email" value="{{ data['solicitor-email-address'] }}">
          </div>
        
                        
        </fieldset>

        <!-- Buttons -->
        {% include "../../includes/buttons.html" %}
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
