{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set noRadioChosenError = '' %}
      {% set numberError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#no-radio-chosen' %}
          {% set noRadioChosenError = error.text %}
        {% endif %}
        {% if  error.href == '#no-number' %}
          {% set numberError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/version-1/children/applicant-social-worker-number" method="post" class="form">

        <div class="govuk-form-group {% if (noRadioChosenError != '')%} govuk-form-group--error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['socialworker'] }}</span>
          <h1 class="govuk-fieldset__heading">
            Do you know their number?
          </h1>
        </legend>

        {% if (noRadioChosenError != '')%}
          <span class="govuk-error-message govuk-form">
            <span class="govuk-visually-hidden">Error:</span> {{ noRadioChosenError }}
          </span>
        {% endif %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="how-many-people-are-applying-to-adopt">

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="applicant-social-worker-number" type="radio" value="yes" data-aria-controls="conditional-contact" {% if (data['applicant-social-worker-number'] === "yes") %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Please enter their number.
                  </label>
                  {% if (numberError != '')%}
                  <span class="govuk-error-message govuk-form">
                    <span class="govuk-visually-hidden">Error:</span> {{ numberError }}
                  </span>
                  {% endif %}
                  <input class="govuk-input{% if (numberError != '') %} govuk-input--error{% endif %}" id="number" name="number" type="text" spellcheck="false" value="{{data['number']}}">
                </div>
              </div>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="applicant-social-worker-number" type="radio" value="no" {% if (data['applicant-social-worker-number'] === "no") %} checked {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>

            </div>
          </fieldset>
        </div>
        </div>

        <!-- Buttons -->
          {% include "../../includes/buttons.html" %}


      </form>
  </div>
</div>

{% endblock %}
