// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-radios__conditional--applicants {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
  margin-top: 40px;
}

.sign-out-link {
  float: right !important;
  padding-top: 5px !important;
}

.float-left {
  margin-bottom: 10px !important;
  p {
    float: left;
  }
  a {
    float: left;
    padding-left: 20px;
  }
}

.float-right {
  float: right !important;
}

.sign-out-link {
  a:link {
    text-decoration: underline;
    font-size: 19px;
  }
}

.started-tag {
  background-color: #b1b4b6 !important;
  color: black;
}

.cant-start-tag {
  background-color: #b1b4b6 !important;
  margin-top: 20px;
  color: black;
}

.task-list-start-button {
  margin-bottom: unset;
}
.start-item {
  border: none !important;
}

.remove-bottom-line {
  border-bottom: none !important;
}

.hide {
  display: none;
}

.fa-check {
  color: white;
}

.blue-box {
  background-color: #1d70b8;
  padding-left: 15px;
  padding-top: 15px;
  height: 80px;
  .govuk-caption-m, .govuk-heading-m {
    color: white;
  }
}

.remove-border {
  border: none !important;
}


.overview-table {
  .govuk-summary-list__key {
    width: 60%;
  }
}


.beccas-button {
  background-color:green;
}