// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.link-button:focus, a:focus {
  background: none!important;
  border: none;
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
}

.link-button:link, a:link {
  background: none!important;
  border: none;
  color: #1d70b8;
}

.link-button:visited, a:visited {
  background: none!important;
  border: none;
  color: #4c2c92;
}

.link-button:hover, a:hover {
  background: none!important;
  border: none;
  color: #003078;
}

.link-button:active, a:active {
  background: none!important;
  border: none;
  color: #0b0c0c;
}

.link-button:focus, a:focus {
  background: none!important;
  border: none;
  color: #0b0c0c;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1875rem;
  line-height: 1.31579;
  text-decoration: underline;
  cursor: pointer;
  outline: 3px solid transparent;
  color: #1d70b8;
  margin-top: 10px;
}


.govuk-radios__conditional--applicants {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
  margin-top: 40px;
}

.sign-out-link {
  float: right !important;
  padding-top: 5px !important;
}

.float-left {
  margin-bottom: 10px !important;
  p {
    float: left;
  }
  a {
    float: left;
    padding-left: 20px;
  }
}

.float-right {
  float: right !important;
}

.sign-out-link {
  a:link {
    text-decoration: underline;
    font-size: 19px;
  }
}

.profile-link {
  float: right;
  a:link {
    text-decoration: underline;
    font-size: 19px;
    padding-left: 15px;
  }
}

.started-tag {
  background-color: #b1b4b6	 !important;
  color: black;
}

.changes-tag {
  background-color: #d4351c	 !important;
  color: white;
}

.cant-start-tag {
  background-color: #f3f2f1 !important;
  margin-top: 20px;
  color: black;
}

.task-list-start-button {
  margin-bottom: unset;
}
.start-item {
  border: none !important;
}

.remove-bottom-line {
  border-bottom: none !important;
}

.hide {
  display: none;
}

.fa-check {
  color: white;
}

.blue-box {
  background-color: #1d70b8;
  padding-left: 15px;
  padding-top: 15px;
  height: 80px;
  .govuk-caption-m, .govuk-heading-m, .govuk-body-m, .govuk-heading-l {
    color: white;
  }
}

.remove-border {
  border: none !important;
}


.overview-table {
  .govuk-summary-list__key {
    width: 60%;
  }
}

#accordion-default {
  a {
    font-size: 19px !important;
  }
}

.tabs-custom {
  a {
    font-size: 19px !important;
  }
}

.task-list-inset {
  margin-top: 15px !important;
  margin-bottom: 0px !important;
}

.document-upload-box {
  border-style: dashed;
}


.home-office-inset-text {
  background-color: #EAF8FF !important;
  border-color: #2b8cc4 !important;
}
//
// .home-office-inset-text-error {
//   background-color: #f3dede !important;
//   border-color: #c42b2b; !important;
// }

.panel {
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.2em 0.7em;
  margin-bottom: 0.78947em;
}

h2.govuk-heading-s {
	font-size: 22px;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

.panel-border-wide {
  border-left-width: 10px;
}

.panel-border-wide.alert-default {
  border-color: #2b8cc4;
  background-color: #dbeff9;
}

.panel-border-wide.alert-success {
  border-color: #28a197;
  background-color: #c6ece9;
}

.panel-border-wide.alert-error {
  border-color: #c42b2b;
  background-color: #f3dede;
}


.card {
  margin-top: 1em;
  padding: 30px;
  background: #005EA5;
  h1, p  {
    color: white !important;
  }
  .button-white {
    background-color: white !important;
    box-shadow: 0 1px 0 #0b0c0c;
    border: #0b0c0c 1px solid;
    color: #0b0c0c;
  }
}


.timeline {
  padding: calc(2 * #{5px});
  margin: 0 auto;

  .action_needed {
    background-color: #DEE0E2;
    padding: 5px 20px 5px 15px;

    h2 {
      font-size: 1.2em;
    }

    &:before {
      content: "";
      display: block;
      width: calc(2 * 5px);
      height: calc(2 * 5px);
      border-radius: 50%;
      background-color: #6e777a;
      border: 8px solid #6f777b;
      position: absolute;
      z-index: 2;
      left: -35px;
      top: 16px;
    }
  }

  ul {
    list-style-type: none;
    position: relative;
    padding: 0 0 0 10px;
    margin: 0 0 20px 0;
    &:after {
      content: "";
      position: absolute;
      top: 45px;
      left: -4.5px;
      bottom: 0;
      border-left: 4px solid #6f777b;
      height: 96%;
    }

    li {
      margin: 4px 0 20px 10px;
      padding-left: 15px;
      position: relative;
      display: block;
      border-bottom: 1px solid #DEE0E2;
      &:last-child {
        margin-bottom: 0px;
      }

      .timeline-reference {
        @extend .govuk-heading-s;
        display: table;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: -20px;
          width: 20px;
          top: 9px;
          z-index: -1;
        }
      }

      &:before {
        content: "";
        display: block;
        width: calc(2 * #{5px});
        height: calc(2 * #{5px});
        border-radius: 50%;
        background-color: white;
        border: 4px solid #6F777B;
        position: absolute;
        z-index: 2;
        left: -31px;
        top: 0px;
      }

      h2 {
        @extend .govuk-heading-m;
        margin-top: 0.5em;
        font-size: 0.9em;
      }
    }
  }
}

.timeline-details {
  margin: 10px 0;

  summary {
    font-size: 0.9em;
  }

  span {
    display: block;
    font-size: 0.8em;
    padding-bottom: 5px;
    padding-left: 10px;
    border-left: 4px solid #005EA5;
  }
}

.time {
  color: #555;
  font-size: 16px;
}

.task-list-second-heading {
  font-size: 19px !important;
}


.status {
  background-color: #005EA5;
  color: #FFF;
  padding: 20px;

  p {
    font-weight: 700;
    color: #FFF;
  }

  .status-extra {
    font-weight: normal;
  }

  .govuk-button {
    color: white !important;
    margin-bottom: 0;
  }
}

@include govuk-media-query($from: tablet) {
  .status {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 24px;
      margin: 0;
    }

    .status-extra {
      font-size: 18px;
    }
  }
}

.status-error {
  background-color: #d4351c;
  color: #FFF;
  padding: 20px;

  p {
    font-weight: 700;
    color: #FFF;
  }

  .status-extra {
    font-weight: normal;
  }

  .govuk-button {
    color: white !important;
    margin-bottom: 0;
  }
}

@include govuk-media-query($from: tablet) {
  .status-error {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 24px;
      margin: 0;
    }

    .status-extra {
      font-size: 18px;
    }
  }
}

.hmcts-sub-navigation {
  .govuk-tabs__list-item {
    background-color: white !important;
    padding-left: unset;
    padding-right: unset;
    margin-right: 25px;
  }
  .govuk-tabs__list-item--selected {
    border-bottom: 6px solid #1d70b8;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .govuk-tabs__panel {
    border: none;
    padding-left: unset;
    padding-right: unset;
  }
}


.timeline .timeline-border:after {
  border-left: 4px solid 	#00703c !important;
  top: 0px !important;
  height: 100%;
}

.timeline .action_needed:before {
  background-color: #00703c;
  border: 8px solid #00703c;
}

.timeline ul li:before {
  border: 4px solid #00703c;
  top: 0px !important;
}

.timeline .action_needed {
  background-color: #f3f2f1	;
}

.govuk-list--bullet:after {
  border-left: unset !important;
    li:before {
      border: unset !important;
    }
    li:after {
      border: unset !important;
      top: 0px !important;
    }
}

.govuk-list--bullet li {
  list-style-type: disc;
  border-bottom: none !important;
}

.govuk-list--bullet li:before {
  border: none !important;
  background-color: black !important;
  border-bottom: none !important;
  margin-left: inherit;
  margin-top: 8px;
  padding-left: 0px !important;
}
.govuk-list--bullet.bullet{
  list-style-type: circle;
  width: calc(2 * 2px);
  height: calc(2 * 2px);
}

.govuk-list--bullet li:before {
  // all: unset !important;
  list-style-type: circle;
}


.add-another-link {
  color:#1d70b8;
  text-decoration:underline;
}
