
{% extends "layout-signed-in.html" %}

{% block pageTitle %}
  Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">About the child</span>
            <h1 class="govuk-fieldset__heading">
              What is the child's full name?
            </h1>
          </legend>

          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">

        </fieldset>
      </div>

      <a href="../task-list" class="govuk-button">Save</a>

    </div>
  </div>
</div>

{% endblock %}
