{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set dateError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#date-child-moved-in' %}
          {% set dateError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/research-jan2022-proposed-changes/application/date-child-moved-in" method="post" class="form">

        <div class="govuk-form-group {% if (dateError != '')%} govuk-form-group--error {% endif%}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['applicationSection'] }}</span>
          <h1 class="govuk-fieldset__heading">
            When did the child move in with you?
          </h1>
        </legend>
        <div id="date-of-birth-hint" class="govuk-hint">
          Enter the date when they started living with you continuously. For example, 31 3 2020. You can begin your application at any time, but you can only submit 10 weeks after the date the child started living continuously with you.
        </div>


        <div class="govuk-form-group  {% if (dateError != '')%} govuk-form-group--error {% endif%}">
          {% if (dateError != '')%}
          <span id="national-insurance-number-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ dateError }}
          </span>
          {% endif%}

          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (dateError != '')%} govuk-input--error {% endif%}" id="day-moved-in" name="day-moved-in" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['day-moved-in'] }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if (dateError != '')%} govuk-input--error {% endif%}" id="month-moved-in" name="month-moved-in" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['month-moved-in'] }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if (dateError != '')%} govuk-input--error {% endif%}" id="year-moved-in" name="year-moved-in" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['year-moved-in'] }}"></div>
            </div>

        </div>
        </div>
        </div>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
