{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <a href="step-2-2" class="govuk-button govuk-button--secondary" style="float:right;">Validation off</a>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Your details </span>
                <h1 class="govuk-fieldset__heading">
                    Add your address
                </h1>
            </legend>
          <p class="govuk-body"> We'll send all court papers to this address.</p>


          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Postcode
            </label>
              <span id="address-postcode-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Enter a real postcode
              </span>
              <input class="govuk-input govuk-input--width-10 govuk-input--error" id="address-postcode" name="address-postcode" type="text" value="Not a postcode" aria-describedby="address-postcode-error" autocomplete="postal-code">
            </div>


        </div>
        <div class="govuk-form-group">
          <p><a href="">Or enter address manually</a></p>
        </div>

        <a href="step-2-3" class="govuk-button">Find address</a>
        <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
