{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Add your phone number</h2>

        <form action="../task-list-2" method="post" class="form">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Phone number
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="phone-number" type="text" value="{{ data['phone-number'] }}">
            </div>

        </div>

        <button class="govuk-button" data-module="govuk-button">Save and return</button>

      </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
