{% extends "layout.html" %}

{% block pageTitle %}
  Child arrangement respondent
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->

{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
}) }}

{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

               <form action="safety-requirements" method="post" novalidate>
                <span class="govuk-caption-l">Language requirements</span>
                 <h1 class="govuk-heading-xl">Do you have any language requirements?</h1>

               <div class="govuk-inset-text">
                 Think about all communication with the court, as well as what you might need at a hearing. Consider remote and in-person hearings, in case your preferred hearing type is not possible.
               </div>

               <div class="govuk-form-group">
                 <fieldset class="govuk-fieldset" aria-describedby="language-requirements-hint">
                   <div id="language-requirements-hint" class="govuk-hint">
                     Select all that apply to you
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="language-requirements" name="language-requirements" type="checkbox" value="I need to speak in Welsh">
                       <label class="govuk-label govuk-checkboxes__label" for="language-requirements">
                         I need to speak in Welsh


                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="language-requirements-2" name="language-requirements" type="checkbox" value="I need to read and write in Welsh">
                       <label class="govuk-label govuk-checkboxes__label" for="language-requirements-2">
                         I need to read and write in Welsh

                       </label>
                     </div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="language-requirements-3" name="language-requirements" type="checkbox" value="I need an interpreter in:" aria-controls="certain-interpreter-conditional">
                       <label class="govuk-label govuk-checkboxes__label" for="language-requirements-3">
                         I need an interpreter in a certain language
                       </label>
                       <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="certain-interpreter-conditional">
                         <div class="govuk-form-group">
                           <label for="steps-attending-court-language-form-language-interpreter-details-field" class="govuk-label">Give details of the language you require (including dialect, if applicable)</label>
                           <textarea id="language-requirements-textarea" class="govuk-textarea" rows="3" name="language-requirements-textarea">
                           </textarea>
                         </div>

                       </div>
                     </div>



                     <div class="govuk-checkboxes__divider">or</div>
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="language-requirements-none" name="language-requirements" type="checkbox" value="No, I do not have any language requirements at this time" data-behaviour="exclusive">
                       <label class="govuk-label govuk-checkboxes__label" for="language-requirements-none">
                         No, I do not have any language requirements at this time
                       </label>
                     </div>
                   </div>

                 </fieldset>
               </div>


               <button class="govuk-button" data-module="govuk-button" type="submit">
                 Save and continue
               </button>





              </form>
        </main>
      </div>




    </div>
    <div class="govuk-grid-column-one-third">

    		<details class="govuk-details" data-module="govuk-details">
 			      <summary class="govuk-details__summary">
       			 <span class="govuk-details__summary-text">
        		  Contacts for help
      			  </span>
  			    </summary>
  			<div class="govuk-details__text">
   			 Ask a question or get any help in any language
   			 <p class="govuk-body govuk-!-font-weight-bold">Telephone</p>

   			 <p class="govuk-body govuk-!-font-weight-regular">0300 303 0742</p>
   			 <p class="govuk-body govuk-!-font-weight-regular">Monday to Friday, 8am to 8pm</p>
   			 <a href="#" class="govuk-link">Find out about call charges</a>
   			 <p class="govuk-body govuk-!-font-weight-regular">(opens in a new window)</p>

			  </div>
			</details>
    </div>

</div>



{% endblock %}
