
{% extends "layout-signed-in.html" %}

{% block pageTitle %}
  Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">About you</span>
            <h1 class="govuk-fieldset__heading">
              What is your address?
            </h1>
          </legend>

          <h3 class="govuk-heading-m">Postcode</h3>
          <h3 class="govuk-heading-m">SW1A 1AA</h3><a href="">Change</a>

          <h3 class="govuk-heading-m">Select an address</h3>

          <div class="govuk-form-group">
            <select class="govuk-select" id="sort" name="sort">
              <option value="published">1 address found </option>
              <option value="updated">Buckingham Palace, LONDON SW1A 1AA</option>
            </select>
          </div>

          <div class="govuk-form-group">
          <p><a href="#">I can’t find my address in the list</a></p>
          </div>

          <div class="govuk-form-group">
            <a href="../task-list" class="govuk-button">Save</a>
          </div>

        </fieldset>
      </div>

    </div>
  </div>
</div>

{% endblock %}
