{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set nameError = '' %}
      {% set orderId = 'id' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#court-name' %}
          {% set nameError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">{{ data['sibling'] }}</span>
        <h1 class="govuk-fieldset__heading">
          {{ data['siblingOrderType'][data['id']]}} for {{ data['siblingFirstNames'][data['id']]}} {{ data['siblingLastNames'][data['id']]}}
        </h1>
      </legend>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-margin-top-7">
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sibling
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['siblingFirstNames'][data['id']]}} {{ data['siblingLastNames'][data['id']]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="">
              Change
              <span class="govuk-visually-hidden"> placement order</span>
            </a>
          </dd>
        </div> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of order
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['siblingOrderType'][data['id']]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-change-order-type.html?id={{data['siblingOrderId'][data['id']]}}">
              Change
              <span class="govuk-visually-hidden"> placement order</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Order case or serial number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['siblingOrderNumber'][data['id']]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-change-order-case-number.html?id={{data['siblingOrderId'][data['id']]}}">
              Change
              <span class="govuk-visually-hidden"> order case or serial number</span>
            </a>
          </dd>
        </div>

        <!-- <div class="govuk-summary-lisxt__row">
          <dt class="govuk-summary-list__key">
            Court
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['siblingOrderCourt'][data['id']]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-change-order-court.html?id={{data['siblingOrderId'][data['id']]}}">
              Change
              <span class="govuk-visually-hidden"> court</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Order date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['siblingOrderDay'][data['id']] }} {{ data['monthName'][data['siblingOrderMonth'][data['id']]] }} {{ data['siblingOrderYear'][data['id']] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-change-order-date.html?id={{data['siblingOrderId'][data['id']]}}">
              Change
              <span class="govuk-visually-hidden"> date</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <form action="/research-3/children/sibling-summary" method="post">

        <button type="submit" class="govuk-button" data-module="govuk-button" name="submit-button" value="continue">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
