{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set nameError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#court-name' %}
          {% set nameError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">{{ data['child'] }}</span>
        <h1 class="govuk-fieldset__heading">
          Orders already in place
        </h1>
      </legend>
      <!-- <div id="add-another-hint" class="govuk-hint">
        We need details of all orders already in place. Your social worker or adoption agency can help provide these details.
      </div> -->

      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-margin-top-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Placement order
          </dt>
          <dd class="govuk-summary-list__actions">
            <!-- <strong class="govuk-tag govuk-tag--yellow">
              Incomplete
            </strong> -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> order</span>
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> order</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Something else order
          </dt>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--yellow">
              Incomplete
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> order</span>
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Remove<span class="govuk-visually-hidden"> order</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/research-3/children/orders-summary" method="post" class="form">
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
              Do you want to add another order?
            </legend>
            <div id="add-another-hint" class="govuk-hint">
              We need details of all orders already in place. Your social worker or adoption agency can help provide these details.
            </div>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="add-another">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="add-another-2">
                  No
                </label>
              </div>
            </div>
      
          </fieldset>
        </div>
      
        <!-- Buttons -->
        {% include "../../includes/buttons.html" %}
      </form>

    </div>
  </div>
</main>
</div>

{% endblock %}
