{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Add application details</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading"> Who's applying to adopt?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                value="email" data-aria-controls="judge-conditional-yes">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                I am, as sole adoptive parent
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                value="phone" data-aria-controls="judge-conditional-no">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                My partner and I, as a couple
              </label>
            </div>

            <div
              class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
              id="judge-conditional-no">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Are you both named as carers in the placement order? </h1>
                  </legend>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
                        value="england">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio"
                        value="scotland" data-aria-controls="sitting-days-no">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                        No
                      </label>
                    </div>
                </fieldset>
              </div>
            </div>


        </fieldset>
      </div>



      <a href="../task-list-2.html" class="govuk-button">Save and continue</a>

    </div>
  </div>
</div>

{% endblock %}
