{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers</h1>

      <h2 class="govuk-heading-m">About the child</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth name
          </dt>
          <dd class="govuk-summary-list__value">
            Anthony Williams
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name after adoption
          </dt>
          <dd class="govuk-summary-list__value">
            Anthony Walker
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            11 April 2007
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Boy
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth certificate
          </dt>
          <dd class="govuk-summary-list__value">
            birth-certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement order case number
          </dt>
          <dd class="govuk-summary-list__value">
            XXXXX
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement order made
          </dt>
          <dd class="govuk-summary-list__value">
            5 May 2018
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Child came to live with you
          </dt>
          <dd class="govuk-summary-list__value">
            5 May 2018
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>

      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            The child must have lived with you for 10 weeks to send off the application but you can still continue
          </strong>
        </div>


      <h2 class="govuk-heading-m">About you</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Lucy Jones
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/name">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth certificate
          </dt>
          <dd class="govuk-summary-list__value">
            birth-certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/address-1">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Driving licence
          </dt>
          <dd class="govuk-summary-list__value">
            driving-licence.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Driver's licence
          </dt>
          <dd class="govuk-summary-list__value">
            driving-certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/dbs">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Religion
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Cultural practices
          </dt>
          <dd class="govuk-summary-list__value">
            None
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>



        <br>

        <!--<h3 class="govuk-heading-s">Second applicant</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/name">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1978
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br>London<br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/address-1">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
            Doctor
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth certificate
          </dt>
          <dd class="govuk-summary-list__value">
            birth-certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            DBS certificate
          </dt>
          <dd class="govuk-summary-list__value">
            dbs-certificate.png
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/dbs">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div><-->

      </dl>


      <h2 class="govuk-heading-m">Your adoption contacts</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your social worker or adoption agency details
          </dt>
          <dd class="govuk-summary-list__value">
            Sarah Philips
            <br>
            sarah.philips@gmail.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Same social worker you worked with when the child was placed
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker-2">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
    </div><-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            The child's social worker's details
          </dt>
          <dd class="govuk-summary-list__value">
            Marie Jones
            <br>
            marie.jones@gmail.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/childs-social-worker">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your legal representative's details (optional)
          </dt>
          <dd class="govuk-summary-list__value">
            Smith, Jones and Co
            <br>
            Amy Jenkins
            <br>
            Amy.Jenkins@SJC.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/representation">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Financial aid
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/financial-aid">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <a href="payment.html" class="govuk-button">Continue</a>

      </form>

    </div>
  </div>

</div>

{% endblock %}
