{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="" id="eligible-form" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Your details </span>
            <h1 class="govuk-fieldset__heading">
              Is this the same as your address?
            </h1>
          </legend>

          <div class="govuk-inset-text">
            Buckingham Palace <br> London <br> SW1A 1AA
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input radioTargetSet" id="where-do-you-live" name="second-address"
                    type="radio" value="../task-list-2-multiple" {{ checked("second-address", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input radioTargetSet" id="where-do-you-live-2" name="second-address"
                    type="radio" value="step-2-2" {{ checked("second-address", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a>


        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
