{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <!-- <a href="step-2-1-validation" class="govuk-button govuk-button--secondary" style="float:right;">Validation on</a> -->


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h2 class="govuk-heading-l">Add your birth certificate details</h2> -->

        <form action="" id="eligible-form" method="post" class="form">

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">First applicant </span>
                <h1 class="govuk-fieldset__heading">
                  Have you ever legally been known by any other names?
                </h1>
              </legend>
              <p>For example, your name before marriage.
            </legend>




            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-conditional" name="your-adoption-agency" type="radio"
                  value="yes" data-aria-controls="fathers-name-yes" {{ checked("your-adoption-agency", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="father-conditional">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-conditional-no" name="your-adoption-agency" type="radio"
                  value="no" data-aria-controls="father-conditional-no" {{ checked("your-adoption-agency", "no") }}>
                <label class="govuk-label govuk-radios__label" for="father-conditional-no">
                  No
                </label>
              </div>


              <div
                class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
                id="fathers-name-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    Add your previous full name
                  </label>

                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">

                </div>
                <br>
                <button
                  class="govuk-button hmcts-button--secondary  hmcts-add-another__add-button  govuk-!-margin-bottom-4"
                  data-module="govuk-button">
                  Add another previous name
                </button>
              </div>
              <div class="hmcts-button-action">



              </div>
            </div>


          </div>

        </form>

      </div>
    </div>




    <a href="step-2-b.html" class="govuk-button govuk-button">Save and continue</a>
    <a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a>


    </form>

</div>
</div>
</main>
</div>

{% endblock %}