{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <a href="step-2-validation" class="govuk-button govuk-button--secondary" style="float:right;">Validation on</a>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h2 class="govuk-heading-l">Add your birth certificate details</h2> -->

        <form action="step-2-1-second" method="post" class="form">

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Second applicant – your details </span>


              <h1 class="govuk-fieldset__heading">
                What's your full name?
              </h1>
            </legend>

            <input class="govuk-input" id="full-name" name="name" type="text" autocomplete="name" spellcheck="false"
              value="{{ data['name'] }}">
          </div>



          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a>


        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}