{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set uploadError = '' %}
  
      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#first-applicant-name' %}
          {% set uploadError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}

      <form action="/research-5/applicants/first-applicant-upload" method="post" class="form">

        <div class="govuk-form-group {% if (uploadError != '')%} govuk-form-group--error {% endif%}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{% if data['numberApplicants'] !== '1' %}{{ data['firstApplicant'] }}{% else %} {{ data['oneApplicant'] }}{% endif %}</span>
          <h1 class="govuk-fieldset__heading">
            Upload photo id for {% if (data['first-applicant-name']) %} {{ data['first-applicant-name']}} {% else %}{% if data['numberApplicants'] !== '1' %}{{ data['firstApplicant'] }}{% else %} {{ data['oneApplicant'] }}{% endif %}{% endif %} 

          </h1>
          </legend>

          {% if (uploadError != '')%}
          <span id="national-insurance-number-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ uploadError }}
          </span>
          {% endif%}

          </p>
          <p>Upload a photo or scanner copy of either:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>your UK passport photo page, or</li>
            <li>your UK driving licence</li>
          </ul>
          <p> If you have a UK visa, also upload photos of both:

            <ul class="govuk-list govuk-list--bullet">
              <li>your UK visa </li>
              <li>any pages of your UK passport with UK entry stamps
              </li>
            </ul>
            <div class="govuk-form-group">
              <div class="document-upload-box" style="
            border-style: dashed;
            border-color: #b1b4b6;
            padding-left: 20px;
            padding-top: 20px;
            ">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="myFunction()">
                  Choose files
                </button>
                <p style="
            float: right;
            padding-right: 20px;
            padding-top: 10px;
            color: #b1b4b6;
            ">Drag and drop files</p>
              </div>
            </div>

            <!-- <div id="myDIV" style="display: none;">
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__value">
                    <a href="">identification_1.pdf</a>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__value">
                    <a href="">identification_2.pdf</a>
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"> date of birth</span>
                    </a>
                  </dd>
                </div>
              </dl>
            </div> -->
        </div>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}