{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">

        <!-- **************************************** 1. Add application' details **************************************** -->
        <li>
            <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Add application details
            </h2>
            <ul class="app-task-list__items">

                <!-- Number of applicants -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="application/number-of-applicants.html">
                        Number of applicants
                    </a>
                    </span>

                    {% if (data['number-of-applicants']) %}
                        <strong class="govuk-tag app-task-list__tag" id="eligibility-completed">completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- Number of children -->
                <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="application/number-of-children.html">
                        Number of children you're applying to adopt
                    </a>
                    </span>

                    {% if (data['number-of-children']) %}
                        <strong class="govuk-tag app-task-list__tag" id="eligibility-completed">completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li> -->

                <!-- Date child moved in with you -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="application/date-child-moved-in" aria-describedby="eligibility-completed">
                        Date child moved in with you
                    </a>
                    </span>
                    {% if data['dateMovedIn'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>
                <li>

                <!-- <p><strong>First child</strong></p><-->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="children/child-name.html" aria-describedby="eligibility-completed">
                        Child's details
                    </a></span>
                    {% if data['childDetailsStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['childDetailsStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}

                    <br>

                </li>


                <!-- <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    {% if (data['siblingStatus'] === 'in progress' or data['siblingStatus'] === 'completed') %}
                        <a href="children/sibling-summary.html" aria-describedby="eligibility-completed">
                    {% else %}
                        <a href="children/sibling-court-order-exists.html" aria-describedby="eligibility-completed">
                    {% endif %}
                        Sibling court order details [ignore]</a>
                    </span>
                    {% if data['siblingStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['siblingStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li> -->


                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="application/child-social-worker-details.html" aria-describedby="eligibility-completed">
                        Adoption agency and social worker
                    </a>
                    </span>
                    {% if data['agencyStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['agencyStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- Choose your family court -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">

                        <a href="children/orders-placement-court.html" aria-describedby="eligibility-completed">
                            The family court details

                        </a></span>

                    {% if data['familyCourtStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['familyCourtStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>

                    {% endif %}
                </li>

            </ul>

            </li>
            </ul>
        </li>

        <!-- **************************************** 2. Add applicant's details **************************************** -->
        <li>
            <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Add applicant's details
            </h2>
            <ul class="app-task-list__items">

                <!-- Two applicants -->
                {% if data['numberApplicants'] != 1 %}
                <p class="govuk-!-font-weight-bold govuk-!-margin-top-7 govuk-!-margin-bottom-2">{{ data['firstApplicantProposal'] }}</p>
                <!-- First applicant - personal details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="applicants/first-applicant-name.html" aria-describedby="eligibility-completed">
                        Your personal details
                    </a>
                    </a></span>
                    {% if data['firstApplicantPersonalDetailsStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['firstApplicantPersonalDetailsStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- First applicant - contact details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="applicants/first-applicant-address" aria-describedby="eligibility-completed">
                        Your contact details
                    </a>
                    </a></span>
                    {% if data['firstApplicantContactDetailsStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['firstApplicantContactDetailsStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <p class="govuk-!-font-weight-bold govuk-!-margin-top-7 govuk-!-margin-bottom-2">{{ data['secondApplicant'] }}</p>
                <!-- Second applicant - personal details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="applicants/second-applicant-name.html" aria-describedby="eligibility-completed">
                        Your personal details
                    </a>
                    </a></span>
                    {% if data['secondApplicantPersonalDetailsStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['secondApplicantPersonalDetailsStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- Second applicant - contact details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="applicants/second-applicant-address" aria-describedby="eligibility-completed">
                        Your contact details
                    </a>
                    </a></span>
                    {% if data['secondApplicantContactDetailsStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['secondApplicantContactDetailsStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- One applicant -->
                {% else %}
                <!-- Single applicant - personal details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="applicants/first-applicant-name.html" aria-describedby="eligibility-completed">
                        Your personal details
                    </a>
                    </a></span>
                    {% if data['firstApplicantPersonalDetailsStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['firstApplicantPersonalDetailsStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- Single applicant - contact details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="applicants/first-applicant-address" aria-describedby="eligibility-completed">
                        Your contact details
                    </a>
                    </a></span>
                    {% if data['firstApplicantContactDetailsStatus'] === 'completed' %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['firstApplicantContactDetailsStatus'] === 'in progress' %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                {% endif %}


            </ul>
        </li>

        <!-- **************************************** 3. Add the child's details **************************************** -->


        <!-- **************************************** 4. Upload **************************************** -->


        <!-- **************************************** 5. Review application, pay and send **************************************** -->
        <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span>Review, pay and submit
            </h2>
            <ul class="app-task-list__items">
              <!-- <div class="govuk-inset-text home-office-inset-text">
                You'll need your credit or debit card. </div> -->
              <p class="govuk-body-l"></p>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a href="check-pay-and-submit/check-your-answers.html" aria-describedby="eligibility-completed" {% if data['submitStatus'] !== 'in progress' %} class="not-underlined" {% endif %}>
                        Review, pay and submit your application
                    </a>
                </span>
                {% if data['submitStatus'] === 'completed' %}
                    <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                {% elseif data['submitStatus'] === 'in progress' %}
                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                {% elseif data['submitStatus'] === 'not started' %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">cannot start yet</strong>
                {% endif %}
              </li>

              <!-- <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a href="https://products.payments.service.gov.uk/pay/02133e4814ea416cb7a1e540b49a8545" aria-describedby="eligibility-completed" class="not-underlined">
                        Pay and submit your application
                    </a>
                </span>
                {% if data['birth-father'] %}
                    <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">cannot start yet</strong>
                {% endif %}
              </li> -->

            </ul>
          </li>

            </ol>

  </div>
</div>

{% endblock %}
