{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">2. Add the children's details</span>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              About the first child
            </h1>
          </legend>
          <label class="govuk-label govuk-label--m" for="passport-number">
            Child's full name
          </label>
          <span class="govuk-hint">Enter their name as it's written on their birth certificate</span>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
          <br>
          <br>
        </fieldset>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I do not have their birth certificate
            </span>
          </summary>
          <div class="govuk-details__text">
            TBC
          </div>
        </details>
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <label class="govuk-label govuk-label--m" for="passport-number">
            Date of birth
          </label>
          <span id="expiry-hint" class="govuk-hint">
            For example, 31 3 2011
          </span>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day"
                type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month"
                name="expiry-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year"
                name="expiry-year" type="number" pattern="[0-9]*">
            </div>
          </div>

        </fieldset>
        <br>
        <br>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I do not know their date of birth
              </span>
            </summary>
            <div class="govuk-details__text">
              TBC
            </div>
          </details>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <label class="govuk-label govuk-label--m" for="passport-number">
            When did they move in with you?
          </label>
          <span id="passport-issued-hint" class="govuk-hint">
            For example, 27 6 2019
          </span>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                  name="passport-issued-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                  name="passport-issued-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                  name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>
             
        </fieldset>  
        
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

          <label class="govuk-label govuk-label--m" for="passport-number">
            Upload a photo (optional)
          </label>
          <span id="passport-issued-hint" class="govuk-hint">
            This can help the judge xxxxxxxxxx

          </span>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">




        </fieldset>
      </div>




      </form>
      <a href="../task-list" class="govuk-button">Save and continue</a>



    </div>
    </main>





    {% endblock %}