{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h2 class="govuk-heading-l">Add your birth certificate details</h2> -->

        <form action="step-2-b" method="post" class="form">

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you ever changed your name?
              </h1>
            </legend>
            <span id="changed-name-hint" class="govuk-hint">
              For example, after marriage or by deed poll.
            </span>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-conditional" name="father" type="radio" value="yes"
                  data-aria-controls="fathers-name-yes">
                <label class="govuk-label govuk-radios__label" for="father-conditional">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-conditional-no" name="father" type="radio" value="no"
                  data-aria-controls="father-conditional-no">
                <label class="govuk-label govuk-radios__label" for="father-conditional-no">
                  No
                </label>
              </div>


              <div
                class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
                id="fathers-name-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="full-name">
                    Previous full name
                  </label>
                  <!--<span id="changed-name-hint" class="govuk-hint">
                  Enter this as it's shown on the birth certificate.
                </span><-->
                  <input class="govuk-input" id="full-name" name="childs-name" type="text" autocomplete="name"
                    spellcheck="false">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="full-name">
                    How or why did you change this name
                  </label>
                  <span id="changed-name-hint" class="govuk-hint">For example, by deed poll after my civil
                    partnership.</span>


                  <input class="govuk-input" id="full-name" name="childs-name" type="text" autocomplete="name"
                    spellcheck="false">

                </div>
                <br>
                <p class="govuk-body"><a href="">Add another name</a></p>



              </div>
            </div>


          </div>


          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>


        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}