{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Upload your marriage or civil partnership certificate</h2>

        <form action="../task-list-2" method="post" class="form">

          <div class="govuk-form-group">
            <div class="document-upload-box" style="
            border-style: dashed;
            border-color: #b1b4b6;
            padding-left: 20px;
            padding-top: 20px;
            ">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="myFunction()">
                Choose photos
              </button>
              <p style="
            float: right;
            padding-right: 20px;
            padding-top: 10px;
            color: #b1b4b6;
            ">Drag and drop photos</p>
            </div>
          </div>

          <div id="myDIV" style="display: none;">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  <a href="">identification_1.pdf</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> name</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  <a href="">identification_2.pdf</a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">
                    Remove<span class="govuk-visually-hidden"> date of birth</span>
                  </a>
                </dd>
              </div>
            </dl>
          </div>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Your marriage certificate must be translated if it's not in English or Welsh.
            </strong>
          </div>

          <button class="govuk-button" data-module="govuk-button">Save and return</button>


        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}