{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <a href="" class="govuk-button govuk-button--secondary" style="float:right;">Validation on</a>


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h2 class="govuk-heading-l">Add your birth certificate details</h2> -->

        <span class="govuk-caption-l">Your details</span>
        <h1 class="govuk-heading-l">Have you ever changed your name?</h1>


        <form action="" id="eligible-form" method="post" class="form">

          <div class="govuk-form-group">
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input radioTargetSet" id="father-conditional" name="father" type="radio" value="step-2-b"
                  data-aria-controls="fathers-name-yes">
                <label class="govuk-label govuk-radios__label" for="father-conditional">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input radioTargetSet" id="father-conditional-no" name="father" type="radio"
                  data-aria-controls="father-conditional-no" value="step-2-b">
                <label class="govuk-label govuk-radios__label" for="father-conditional-no">
                  No
                </label>
              </div>



            </div>


            </div>


            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>


        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
