{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/research-9/la-portal/confirmation" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <!-- <span class="govuk-caption-l">{{ data['reviewApplication'] }}</span> -->
          <h1 class="govuk-fieldset__heading">
            Review your answers
          </h1>
        </legend>



         <!-- **************** Child's details **************** -->
        <h2 class="govuk-heading-m">Child's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['child-first-names'] and data['child-last-names'] %}
                {{data['child-first-names']}} {{data['child-last-names']}}
              {% else %}
                Jane Austen
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['child-birth-day'] and data['child-birth-month'] and data['child-birth-year'] %}
                {{ data['child-birth-day'] }} {{ data['monthName'][data['child-birth-month']] }} {{ data['child-birth-year'] }}
              {% else %}
                12 May 2019
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex at birth
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['child-sex'] %}
                {{data['child-sex']}}
              {% else %}
                Female
              {% endif %}              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="child-sex.html">
                Change
                <span class="govuk-visually-hidden"> sex at birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="child-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
        
        </dl>

        <!-- **************** Birth mother's details **************** -->
        <h2 class="govuk-heading-m">Birth mother's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-first-names'] and data['mother-last-names'] %}
                {{data['mother-first-names']}} {{data['mother-last-names']}}
              {% else %}
                Marianne Austen
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="mother-name.html">
                Change
                <span class="govuk-visually-hidden"> birth mother's full name</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alive
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-alive'] %}
                {{data['mother-alive']}} 
              {% else %}
                Yes
              {% endif %}
              
              {%if data['mother-alive'] === 'Not sure' and data['mother-reason-not-sure'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['mother-reason-not-sure']}}</p> 
              {% endif %}              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="mother-alive.html">
                Change
                <span class="govuk-visually-hidden"> alive status</span>
              </a>
            </dd>
          </div>      

          <!-- If birth mother is alive -->
          {%if data['mother-alive'] === 'Yes' or data['mother-alive'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              Irish
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="mother-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-occupation'] %}
                {{data['mother-occupation']}} 
              {% else %}
                Office administrator
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="mother-occupation.html">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
              </a>
            </dd>
          </div>      
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-have-address'] %}
                {{data['mother-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['mother-have-address'] === 'No' and data['reason-mother'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-mother']}}</p> 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="mother-have-address.html">
                Change
                <span class="govuk-visually-hidden"> address known</span>
              </a>
            </dd>
          </div>

          {% if data['mother-have-address'] === 'Yes' or data['mother-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="mother-address-postcode.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last date this address was confirmed
            </dt>
            <dd class="govuk-summary-list__value">
              12 June 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="mother-last-date-address-confirmed.html">
                Change
                <span class="govuk-visually-hidden"> last date address confirmed </span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% endif %}

        </dl>

        <!-- **************** Birth father's details **************** -->
        <h2 class="govuk-heading-m">Birth father's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on birth certificate
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['father-in-certificate'] %}
                {{data['father-in-certificate']}} 
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-in-certificate.html">
                Change
                <span class="govuk-visually-hidden"> father in birth certificate status</span>
              </a>
            </dd>
          </div>      

          {% if data['father-in-certificate'] === 'No' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Birth father's identity known
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['father-identity-known'] %}
                {{data['father-identity-known']}} 
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-identity-known.html">
                Change
                <span class="govuk-visually-hidden"> father's identity known</span>
              </a>
            </dd>
          </div>      
          {% endif %}

          {% if data['father-identity-known'] !== 'No'%}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-first-names'] and data['father-last-names'] %}
                {{data['father-first-names']}} {{data['father-last-names']}}
              {% else %}
                John Denver
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-name.html">
                Change
                <span class="govuk-visually-hidden"> birth father's full name</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alive
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-alive'] %}
                {{data['father-alive']}} 
              {% else %}
                Yes
              {% endif %}
              
              {%if data['father-alive'] === 'Not sure' and data['father-reason-not-sure'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['father-reason-not-sure']}}</p> 
              {% endif %}              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-alive.html">
                Change
                <span class="govuk-visually-hidden"> alive status</span>
              </a>
            </dd>
          </div>      

          <!-- If birth father is alive -->
          {%if data['father-alive'] === 'Yes' or data['father-alive'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-occupation'] %}
                {{data['father-occupation']}} 
              {% else %}
                Taxi driver
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-occupation.html">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
              </a>
            </dd>
          </div>      
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-have-address'] %}
                {{data['father-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['father-have-address'] === 'No' and data['reason-father'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-father']}}</p> 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-have-address.html">
                Change
                <span class="govuk-visually-hidden"> address known</span>
              </a>
            </dd>
          </div>

          {% if data['father-have-address'] === 'Yes' or data['father-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-address-postcode.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last date this address was confirmed
            </dt>
            <dd class="govuk-summary-list__value">
              1 September 2018
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="father-last-date-address-confirmed.html">
                Change
                <span class="govuk-visually-hidden"> last date address confirmed </span>
              </a>
            </dd>
          </div>

          {% endif %}
          {% endif %}
          {% endif %}
        </dl>

        <!-- **************** Other parent's details **************** -->
        <h2 class="govuk-heading-m">Other parent's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is there another person with parental responsibility?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['other-parent-exists'] %}
                {{data['other-parent-exists']}} 
              {% else %}
                No
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="other-parent-exists.html">
                Change
                <span class="govuk-visually-hidden"> other parent exists status</span>
              </a>
            </dd>
          </div>      

          {% if data['other-parent-exists'] === 'Yes' or data['other-parent-exists'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['other-parent-first-names'] and data['other-parent-last-names'] %}
                {{data['other-parent-first-names']}} {{data['other-parent-last-names']}}
              {% else %}
                Peter Murphy
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="other-parent-name.html">
                Change
                <span class="govuk-visually-hidden"> birth other-parent's full name</span>
              </a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['other-parent-have-address'] %}
                {{data['other-parent-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['other-parent-have-address'] === 'No' and data['reason-other-parent'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-other-parent']}}</p> 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="other-parent-have-address.html">
                Change
                <span class="govuk-visually-hidden"> address known</span>
              </a>
            </dd>
          </div>

          {% if data['other-parent-have-address'] === 'Yes' or data['other-parent-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="other-parent-address-postcode.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Last date this address was confirmed
            </dt>
            <dd class="govuk-summary-list__value">
              20 May 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="other-parent-last-date-address-confirmed.html">
                Change
                <span class="govuk-visually-hidden"> last date address confirmed </span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% endif %}
        </dl>


        <!-- **************** Child's placement and court orders **************** -->
        <h2 class="govuk-heading-m">Child's placement and court orders</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% if data['childOrderId'].length > 0 %}

        {% for id in data['childOrderId'] %}

          {% if id === 0 %}
          <h3 class="govuk-heading-s">Placements order</h3>
                    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderType'][id] %}
                {{data['childOrderType'][id]}} 
              {% else %}
                Placement order
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderNumber'][id] %}
                {{data['childOrderNumber'][id]}} 
              {% else %}
                AC17238376
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-placement-case-number.html">
                Change
                <span class="govuk-visually-hidden"> placement order case or serial number</span>
              </a>
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderCourt'][id] %}
                {{data['childOrderCourt'][id]}} 
              {% else %}
                Derby County Court
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__value">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderDay'][id] and data['childOrderMonth'][id] and data['childOrderYear'][id] %}
                {{ data['childOrderDay'][id] }} {{ data['monthName'][data['childOrderMonth'][id]] }} {{ data['childOrderYear'][id] }}
              {% else %}
                23 June 2020
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-placement-date.html">
                Change
                <span class="govuk-visually-hidden"> date</span>
              </a>
            </dd>
          </div>      

          {% else %}
          <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderType'][id] %}
                {{data['childOrderType'][id]}} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-type.html">
                Change
                <span class="govuk-visually-hidden"> order type</span>
              </a>
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderNumber'][id] %}
                {{data['childOrderNumber'][id]}} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-case-number.html">
                Change
                <span class="govuk-visually-hidden">  order case or serial number</span>
              </a>
            </dd>
          </div>   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderCourt'][id] %}
                {{data['childOrderCourt'][id]}} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-court.html">
                Change
                <span class="govuk-visually-hidden">  court</span>
              </a>
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderDay'][id] and data['childOrderMonth'][id] and data['childOrderYear'][id] %}
                {{ data['childOrderDay'][id] }} {{ data['monthName'][data['childOrderMonth'][id]] }} {{ data['childOrderYear'][id] }}
              {% else %}
                23 June 2020
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-date.html">
                Change
                <span class="govuk-visually-hidden"> date</span>
              </a>
            </dd>
          </div>   
          {% endif %}
        {% endfor %}

        <!-- If there aren't any placement and court orders for the child -->
        {% else %}
          <h3 class="govuk-heading-s">Placement order</h3>
                    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
                Placement order
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
                AC17238376
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-placement-case-number.html">
                Change
                <span class="govuk-visually-hidden"> placement order case or serial number</span>
              </a>
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
                Derby County Court
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
                23 June 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-placement-date.html">
                Change
                <span class="govuk-visually-hidden"> date</span>
              </a>
            </dd>
          </div>      

          <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              Care order
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-type.html">
                Change
                <span class="govuk-visually-hidden"> order type</span>
              </a>
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
              ABC123456
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-case-number.html">
                Change
                <span class="govuk-visually-hidden">  order case or serial number</span>
              </a>
            </dd>
          </div>   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
              Watford Crown Court
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-court.html">
                Change
                <span class="govuk-visually-hidden"> court</span>
              </a>
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
                3 September 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-date.html">
                Change
                <span class="govuk-visually-hidden"> date</span>
              </a>
            </dd>
          </div>      
        {% endif %} 
        
        </dl>

        <!-- **************** Sibling court orders **************** -->
        <h2 class="govuk-heading-m">Sibling court orders</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- <h3 class="govuk-heading-s">Siblings with court orders</h3> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Siblings or half siblings with court orders
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['sibling-court-order-exists'] %} 
              {{ data['sibling-court-order-exists']}}
            {% else %} 
              Yes
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-court-order-exists.html">
              Change
              <span class="govuk-visually-hidden"> does the child have siblings or half siblings with court orders</span>
            </a>
          </dd>
        </div>              

        {% if data['siblingOrderId'].length > 0 %}
      

          {% for id in data['siblingOrderId'] %}
          <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationship
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['siblingRelationship'][id] %}
                {{ data['siblingRelationship'][id] }} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="sibling-relationship.html">
                Change
                <span class="govuk-visually-hidden">  sibling relationship</span>
              </a>
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['siblingOrderType'][id] %}
                {{data['siblingOrderType'][id]}} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="orders-order-type.html">
                Change
                <span class="govuk-visually-hidden"> order type</span>
              </a>
            </dd>
          </div>      

            <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Order case or serial number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['siblingOrderNumber'][id] %}
              {{data['siblingOrderNumber'][id]}} 
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="orders-order-case-number.html">
              Change
              <span class="govuk-visually-hidden">  order case or serial number</span>
            </a>
          </dd>
        </div>   

      {% endfor %}
        </dl>

        <!-- If there isn't a court case for siblings, just to show how it would display -->
        {% else %}
        

        <!-- Court orders for siblings -->
        <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relationship
          </dt>
          <dd class="govuk-summary-list__value">
            Brother
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-relationship.html">
              Change
              <span class="govuk-visually-hidden">  sibling relationship</span>
            </a>
        </dd>
        </div>      

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of order
          </dt>
          <dd class="govuk-summary-list__value">
            Placement order
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="orders-order-type.html">
              Change
              <span class="govuk-visually-hidden"> order type</span>
            </a>
          </dd>
        </div>      

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order case or serial number
        </dt>
        <dd class="govuk-summary-list__value">
          1223366363
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="orders-order-case-number.html">
            Change
            <span class="govuk-visually-hidden">  order case or serial number</span>
          </a>
        </dd>
        </div>   

        <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relationship
          </dt>
          <dd class="govuk-summary-list__value">
            Half sister
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-relationship.html">
              Change
              <span class="govuk-visually-hidden">  sibling relationship</span>
            </a>
        </dd>
        </div>      

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of order
          </dt>
          <dd class="govuk-summary-list__value">
            Placement order
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="orders-order-type.html">
              Change
              <span class="govuk-visually-hidden"> order type</span>
            </a>
          </dd>
        </div>      

          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order case or serial number
        </dt>
        <dd class="govuk-summary-list__value">
          AB-77626366363
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="orders-order-case-number.html">
            Change
            <span class="govuk-visually-hidden">  order case or serial number</span>
          </a>
        </dd>
        </div>   

        <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relationship
          </dt>
          <dd class="govuk-summary-list__value">
            Half brother
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="sibling-relationship.html">
              Change
              <span class="govuk-visually-hidden">  sibling relationship</span>
            </a>
          </dd>
        </div>      

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of order
          </dt>
          <dd class="govuk-summary-list__value">
            Care order
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="orders-order-type.html">
              Change
              <span class="govuk-visually-hidden"> order type</span>
            </a>
          </dd>
        </div>      

          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order case or serial number
        </dt>
        <dd class="govuk-summary-list__value">
          TC7726363373
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="orders-order-case-number.html">
            Change
            <span class="govuk-visually-hidden">  order case or serial number</span>
          </a>
        </dd>
        </div>   

        </dl>

      {% endif %}



    
        <!-- **************** Uploads **************** -->
        <h2 class="govuk-heading-m">Uploaded documents</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Uploaded documents
            </dt>
            <dd class="govuk-summary-list__value">
              deathcertificatemother.pdf
              <br>birthcertificate.png
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="upload.html">
                Change
                <span class="govuk-visually-hidden"> uploaded child's documents</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Documents not uploaded
            </dt>
            <dd class="govuk-summary-list__value">
              Death certificate
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="upload.html">
                Change
                <span class="govuk-visually-hidden"> documents not uploaded</span>
              </a>
            </dd>
          </div>

        </dl>

    
        <h2 class="govuk-heading-m">Check your answers</h2>

        <p>Check all the information you have provided. If you need to edit any of the answers, select the change link at the end of the relevant answer.</p>

        <p>You cannot save your progress so it is important that all information provided is correct.</p> 
          
        <p>Once you are happy with your answers, you can submit the application to the court.</p>


        <!-- Buttons -->
        {% include "../../includes/buttons-laportal.html" %}

      </form>
    </div>
  </div>
</div>

{% endblock %}



