{% extends "layout-la-portal.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Getting started
    </h1>

<h2 class="govuk-heading-m">Submit an adoption application to the court </h2>
<p class="govuk-body">Use this service to complete an application form that has been submitted by the prospective adoptive parents.
  <br>
  <br>

You cannot save your progress for the application so it is important you have everything you need before you get started.</p>

<h2 class="govuk-heading-m">What you will need </h2>


  <p class="govuk-body">In order to complete the application and submit it to the court you may need:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>child's birth certificate</li>
    <li>any court orders for the child and/or child's siblings</li>
    <li>Annex A (if relevant)</li>
    <li>any relevant death certificates</li>
    <li>last known addresses of the birth parents</li>
    <li>any other evidence</li>
  </ul>

<p class="govuk-body">You will be asked questions about the child's birth parents and siblings. You can review your answers to these questions before you submit the application.
<br>
<br>
Completing and submitting an application should not take longer than 30 minutes.</p>






<a href="task-list.html" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>


  </div>
</div>

{% endblock %}
