{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">3. Add your details</span>
            <h1 class="govuk-fieldset__heading">
              About the first applicant
            </h1>
          </legend>

          <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Address
            </label>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>

          </div>

          </fieldset>

        </div>

      <div class="govuk-form-group">
        <p><a href="">Or enter address manually</a></p>
      </div>

      <div class="govuk-form-group">
        <a href="address-2" class="govuk-button">Find address</a>
        <p><a href="../task-list">Save and return</a></p>
      </div>

    </div>
</main>





    {% endblock %}
