{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/research-7/check-pay-and-submit/check-your-answers" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['reviewApplication'] }}</span>
          <h1 class="govuk-fieldset__heading">
            Review your answers
          </h1>
        </legend>


        <h2 class="govuk-heading-m govuk-!-margin-top-7">Application details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of applicants
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['numberApplicants'] === '1' %}
                I'm applying on my own  
              {% elseif data['numberApplicants'] === 'partner' %}
                I'm applying with my spouse or civil partner
              {% else %}
                I'm applying with someone who is not my spouse or civil partner
              {% endif %}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date child moved in
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 2022
            </dd>
          </div>
        </dl>

        <!-- **************** Adoption agency or local authority details **************** -->
        <h2 class="govuk-heading-m">Adoption agency or local authority details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-agency-name'] %}
                {{data['applicant-agency-name']}} 
              {% else %}
                Royal Borough of Greenwich
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-phone-number'] %}
                {{data['applicant-phone-number']}} 
              {% else %}
                02015528988
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of contact
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-contact'] %}
                {{data['applicant-contact']}} 
              {% else %}
                Mary Francis
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address of contact
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-email'] %}
                {{data['applicant-email']}} 
              {% else %}
                mary.francis@greenwich.gov.uk
              {% endif %}
            </dd>
          </div>      
        
        </dl>

        <!-- **************** Second adoption agency or local authority details **************** -->
        <h2 class="govuk-heading-m">Additional adoption agency or local authority details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional adoption agency
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['other-adoption-agency'] %}
                {{data['other-adoption-agency']}} 
              {% else %}
                Yes
              {% endif %}
            </dd>
          </div>

          {% if data['other-adoption-agency'] === 'Yes' or data['other-adoption-agency'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-agency-name-2'] %}
                {{data['applicant-agency-name-2']}} 
              {% else %}
                Royal Borough of Newham
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-phone-number-2'] %}
                {{data['applicant-phone-number-2']}} 
              {% else %}
                02098676523
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of contact
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-contact-2'] %}
                {{data['applicant-contact']}} 
              {% else %}
                Phil Jones
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address of contact
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['applicant-email'] %}
                {{data['applicant-email']}} 
              {% else %}
                phil.jones@newham.gov.uk
              {% endif %}
            </dd>
          </div>      
          {% endif %}
        
        </dl>

        <!-- **************** Child's social worker details **************** -->
        <h2 class="govuk-heading-m">Child's social worker details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['child-social-worker-name'] %}
                {{data['child-social-worker-name']}} 
              {% else %}
                Agnes James
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['child-social-worker-phone-number'] %}
                {{data['child-social-worker-phone-number']}} 
              {% else %}
                02015123966
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['child-social-worker-email'] %}
                {{data['child-social-worker-email']}} 
              {% else %}
                agnesjames@gmail.com
              {% endif %}
            </dd>
          </div>      
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Team email address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['child-social-worker-team-email'] %}
                {{data['child-social-worker-team-email']}} 
              {% else %}
                info@robertsjames.co.uk
              {% endif %}
            </dd>
          </div>      
        
        </dl>



        <!-- **************** First applicant personal details **************** -->
        <!-- <h2 class="govuk-heading-m">{{data ['firstApplicant']}}'s personal details</h2> -->
        <h2 class="govuk-heading-m">{{data ['firstApplicant']}}'s details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['first-applicant-names'] and data['first-applicant-last-names'] %}
                {{data['first-applicant-names']}} {{data['first-applicant-last-names']}}
              {% else %}
                Agatha Mary Clarissa Christie
              {% endif %}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous names
            </dt>
            <dd class="govuk-summary-list__value">
              Agatha Mary Clarissa Miller
              <p>Agatha James</p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['first-applicant-day'] and data['first-applicant-month'] and data['first-applicant-year'] %}
                {{ data['first-applicant-day'] }} {{ data['monthName'][data['first-applicant-month']] }} {{ data['first-applicant-year'] }}
              {% else %}
                25 January 1987
              {% endif %}
            </dd>
          </div>
        
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British<br>Polish
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div> -->
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['first-applicant-occupation'] %}
                {{data['first-applicant-occupation']}} 
              {% else %}
              Physiotherapist
              {% endif %}
            </dd>
          </div>      
        <!-- </dl> -->


        <!-- **************** First applicant contact details **************** -->
        <!-- <h2 class="govuk-heading-m">{{data ['firstApplicant']}}'s contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              agatha@christie.com
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07865432323
            </dd>

          </div>

        </dl>

        

        <!-- **************** Second applicant personal details **************** -->
        <h2 class="govuk-heading-m">{{data ['secondApplicant']}}'s details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['second-applicant-names'] and data['second-applicant-last-names'] %}
                {{data['second-applicant-names']}} {{data['second-applicant-last-names']}}
              {% else %}
              Arthur Ignatius Conan Doyle
              {% endif %}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous names
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['second-applicant-day'] and data['second-applicant-month'] and data['second-applicant-year'] %}
                {{ data['second-applicant-day'] }} {{ data['monthName'][data['second-applicant-month']] }} {{ data['second-applicant-year'] }}
              {% else %}
              3 December 1977
              {% endif %}
            </dd>
          </div>
        
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British<br>Polish
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div> -->
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['second-applicant-occupation'] %}
                {{data['second-applicant-occupation']}} 
              {% else %}
              Self-employed hairdresser
              {% endif %}
            </dd>
          </div>      
        <!-- </dl> -->

        <!-- **************** Second applicant contact details **************** -->
        <!-- <h2 class="govuk-heading-m">{{data ['secondApplicant']}}'s contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              arthur.doyle@gmail.com
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07766779709
            </dd>
          </div>

        </dl>

         <!-- **************** Child's details **************** -->
        <h2 class="govuk-heading-m">Child's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['child-first-names'] and data['child-last-names'] %}
                {{data['child-first-names']}} {{data['child-last-names']}}
              {% else %}
                Jane Austen
              {% endif %}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['child-birth-day'] and data['child-birth-month'] and data['child-birth-year'] %}
                {{ data['child-birth-day'] }} {{ data['monthName'][data['child-birth-month']] }} {{ data['child-birth-year'] }}
              {% else %}
                12 May 2019
              {% endif %}
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex at birth
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['child-sex'] %}
                {{data['child-sex']}}
              {% else %}
                Female
              {% endif %}              
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name after adoption
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['certificate-first-names'] and data['certificate-last-names'] %}
                {{data['certificate-first-names']}} {{data['certificate-last-names']}}
              {% else %}
                Jane Christie Doyle
              {% endif %}
            </dd>
          </div>
        </dl>

        <!-- **************** Birth mother's details **************** -->
        <h2 class="govuk-heading-m">Birth mother's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-first-names'] and data['mother-last-names'] %}
                {{data['mother-first-names']}} {{data['mother-last-names']}}
              {% else %}
                Marianne Austen
              {% endif %}
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alive
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-alive'] %}
                {{data['mother-alive']}} 
              {% else %}
                Yes
              {% endif %}
              
              {%if data['mother-alive'] === 'Not sure' and data['mother-reason-not-sure'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['mother-reason-not-sure']}}</p> 
              {% endif %}              
            </dd>
          </div>      

          <!-- If birth mother is alive -->
          {%if data['mother-alive'] === 'Yes' or data['mother-alive'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              Irish
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-occupation'] %}
                {{data['mother-occupation']}} 
              {% else %}
                Office administrator
              {% endif %}
            </dd>
          </div>      
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-have-address'] %}
                {{data['mother-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['mother-have-address'] === 'No' and data['reason-mother'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-mother']}}</p> 
              {% endif %}
            </dd>
          </div>

          {% if data['mother-have-address'] === 'Yes' or data['mother-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
          </div>
          {% endif %}
          {% endif %}

        </dl>

        <!-- **************** Birth father's details **************** -->
        <h2 class="govuk-heading-m">Birth father's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on birth certificate
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['father-in-certificate'] %}
                {{data['father-in-certificate']}} 
              {% else %}
                Yes
              {% endif %}
            </dd>
          </div>      

          {% if data['father-in-certificate'] === 'Yes' or data['father-in-certificate'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-first-names'] and data['father-last-names'] %}
                {{data['father-first-names']}} {{data['father-last-names']}}
              {% else %}
                John Austen
              {% endif %}
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alive
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-alive'] %}
                {{data['father-alive']}} 
              {% else %}
                Yes
              {% endif %}
              
              {%if data['father-alive'] === 'Not sure' and data['father-reason-not-sure'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['father-reason-not-sure']}}</p> 
              {% endif %}              
            </dd>
          </div>      

          <!-- If birth father is alive -->
          {%if data['father-alive'] === 'Yes' or data['father-alive'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-occupation'] %}
                {{data['father-occupation']}} 
              {% else %}
                Taxi driver
              {% endif %}
            </dd>
          </div>      
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-have-address'] %}
                {{data['father-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['father-have-address'] === 'No' and data['reason-father'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-father']}}</p> 
              {% endif %}
            </dd>
          </div>

          {% if data['father-have-address'] === 'Yes' or data['father-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
          </div>
          {% endif %}
          {% endif %}
          {% endif %}
        </dl>

        <!-- **************** Other parent's details **************** -->
        <h2 class="govuk-heading-m">Other parent's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is there another person with parental responsibility?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['other-parent-exists'] %}
                {{data['other-parent-exists']}} 
              {% else %}
                No
              {% endif %}
            </dd>
          </div>      

          {% if data['other-parent-exists'] === 'Yes' or data['other-parent-exists'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['other-parent-first-names'] and data['other-parent-last-names'] %}
                {{data['other-parent-first-names']}} {{data['other-parent-last-names']}}
              {% else %}
                Peter Murphy
              {% endif %}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['other-parent-have-address'] %}
                {{data['other-parent-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['other-parent-have-address'] === 'No' and data['reason-other-parent'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-other-parent']}}</p> 
              {% endif %}
            </dd>
          </div>

          {% if data['other-parent-have-address'] === 'Yes' or data['other-parent-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
          </div>
          {% endif %}
          {% endif %}
        </dl>


        <!-- **************** Child's placement and court orders **************** -->
        <h2 class="govuk-heading-m">Child's placement and court orders</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% if data['childOrderId'].length > 0 %}

        {% for id in data['childOrderId'] %}

          {% if id === 0 %}
          <h3 class="govuk-heading-s">Placement order</h3>
                    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderType'][id] %}
                {{data['childOrderType'][id]}} 
              {% else %}
                Placement order
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderNumber'][id] %}
                {{data['childOrderNumber'][id]}} 
              {% else %}
                AC17238376
              {% endif %}
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderCourt'][id] %}
                {{data['childOrderCourt'][id]}} 
              {% else %}
                Derby County Court
              {% endif %}
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderDay'][id] and data['childOrderMonth'][id] and data['childOrderYear'][id] %}
                {{ data['childOrderDay'][id] }} {{ data['monthName'][data['childOrderMonth'][id]] }} {{ data['childOrderYear'][id] }}
              {% else %}
                23 June 2020
              {% endif %}
            </dd>
          </div>      

          {% else %}
          <h3 class="govuk-heading-s">Court order</h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderType'][id] %}
                {{data['childOrderType'][id]}} 
              {% endif %}
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderNumber'][id] %}
                {{data['childOrderNumber'][id]}} 
              {% endif %}
            </dd>
          </div>   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderCourt'][id] %}
                {{data['childOrderCourt'][id]}} 
              {% endif %}
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['childOrderDay'][id] and data['childOrderMonth'][id] and data['childOrderYear'][id] %}
                {{ data['childOrderDay'][id] }} {{ data['monthName'][data['childOrderMonth'][id]] }} {{ data['childOrderYear'][id] }}
              {% else %}
                23 June 2020
              {% endif %}
            </dd>
          </div>   
          {% endif %}
        {% endfor %}

        <!-- If there aren't any placement and court orders for the child -->
        {% else %}
          <h3 class="govuk-heading-s">Placement order</h3>
                    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
                Placement order
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
                AC17238376
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
                Derby County Court
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
                23 June 2020
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              Something order
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Order case or serial number
            </dt>
            <dd class="govuk-summary-list__value">
              ABC123456
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>   

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Court
            </dt>
            <dd class="govuk-summary-list__value">
              Watford Crown Court
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
                3 September 2021
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      
        {% endif %} 
        
        </dl>

        <!-- **************** Sibling court orders **************** -->
        <h2 class="govuk-heading-m">Sibling court orders</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <!-- <h3 class="govuk-heading-s">Siblings with court orders</h3> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Child siblings or half siblings
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['sibling-exists'] %} 
              {{ data['sibling-exists']}}
            {% else %} 
              Yes
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>      


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sibling court orders
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['sibling-court-order-exists'] %} 
              {{ data['sibling-court-order-exists']}}
            {% else %} 
              Yes
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>    
        

        {% if data['siblingOrderId'].length > 0 %}
      
        {% for i in data['uniqueSiblingId'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sibling name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['uniqueSiblingFirstNames'][i] %}
                {{ data['uniqueSiblingFirstNames'][i] }} {{ data['uniqueSiblingLastNames'][i] }} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>     
          {% endfor %} 

          {% for id in data['siblingOrderId'] %}
          <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sibling name
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['siblingFirstNames'][id] %}
                {{ data['siblingFirstNames'][id] }} {{ data['siblingLastNames'][id] }} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of order
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['siblingOrderType'][id] %}
                {{data['siblingOrderType'][id]}} 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>      

            <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Order case or serial number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['siblingOrderNumber'][id] %}
              {{data['siblingOrderNumber'][id]}} 
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>   

      {% endfor %}
        </dl>

        <!-- If there isn't a court case for siblings, just to show how it would display -->
        {% else %}
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sibling name
          </dt>
          <dd class="govuk-summary-list__value">
            Mary Poppins
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>     

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sibling name
          </dt>
          <dd class="govuk-summary-list__value">
            Freddie Mercury
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>     

        <!-- Court orders for siblings -->
        <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sibling name
          </dt>
          <dd class="govuk-summary-list__value">
            Mary Poppins
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>      

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of order
          </dt>
          <dd class="govuk-summary-list__value">
            Placement order
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>      

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order case or serial number
        </dt>
        <dd class="govuk-summary-list__value">
          1223366363
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        </div>   

        <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sibling name
          </dt>
          <dd class="govuk-summary-list__value">
            Mary Poppins
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>      

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of order
          </dt>
          <dd class="govuk-summary-list__value">
            Exclusion order
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>      

          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order case or serial number
        </dt>
        <dd class="govuk-summary-list__value">
          AB-77626366363
        </dd>
        <dd class="govuk-summary-list__actions">
        </div>   

        <h3 class="govuk-heading-s govuk-!-margin-top-8">Court order</h3>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sibling name
          </dt>
          <dd class="govuk-summary-list__value">
            Freddie Mercury
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>      

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of order
          </dt>
          <dd class="govuk-summary-list__value">
            Something order
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>      

          <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order case or serial number
        </dt>
        <dd class="govuk-summary-list__value">
          TC7726363373
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        </div>   

        </dl>

      {% endif %}


        <!-- **************** Choose your family court **************** -->
        <h2 class="govuk-heading-m">Family court details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Family court name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['court-name'] %}
                {{ data['court-name'] }}
              {% else %}
                Bromley Family Court
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
        </dl>

    
        <!-- **************** Uploads **************** -->
        <h2 class="govuk-heading-m">Uploaded documents</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Uploaded documents
            </dt>
            <dd class="govuk-summary-list__value">
              deathcertificatemother.pdf
              <br>birthcertificate.png
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Documents not uploaded
            </dt>
            <dd class="govuk-summary-list__value">
              Death certificate
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

        </dl>

    
        <!-- <h2 class="govuk-heading-m">Download your application</h2> -->

        <p><a href="">Download application (PDF)</a></p>

        <!-- Buttons -->
        <!-- {% include "../../includes/buttons.html" %} -->

      </form>
    </div>
  </div>
</div>

{% endblock %}



