{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                    <div class="" style="display: flex; justify-content: space-between; ">
                        <div>
                            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">#1234-5678-0921-2722</h1>
                            <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>
                              <!-- <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                            <span style="margin-bottom:50px; padding-top: 25px;"><a href="#">Print</a></span>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Print
                            </button> -->
                        </div>
                        <form action="/research-11/case-worker/index" method="post" class="form">
                            <div style="display: flex; align-items:right; padding-top: 0px;">
                                <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                <select class="govuk-select" id="sort" name="next-steps">
                                    <option value="select-action" selected="">Select action</option>
                                    <option value="notes">Add a case note</option>
                                    <option value="allocate-judge">Allocate judge</option>
                                    <option value="amend-applicant">Amend applicant details</option>
                                    <option value="amend-case">Amend case details</option>
                                    <option value="manage-documents">Manage documents</option>
                                    <option value="manage-orders">Manage orders</option>
                                    <option value="info">Seek further information</option>
                                    <option value="send-a-message">Send or reply to messages</option>
                                    </select>

                                <div>
                                    <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button" name="go-button">Go</button>
                                </div>
                            </div>
                        </form>
                      </div>

                    <div class="govuk-tabs" data-module="govuk-tabs">

                      <h2 class="govuk-tabs__title">
                        Contents
                      </h2>

                      <!-- ****************************** START OF TABS ****************************** -->
                      <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="index.html">
                            Summary
                          </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-prospective-parents.html">
                                Applicants
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-other-parties.html">
                              Other parties
                            </a>
                          </li>

                          <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-documents.html">
                                Documents
                            </a>
                        </li>

                        {% if data['correspondenceStatus'] === 1 %}
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-correspondence.html">
                                Correspondence
                            </a>
                          </li>
                        {% endif %}

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-messages.html">
                                Messages
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-notes.html">
                                  Notes
                            </a>
                          </li>

                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="case-worker-history.html">
                                History
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-payments.html">
                                Payments
                            </a>
                        </li>

                        <!-- <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-payments.html">
                                Hearings
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-payments.html">
                                Orders
                            </a>
                        </li> -->

                    </ul>

                      <!-- ****************************** END OF TABS ****************************** -->

                      <div class="govuk-tabs__panel" id="event" style="display: flex; padding: 0px; border-bottom: 0px; border-right: 0px; border-left: 0px;">
                        <div style="margin-top: 20px;">
                            <h2 class="govuk-heading-m">History</h2>
                            <table class="govuk-table" style="width:600px; margin-right: 20px;">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Event</th>
                                        <th scope="col" class="govuk-table__header">Date</th>
                                        <th scope="col" class="govuk-table__header">Author</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body" >
                                {% if data.newcaseselected == 'true' %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">&nbsp;&nbsp;<a href="">Case submitted</a></td>
                                        <td class="govuk-table__cell" style="text-decoration: underline;">17 May 2020, 3:49:22 PM</td>
                                        <td class="govuk-table__cell">Peter Bach</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">&nbsp;&nbsp;<a href="">Notice of change request</a></td>
                                        <td class="govuk-table__cell" style="text-decoration: underline;">{{ data['todaydate'] }}, {{ data.todaydatetime }}</td>
                                        <td class="govuk-table__cell">Alex Smith</td>
                                    </tr>
                                    <tr class="govuk-table__row" style="border-left: 4px solid #005ea5; background-color: rgba(0,94,165,0.2); ">
                                        <td class="govuk-table__cell">&nbsp;&nbsp;<a href="">Notice of change confirmed</a></td>
                                        <td class="govuk-table__cell" style="text-decoration: underline;">{{ data['todaydate'] }}, {{ data.todaydatetime }}</td>
                                        <td class="govuk-table__cell">Alex Smith</td>
                                    </tr>
                                {% else %}
                                    <tr class="govuk-table__row" style="border-left: 4px solid #005ea5; background-color: rgba(0,94,165,0.2); ">
                                        <td class="govuk-table__cell">&nbsp;&nbsp;<a href="">Case submitted</a></td>
                                        <td class="govuk-table__cell" style="text-decoration: underline;">17 May 2020, 3:49:22 PM</td>
                                        <td class="govuk-table__cell">Alex Smith</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div style="width: 580px; border: 1px solid #bfc1c3; padding:10px; margin-top: 20px;" >
                            <h2 class="govuk-heading-m  govuk-!-margin-top-3 govuk-!-margin-bottom-4">Details</h2>
                            <div style="display: flex;">
                                <div style="width: 210px;">
                                    <p>Date</p>
                                    <p>Author</p>
                                    <p>End state</p>
                                    <p>Event</p>
                                    <p>Summary</p>
                                    <p>Comment</p>
                                </div>
                                {% if data.newcaseselected == 'true' %}
                                    <div>
                                        <p style="text-decoration: underline;">{{ data['todaydate'] }}, {{ data.todaydatetime }}</p>
                                        <p>Alex Smith</p>
                                        <p>Case transferred to new solicitor</p>
                                        <p>Notice of change confirmed</p>
                                        <p>-</p>
                                        <p>-</p>
                                    </div>
                                {% else %}
                                    <div>
                                        <p style="text-decoration: underline;">17 May 2020, 3:49:22 PM</p>
                                        <p>Alex Smith</p>
                                        <p>Solicitor - Awaiting Payment Confirmation</p>
                                        <p>Case submission</p>
                                        <p>-</p>
                                        <p>-</p>
                                    </div>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
      </div>
    </main>
    </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
