{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">Manage orders</h1>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                  <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>


                  <form action="/research-11/case-worker/case-worker-gatekeeping-order-creation-manage-orders" method="post" class="form">
                  <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <label class="govuk-label govuk-!-margin-bottom-4 govuk-!-font-weight-bold" for="sender-email-address">
                        What do you want to do?
                      </label>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="xui-orders-create" name="xui-orders-radio" type="radio" value="create" {% if data['xui-orders-radio'] == "create" %} checked {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="xui-orders-create">
                          Create new order
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="xui-orders-amend" name="xui-orders-radio" type="radio" value="upload" {% if data['xui-orders-radio'] == "upload" %} checked {% endif %}>
                        <label class="govuk-label govuk-radios__label" for="xui-orders-amend">
                          Edit draft order
                        </label>
                      </div>
        
                    </div>
                
                  </fieldset>
                </div>
                <!-- Buttons -->
                {% include "../../includes/buttons-xui.html" %}
                  </form>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
