{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                    <div class="" style="display: flex; justify-content: space-between; ">
                        <div>
                            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">#1234-5678-0921-2722</h1>
                            <h2 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>
                              <!-- <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                            <span style="margin-bottom:50px; padding-top: 25px;"><a href="#">Print</a></span>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Print
                            </button> -->
                        </div>

                        <form action="/research-11/case-worker/index" method="post" class="form">
                            <div style="display: flex; align-items:right; padding-top: 0px;">
                                <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                                <select class="govuk-select" id="sort" name="next-steps">
                                    <option value="select-action" selected="">Select action</option>
                                    <option value="notes">Add a case note</option>
                                    <option value="allocate-judge">Allocate judge</option>
                                    <option value="amend-applicant">Amend applicant details</option>
                                    <option value="amend-case">Amend case details</option>
                                    <option value="manage-documents">Manage documents</option>
                                    <option value="manage-orders">Manage orders</option>
                                    <option value="info">Seek further information</option>
                                    <option value="send-a-message">Send or reply to messages</option>
                                        <!-- <option value="summary">Summary</option>
                                    <option value="prospective-parents">Prospective Parents</option>
                                    <option value="birth-parents">Birth Parents</option>
                                    <option value="other-parties">Other parties</option>
                                    <option value="history">History</option>
                                    <option value="payment">Payment</option>
                                    <option value="add-welsh">Add Welsh requirements</option>
                                    <option value="attending-hearing">Attending the hearing</option>
                                    <option value="send-to-court">Issue and send to local court</option>
                                    <option value="send-to-gate-keeper">Send to gate keeper</option>
                                    <option value="other-proceedings">Other Proceedings</option> -->
                                </select>

                                <div>
                                    <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button" name="go-button">Go</button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="govuk-tabs" data-module="govuk-tabs">

                      <h2 class="govuk-tabs__title">
                        Contents
                      </h2>

                      <!-- ****************************** START OF TABS ****************************** -->
                      <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                          <a class="govuk-tabs__tab" href="index.html">
                            Summary
                          </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-prospective-parents.html">
                                Applicants
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-respondents.html">
                              Respondents
                            </a>
                          </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-other-parties.html">
                              Other parties
                            </a>
                          </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-documents.html">
                                Documents
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-orders.html">
                                Orders
                            </a>
                        </li>
                        
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="index.html">
                                Hearings
                            </a>
                        </li>
  
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-correspondence.html">
                                Correspondence
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-messages.html">
                                Messages
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="">
                                >
                            </a>
                        </li>

                        <!-- <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-notes.html">
                                Notes
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-history.html">
                                History
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-payments.html">
                                Payments
                            </a>
                        </li> -->

                    </ul>

                      <!-- ****************************** END OF TABS ****************************** -->

                      <div class="govuk-tabs__panel" id="1">

                        <h2 class="govuk-heading-m govuk-!-margin-top-7">Case status</h2>
                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Submitted
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Messages
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    You have <a href="case-worker-messages.html">1 outstanding message</a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Documents
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    You have <a href="case-worker-documents.html">3 documents to review</a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Hearing date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    20 October 2022 at 11:30
                                </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-m govuk-!-margin-top-7">Case details</h2>
                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Adoption type
                                </dt>
                                <dd class="govuk-summary-list__value">
                                   {{ data['adoptionType'] }}
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date submitted
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  {{ data['dateSubmittedDay'] }}
                                    {{ data['monthName'][data['dateSubmittedMonth']] }}
                                      {{ data['dateSubmittedYear'] }}
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    20 week timetable
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    29 December 2022
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date child moved in
                                </dt>
                                <dd class="govuk-summary-list__value">
                                  {{ data['dateChildMovedInDay'] }}
                                    {{ data['monthName'][data['dateChildMovedInMonth']] }}
                                      {{ data['dateChildMovedInYear'] }}
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Payment method
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Card
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Allocated court
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Brighton Family Court
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Allocated judge
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <!-- <p><span class="govuk-!-font-weight-bold">Title:</span> Her Honour Judge</p>
                                    <p><span class="govuk-!-font-weight-bold">Last name:</span> Jameson</p>
                                    <p><span class="govuk-!-font-weight-bold">Email address:</span> judgejameson@example.com</p> -->
                                    {% if (data['allocatedJudge'] === 1) %}
                                        <p>{{ data['allocate-judge-name'] }}</p>
                                        <p>judgename@example.com</p>
                                    {% else %}
                                        <p>Her Honour Judge Jameson</p>
                                        <p>judgejameson@example.com</p>
                                    {% endif %}
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Placement order details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>Brighton Family Court</p>
                                    <p>12 July 2021</p>
                                    <p>ANC13637883</p>
                                    <!-- <p><span class="govuk-!-font-weight-bold">Court:</span> Brighton Family Court</p>
                                    <p><span class="govuk-!-font-weight-bold">Date:</span> 12 July 2021</p>
                                    <p><span class="govuk-!-font-weight-bold">Order case or serial number:</span> ANC13637883</p> -->
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Other court cases
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>Care</p>
                                    <p>JTR12346252</p>
                                    <br>
                                    <p>General directions</p>
                                    <p>AB1237686</p>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Sibling court cases
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>Brother</p>
                                    <p>Care </p>
                                    <p>CHCO12346252</p>
                                    <br>
                                    <p>Half-sister</p>
                                    <p>Placement</p>
                                    <p>LCO77162555</p>

                                </dd>
                            </div>
                            <!-- <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Applicants' social worker
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>Mary Jones</p>
                                    <p>mary.jones@jonesadoptions.co.uk</p>
                                    <p>02098756535</p>
                                    <p>Jones Adoptions</p>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Child's social worker
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p>Agnes James</p>
                                    <p>agnes.james@gmail.com</p>
                                    <p>02098756535</p>
                                    <p>Ipsem</p>
                                </dd>
                            </div> -->
                        </dl>
                      </div>
                    </div>
                </div>
              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
