{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Current employment and income</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            What's your occupation?
          </label>
          <span id="changed-name-hint" class="govuk-hint">
            This will be printed on the adoption certificate
          </span>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            How much do you earn each year, before tax?
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
        </div>

        <a href="step-4-3" class="govuk-button">Save and continue</a>
        <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
