{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/research-2/check-pay-and-submit/check-your-answers" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['checkpaysubmit'] }}</span>
          <h1 class="govuk-fieldset__heading">
            WIP **** Check your answers **** WIP
          </h1>
        </legend>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Number of applicants
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['numberApplicants'] === '1' %}
                I'm applying on my own  
              {% elseif data['numberApplicants'] === 'partner' %}
                I'm applying with my spouse or civil partner
              {% else %}
                I'm applying with someone who is not my spouse or civil partner
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/number-of-applicants.html">
                Change
                <span class="govuk-visually-hidden"> number of applicants</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date child moved in
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/date-child-moved-in.html">
                Change
                <span class="govuk-visually-hidden"> date child moved in</span>
              </a>
            </dd>
          </div>
        </dl>

        <!-- **************** First applicant personal details **************** -->
        <!-- <h2 class="govuk-heading-m">{{data ['firstApplicant']}}'s personal details</h2> -->
        <h2 class="govuk-heading-m">{{data ['firstApplicant']}}'s details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['first-applicant-names'] and data['first-applicant-last-names'] %}
                {{data['first-applicant-names']}} {{data['first-applicant-last-names']}}
              {% else %}
                Agatha Mary Clarissa Christie
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-name.html">
                Change
                <span class="govuk-visually-hidden"> full name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous names
            </dt>
            <dd class="govuk-summary-list__value">
              Agatha Mary Clarissa Miller
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-other-names.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['first-applicant-day'] and data['first-applicant-month'] and data['first-applicant-year'] %}
                {{ data['first-applicant-day'] }} {{ data['monthName'][data['first-applicant-month']] }} {{ data['first-applicant-year'] }}
              {% else %}
                25 January 1987
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-date-birth.html">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British<br>Polish
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['first-applicant-occupation'] %}
                {{data['first-applicant-occupation']}} 
              {% else %}
              Self-employed hairdresser
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-occupation.html">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
              </a>
            </dd>
          </div>      
        <!-- </dl> -->


        <!-- **************** First applicant contact details **************** -->
        <!-- <h2 class="govuk-heading-m">{{data ['firstApplicant']}}'s contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-address.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              agatha@christie.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-contact.html">
                Change
                <span class="govuk-visually-hidden"> email address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07865432323
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/first-applicant-contact.html">
                Change
                <span class="govuk-visually-hidden"> phone number</span>
              </a>
            </dd>
          </div>

        </dl>

        

        <!-- **************** Second applicant personal details **************** -->
        <!-- <h2 class="govuk-heading-m">{{data ['secondApplicant']}}'s personal details</h2> -->
        <h2 class="govuk-heading-m">{{data ['secondApplicant']}}'s details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['second-applicant-names'] and data['second-applicant-last-names'] %}
                {{data['second-applicant-names']}} {{data['second-applicant-last-names']}}
              {% else %}
              Arthur Ignatius Conan Doyle
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-name.html">
                Change
                <span class="govuk-visually-hidden"> full name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Previous names
            </dt>
            <dd class="govuk-summary-list__value">
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-other-names.html">
                Change
                <span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['second-applicant-day'] and data['second-applicant-month'] and data['second-applicant-year'] %}
                {{ data['second-applicant-day'] }} {{ data['monthName'][data['second-applicant-month']] }} {{ data['second-applicant-year'] }}
              {% else %}
                25 January 1987
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-date-birth.html">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British<br>Polish
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['second-applicant-occupation'] %}
                {{data['second-applicant-occupation']}} 
              {% else %}
              Self-employed hairdresser
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-occupation.html">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
              </a>
            </dd>
          </div>      
        <!-- </dl> -->

        <!-- **************** Second applicant contact details **************** -->
        <!-- <h2 class="govuk-heading-m">{{data ['secondApplicant']}}'s contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9"> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-address.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              agatha@christie.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-contact.html">
                Change
                <span class="govuk-visually-hidden"> email address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              07865432323
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../applicants/second-applicant-contact.html">
                Change
                <span class="govuk-visually-hidden"> phone number</span>
              </a>
            </dd>
          </div>

        </dl>

         <!-- **************** Child's details **************** -->
        <h2 class="govuk-heading-m">Child's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['child-first-names'] and data['child-last-names'] %}
                {{data['child-first-names']}} {{data['child-last-names']}}
              {% else %}
                Jane Austen
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/child-name.html">
                Change
                <span class="govuk-visually-hidden"> full name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['child-birth-day'] and data['child-birth-month'] and data['child-birth-year'] %}
                {{ data['child-birth-day'] }} {{ data['monthName'][data['child-birth-month']] }} {{ data['child-birth-year'] }}
              {% else %}
                12 May 2019
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/child-date-birth.html">
                Change
                <span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex at birth
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['child-sex'] %}
                {{data['child-sex']}}
              {% else %}
                Female
              {% endif %}              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/child-sex.html">
                Change
                <span class="govuk-visually-hidden"> sex at birth</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/child-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name after adoption
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['certificate-first-names'] and data['certificate-last-names'] %}
                {{data['certificate-first-names']}} {{data['certificate-last-names']}}
              {% else %}
                Jane Christie Doyle
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/child-adoption-certificate.html">
                Change
                <span class="govuk-visually-hidden"> birth certificate details</span>
              </a>
            </dd>
          </div>
        </dl>

        <!-- **************** Birth mother's details **************** -->
        <h2 class="govuk-heading-m">Birth mother's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-first-names'] and data['mother-last-names'] %}
                {{data['mother-first-names']}} {{data['mother-last-names']}}
              {% else %}
                Marianne Austen
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/mother-name.html">
                Change
                <span class="govuk-visually-hidden"> birth mother's full name</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alive
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-alive'] %}
                {{data['mother-alive']}} 
              {% else %}
                Yes
              {% endif %}
              
              {%if data['mother-alive'] === 'Not sure' and data['mother-reason-not-sure'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['mother-reason-not-sure']}}</p> 
              {% endif %}              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/mother-alive.html">
                Change
                <span class="govuk-visually-hidden"> alive status</span>
              </a>
            </dd>
          </div>      

          <!-- If birth mother is alive -->
          {%if data['mother-alive'] === 'Yes' or data['mother-alive'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              Irish
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/mother-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-occupation'] %}
                {{data['mother-occupation']}} 
              {% else %}
                Office administrator
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/mother-occupation.html">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
              </a>
            </dd>
          </div>      
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['mother-have-address'] %}
                {{data['mother-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['mother-have-address'] === 'No' and data['reason-mother'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-mother']}}</p> 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/mother-have-address.html">
                Change
                <span class="govuk-visually-hidden"> address known</span>
              </a>
            </dd>
          </div>

          {% if data['mother-have-address'] === 'Yes' or data['mother-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/mother-address-postcode.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% endif %}

        </dl>

        <!-- **************** Birth father's details **************** -->
        <h2 class="govuk-heading-m">Birth father's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on birth certificate
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['father-in-certificate'] %}
                {{data['father-in-certificate']}} 
              {% else %}
                Yes
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/father-alive.html">
                Change
                <span class="govuk-visually-hidden"> alive status</span>
              </a>
            </dd>
          </div>      

          {% if data['father-in-certificate'] === 'Yes' or data['father-in-certificate'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-first-names'] and data['father-last-names'] %}
                {{data['father-first-names']}} {{data['father-last-names']}}
              {% else %}
                John Austen
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/father-name.html">
                Change
                <span class="govuk-visually-hidden"> birth father's full name</span>
              </a>
            </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Alive
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-alive'] %}
                {{data['father-alive']}} 
              {% else %}
                Yes
              {% endif %}
              
              {%if data['father-alive'] === 'Not sure' and data['father-reason-not-sure'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['father-reason-not-sure']}}</p> 
              {% endif %}              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/father-alive.html">
                Change
                <span class="govuk-visually-hidden"> alive status</span>
              </a>
            </dd>
          </div>      

          <!-- If birth father is alive -->
          {%if data['father-alive'] === 'Yes' or data['father-alive'] === undefined %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dd class="govuk-summary-list__value">
              British
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/father-nationality.html">
                Change
                <span class="govuk-visually-hidden"> nationality</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-occupation'] %}
                {{data['father-occupation']}} 
              {% else %}
                Taxi driver
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/father-occupation.html">
                Change
                <span class="govuk-visually-hidden"> occupation</span>
              </a>
            </dd>
          </div>      
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['father-have-address'] %}
                {{data['father-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['father-have-address'] === 'No' and data['reason-father'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-father']}}</p> 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/father-have-address.html">
                Change
                <span class="govuk-visually-hidden"> address known</span>
              </a>
            </dd>
          </div>

          {% if data['father-have-address'] === 'Yes' or data['father-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/father-address-postcode.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% endif %}
          {% endif %}
        </dl>

        <!-- **************** Other parent's details **************** -->
        <h2 class="govuk-heading-m">Other parent's details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is there another person with parental responsibility?
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data['other-parent-exists'] %}
                {{data['other-parent-exists']}} 
              {% else %}
                No
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/other-parent-exists.html">
                Change
                <span class="govuk-visually-hidden"> other parent exists status</span>
              </a>
            </dd>
          </div>      

          {% if data['other-parent-exists'] === 'Yes' or data['other-parent-exists'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['other-parent-first-names'] and data['other-parent-last-names'] %}
                {{data['other-parent-first-names']}} {{data['other-parent-last-names']}}
              {% else %}
                Peter Murphy
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/other-parent-name.html">
                Change
                <span class="govuk-visually-hidden"> birth other-parent's full name</span>
              </a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address known
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['other-parent-have-address'] %}
                {{data['other-parent-have-address']}} 
              {% else %}
                Yes
              {% endif %}
              {%if data['other-parent-have-address'] === 'No' and data['reason-other-parent'] %}
                <p><span class="govuk-!-font-weight-bold">Reason: </span>{{data['reason-other-parent']}}</p> 
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/other-parent-have-address.html">
                Change
                <span class="govuk-visually-hidden"> address known</span>
              </a>
            </dd>
          </div>

          {% if data['other-parent-have-address'] === 'Yes' or data['other-parent-have-address'] === undefined %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              Buckingham Palace
              <br> London SW1A 1AA            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="../children/other-parent-address-postcode.html">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% endif %}
        </dl>


    
        <h2 class="govuk-heading-m">Now send your application</h2>

        <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button" name="submit-and-pay" value="save-and-continue">
            Save and continue
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}



