{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Understanding 'parental responsibility'
            </h1>
          </legend>
          <br>
          <p class="govuk-body">
            In family law, parental responsibility means all the rights, duties, powers, responsibilities and
            authority that a parent has for the child.</p>
          <p>If a child’s father and mother were married to each other when the child was born,
            each has parental responsibility.</p>
          <p>If the parents were not married to each other at that time, the father can gain
            parental responsibility:
            <ul class="govuk-list govuk-list--bullet">

              <li>by registering the child’s birth jointly with the mother </li>
              <li>by marrying the child’s mother</li>
              <li>through a ‘parental responsibility agreement’ between him and the child’s mother which is
                registered with the court</li>
              <li>by getting a court order for parental responsibility </li>
            </ul>

        </fieldset>
      </div>
      <!--
      <a href="task-list-2.html" class="govuk-button">Close window</a> <-->

    </div>
  </div>
</div>

{% endblock %}