{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">research-6</span>
        Adoption beta prototype
      </h1>

      <h3 class="govuk-heading-m">
        Shortcuts for the following sections
      </h3>

      <p><a href="research-6/eligibility/start-placement.html">Start journey</a></p>
      <p><a href="research-6/eligibility/under-18.html">Eligibility</a></p>
      <p><a href="research-6/task-list.html">Task list</a></p>
      <p><a href="research-6/x-ui/case-worker/">Case worker</a></p>
    </div>



        </div>

    </div>
  </div>
</div>

{% endblock %}