{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you lived in the British Isles for the last 12 months?
            </h1>
          </legend>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <span id="changed-name-hint" class="govuk-hint">
                If you’re adopting as a couple, you must both have lived in the British Isles for the last 12 months.
              </span>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio"
                    value="england">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio"
                    value="scotland">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

        <div class="govuk-form-group">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Countries in the British Isles
              </span>
            </summary>
            <div class="govuk-details__text">
              The British Isles are made up of the United Kingdom, the Channel Islands and the Isle of Man
            </div>
          </details>
        </div>


    <a href="registration2/start.html" class="govuk-button">Continue</a>

</div>
</div>
</div>

{% endblock %}
