{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">


<span class="govuk-caption-l">Review your application, pay and send </span>
        <h1 class="govuk-heading-l">Check your answers</h1>


      <h2 class="govuk-heading-m">Your details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Amy Walker
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            31 March 1989
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
            School teacher
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your address
          </dt>
          <dd class="govuk-summary-list__value">
            Buckingham Palace <br> London <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            Email – amy.walker@test.com <br>
            Phone – 07944756354
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you ever been married or in a civil partnership?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Photo ID
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="">licence.png</a><br>
            <a href="">passport.png</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">The child's details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-5">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Natalie Jones
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/name">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 2012
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time of birth
          </dt>
          <dd class="govuk-summary-list__value">
            10:48pm
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            British
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Birth certificate
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="">birth-certificate.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you want to change their name?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When did they move in with you?
          </dt>
          <dd class="govuk-summary-list__value">
            31 March 2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When was their placement order made?
          </dt>
          <dd class="govuk-summary-list__value">
            31 March 2019
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/date-of-birth">
              Change<span class="govuk-visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement order number
          </dt>
          <dd class="govuk-summary-list__value">
            LDN76519
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Placement order
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="">placement_order.png</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have there been any previous court orders for the child?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/occupation">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>


      <p class="govuk-body govuk-!-font-weight-bold">The birth mother's details</p>


      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Susan Jones
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Born in
          </dt>
          <dd class="govuk-summary-list__value">
            Britain
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
            ..
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is she still alive?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last known address
          </dt>
          <dd class="govuk-summary-list__value">
            Buckingham Palace <br> London <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>


      <p class="govuk-body govuk-!-font-weight-bold">The birth father's or other parent's details</p>


      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is the father's name on the child’s birth certificate?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            William Jones
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Born in
          </dt>
          <dd class="govuk-summary-list__value">
            Britain
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
            ..
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is still alive?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>


      <p class="govuk-body govuk-!-font-weight-bold">The first sibling</p>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Relationship to the child
          </dt>
          <dd class="govuk-summary-list__value">
            Sibling
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Order made or applied for
          </dt>
          <dd class="govuk-summary-list__value">
            Something
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            11 April 2014
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Court
          </dt>
          <dd class="govuk-summary-list__value">
            Something
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-the-child/date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case number
          </dt>
          <dd class="govuk-summary-list__value">
            Something
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Were you a party to this proceeding?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Final order
          </dt>
          <dd class="govuk-summary-list__value">
            <a href="">final-order.pdf</a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-you/birth-cert">
              Change<span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>




      <h2 class="govuk-heading-m">Your adoption contacts</h2>

      <p class="govuk-body govuk-!-font-weight-bold">Your adoption agency or local authority</p>


      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of adoption agency
          </dt>
          <dd class="govuk-summary-list__value">
            Future Families Adoption Agency
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Social worker's name
          </dt>
          <dd class="govuk-summary-list__value">
            Linda Paul
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            Lindapaul@test.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07915740231
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Buckingham Palace <br> London <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            The child's social worker's details
          </dt>
          <dd class="govuk-summary-list__value">
            Essex County Council Children's Services
            <br>
            Craig Davis
            <br>
            Craigdavis@test.com
            <br>
            Pamassessments@test.com
            <br>
            07538234761
            <br>
            Buckingham Palace <br> London <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/childs-social-worker">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Declaration: have any other agencies been involved in adoption arrangements?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/representation">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is a solicitor helping you with this application?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/financial-aid">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div> -->
      </dl>


      <p class="govuk-body govuk-!-font-weight-bold">The child's adoption agency or local authority</p>


      <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name of adoption agency
          </dt>
          <dd class="govuk-summary-list__value">
            Essex County Council Children's Services
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Social worker's name
          </dt>
          <dd class="govuk-summary-list__value">
            Craig Davis
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            Craigdavis@test.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            07915740231
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Buckingham Palace <br> London <br> SW1A 1AA
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      </dl>



      <p class="govuk-body govuk-!-font-weight-bold">Your solicitor</p>


      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is a solicitor helping you with this application?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-m">Declare payments</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you made or been given any money or financial rewards in relation to this application?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="about-your-prof-help/social-worker">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>


        <input type="hidden" name="answers-checked" value="true">

        <a href="declaration.html" class="govuk-button">Continue </a>
        <a href="#" class="govuk-button govuk-button--secondary">Download this page</a>

    </div>
  </div>
</main>
</div>

{% endblock %}
