{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="#" class="govuk-back-link">Back</a>
      <br><br>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Review your application, pay and send </span>
          <h1 class="govuk-fieldset__heading">
              Declare payments
          </h1>
      </legend>
      

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You could be in contempt of court if you give false information in this form, or give false information to
          others who have contributed.

        </strong>
      </div>

      <p class="govuk-body">By continuing you agree that, to the best of your knowledge, the information given is
        correct.
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              I agree
            </label>
          </div>


          <br><br>

          <a href="payment" class="govuk-button">Continue</a>



        </div>

    </div>

  </div>

  {% endblock %}
