{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="task-list-2" method="post" class="form">




          <div class="govuk-form-group">


              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">Declare payments </span>
                  <h1 class="govuk-fieldset__heading">
                      Have you made or been given any money or financial rewards in relation to this application?
                  </h1>
              </legend>

            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <label class="govuk-label" for="full-name">
                Have you or your partner received or given money or other financial rewards leading up to this
                application?
              </label>
              <span id="waste-hint" class="govuk-hint">
                This does not include fostering allowance, tax relief or tax exemption. </span>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-gp" name="payment-declaration" type="radio"
                    value="email" data-aria-controls="conditional-gp" {{ checked("payment-declaration", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-gp">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="conditional-how-contacted-condi" name="payment-declaration"
                    type="radio" value="phone" data-aria-controls="conditional-how-contacted-condi-no" {{ checked("payment-declaration", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="conditional-how-contacted-condi">
                    No
                  </label>
                </div>

                <div
                  class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
                  id="conditional-gp">
                  <div class="govuk-form-group">


                    <label class="govuk-label" for="full-name">
                      Add details of financial rewards
                    </label>

                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>


                  </div>


                </div>
            </fieldset>

          </div>


          <button class="govuk-button" data-module="govuk-button">Save and return</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save as draft</a>


        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
