{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Add application details
        </h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">

            <span class="app-task-list__task-name">

              <a href="./about-application/number-of-children">
                Number of children and applicants
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>

          </li>
          <li class="app-task-list__item">

            <span class="app-task-list__task-name">

              <a href="about-children/step-1-c">
                Choose your family court
              </a>
            </span>

          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Add your details
        </h2>

        <ul class="app-task-list__items">
          <div class="govuk-inset-text home-office-inset-text">
            <p>You'll need to upload your:</p>
            <ul class="govuk-list govuk-list--bullet">


              <li>passport's photo page</li>
              <li>driving licence</li>
            </ul>
            <p>If relevant to you, you'll also need to upload:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li> your marriage or civil partnership certificate</li>

              <li> evidence of your divorce, for example your decree absolute</li>
              <li> evidence of dissolution of your civil partnership</li>
              <li>the death certificate of your spouse</li>
              <li>your UK visa</li>
              <li>immigration stamps in your passport</li>
          </div>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-6" aria-describedby="eligibility-completed">
                Your relationship details
              </a>
            </span>
            {% if data['relationship'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>







          <!-- <p><strong>First child</strong></p><-->

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2" aria-describedby="eligibility-completed">
                Your personal details
              </a>
              </a></span>
            {% if data['your-name'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
            <br>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2-3c" aria-describedby="eligibility-completed">
                Your contact details
              </a>
              </a></span>
            {% if data['phone-number'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
            <br>

          </li>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2-4" aria-describedby="eligibility-completed">
                Upload your identity documents
              </a>
              </a></span>
            {% if data['personal-photo'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>





          <!-- <p><strong>First child</strong></p>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2" aria-describedby="eligibility-completed">
                Your personal details
              </a>
              </a></span>
            {% if data['your-name'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
            <br>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2-3c" aria-describedby="eligibility-completed">
                Your contact details
              </a>
              </a></span>
            {% if data['phone-number'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
            <br>

          </li>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/step-2-4" aria-describedby="eligibility-completed">
                Upload your identity documents
              </a>
              </a></span>
            {% if data['personal-photo'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>-->

        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Add the child's details
        </h2>
        <ul class="app-task-list__items">
          <div class="govuk-inset-text home-office-inset-text">
            <p class="govuk-body">You'll need to work with your social worker or adoption agency to answer these
              questions, but it's important the answers come from you.</p>
            <p class="govuk-body">This is because, if your application is successful, <a href="PR"
                target="_blank">'parental
                responsibility'</a> will
              permanently transfer from
              the birth parents to you.
          </div>

          <p class="govuk-body-l"></p>

          <!-- <p><strong>First child</strong></p><-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1.html" aria-describedby="eligibility-completed">
                Their birth certificate details
              </a></span>
            {% if data['childs-name'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
            <br>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1-2.html" aria-describedby="eligibility-completed">
                Adoption certificate details
              </a></span>

            {% if data['adoption-cert-details'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}

            <br>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1-3" aria-describedby="eligibility-completed">
                Their history with you
              </a></span>
            {% if data['date-placed'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
            <br>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-1-3b-yes.html" aria-describedby="eligibility-completed">
                Their placement order details
              </a></span>
            {% if data['date-placed'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
            <br>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-5.html" aria-describedby="eligibility-completed">
                Their birth mother's details
              </a>
            </span>
            {% if data['wishes3'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-5-2.html" aria-describedby="eligibility-completed">
                Their birth father's or other parent's details
              </a>
            </span>
            {% if data['wishes3'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-7.html" aria-describedby="eligibility-completed">
                Previous court orders for the child
              </a>
            </span>
            {% if data['health-issues'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/step-6.html" aria-describedby="eligibility-completed">
                Court order details for any siblings or half-siblings
              </a>
            </span>
            {% if data['siblings'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Add your adoption contacts
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-1-new">
                Your adoption agency or local authority
              </a>
            </span>
            {% if data['agency-name'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-2-new">
                The child's adoption agency or local authority
              </a>
            </span>
            {% if data['adoption-agency-name'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>


          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/step-3">
                Your solicitor
              </a>
            </span>
            {% if data['company-name'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span>Declare payments
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="declare-payments">
                Declare any payments made or received </a>
            </span>
            {% if data['payment-declaration'] %}
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
            {% endif %}
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span>Review application, pay and send
        </h2>
        <ul class="app-task-list__items">
          <div class="govuk-inset-text home-office-inset-text">
            You'll need your credit or debit card. </div>
          <p class="govuk-body-l"></p>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="check-your-answers.html">
                Review your application, pay and send
              </a>
            </span>
          </li>
        </ul>
      </li>

    </ol>


  </div>
</div>

{% endblock %}
