{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 

            <br>
                <h1 class="govuk-heading-xl">Email address confirmed</h1>

<p>This will enable us to help you get the most from this service.</p>


 <br>

      <a href="start4.html" class="govuk-button">Continue</a>
      <!--
      <h2 class="govuk-heading-m"><a href="about-the-child/number-of-children">Version with No. of kids asked first</h2>
      </a>-->



   

  


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Is there a problem with this page?
          </span>
        </summary>
        <div class="govuk-details__text">
          We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
        </div>
      </details>







    </div>
  </div>

</div>

{% endblock %}