{% block header %}
{% include "includes/xui-judge-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                    <div class="" style="display: flex; justify-content: space-between; ">
                        <div>
                          <h1 class="govuk-heading-xl">#1234-5678-0921-2722  &nbsp;&nbsp;&nbsp; </h1>
                            <!-- <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                            <span style="margin-bottom:50px; padding-top: 25px;"><a href="#">Print</a></span>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Print
                            </button> -->
                        </div>
                        <form action="/research-8/x-ui/judge/index" method="post" class="form">
                          <div style="display: flex; align-items:right; padding-top: 0px;">
                              <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

                              <select class="govuk-select" id="sort" name="next-steps">
                                  <option value="select-action" selected="">Select action</option>
                                  <option value="manage-documents">Upload documents</option>
                                  <option value="send-a-message">Send message</option>
                                  <option value="case-issue">Case issue</option>
                                  <option value="notes">Add a case note</option>
                              </select>

                              <div>
                                  <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button" name="go-button">Go</button>
                              </div>
                          </div>
                      </form>
                    </div>

                    <div class="govuk-tabs" data-module="govuk-tabs">

                      <h2 class="govuk-tabs__title">
                        Contents
                      </h2>

                      <!-- ****************************** START OF TABS ****************************** -->
                      <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="index.html">
                            Summary
                          </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-prospective-parents.html">
                                Applicants
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="judge-other-parties.html">
                              Other parties
                            </a>
                          </li>

                          <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-documents.html">
                                Documents
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-messages.html">
                                Messages
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-notes.html">
                                  Notes
                            </a>
                          </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-history.html">
                                History
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-payments.html">
                                Payments
                            </a>
                        </li>

                        <!-- <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-payments.html">
                                Hearings
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="judge-payments.html">
                                Orders
                            </a>
                        </li> -->

                    </ul>

                    <!-- ****************************** END OF TABS ****************************** -->


                      <div class="govuk-tabs__panel" id="1">
                        <h2 class="govuk-heading-l">Other parties</h2>


                        <dt class="complex-panel">
                          Allocated Judge
                        </dt>

                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Judge or magistrate's title
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Her Honour Judge
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Last name
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Jameson
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Email address
                            </dt>
                            <dd class="govuk-summary-list__value">
                              judgejameson@example.com
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                       </dl>

                        <dt class="complex-panel govuk-!-margin-top-7">
                          Child
                        </dt>

                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              First names
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Jane
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Last names
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Austen
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Date of birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                              12 May 2019
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Sex at birth
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Female
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Nationality
                            </dt>
                            <dd class="govuk-summary-list__value">
                              British
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Full name after adoption
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Jane Christie Doyle
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
                       </dl>


                        <dt class="complex-panel">
                          Birth mother
                        </dt>

                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              First names
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Marianne
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Last names
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Austen
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Alive
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Yes
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Nationality
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Irish
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Occupation
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Office administrator
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Buckingham Palace
                              <br>London SW1A 1AA
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                       </dl>

                        <dt class="complex-panel govuk-!-margin-top-7">
                          Birth father
                        </dt>

                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              First names
                            </dt>
                            <dd class="govuk-summary-list__value">
                              John
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Last names
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Austen
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Alive
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Yes
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Nationality
                            </dt>
                            <dd class="govuk-summary-list__value">
                              British
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Occupation
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Taxi driver
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Address
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Unknown
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                       </dl>

                       <dt class="complex-panel govuk-!-margin-top-7">
                         Other Parent
                       </dt>

                       <dl class="govuk-summary-list">
                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             First names
                           </dt>
                           <dd class="govuk-summary-list__value">
                             Peter
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>

                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             Last names
                           </dt>
                           <dd class="govuk-summary-list__value">
                             Murphy
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>

                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             Alive
                           </dt>
                           <dd class="govuk-summary-list__value">
                             Yes
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>

                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             Address
                           </dt>
                           <dd class="govuk-summary-list__value">
                             Buckingham Palace London SW1A 1AA
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>

                      </dl>

                       <dt class="complex-panel govuk-!-margin-top-7">
                         Adoption Agency or Local Authority
                       </dt>
                       <dl class="govuk-summary-list">
                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             Name
                           </dt>
                           <dd class="govuk-summary-list__value">
                             Royal Borough of Greenwich
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>
                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             Name of contact
                           </dt>
                           <dd class="govuk-summary-list__value">
                             Mary Francis
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>
                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             Phone number
                           </dt>
                           <dd class="govuk-summary-list__value">
                             02015528988
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>


                         <div class="govuk-summary-list__row">
                           <dt class="govuk-summary-list__value">
                             Email address of contact
                           </dt>
                           <dd class="govuk-summary-list__value">
                             mary.francis@greenwich.gov.uk
                           </dd>
                           <dd class="govuk-summary-list__value">
                             &nbsp;
                           </dd>
                         </div>

                      </dl>
                      <dt class="complex-panel govuk-!-margin-top-7">
                        Other Adoption Agency or Local Authority
                      </dt>
                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__value">
                            Name
                          </dt>
                          <dd class="govuk-summary-list__value">
                            London Borough of Southwark
                          </dd>
                          <dd class="govuk-summary-list__value">
                            &nbsp;
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__value">
                            Name of contact
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Phil Jones
                          </dd>
                          <dd class="govuk-summary-list__value">
                            &nbsp;
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__value">
                            Phone number
                          </dt>
                          <dd class="govuk-summary-list__value">
                            02098676523
                          </dd>
                          <dd class="govuk-summary-list__value">
                            &nbsp;
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__value">
                            Address
                          </dt>
                          <dd class="govuk-summary-list__value">
                            4 Hull Street
                          </dd>
                          <dd class="govuk-summary-list__value">
                            &nbsp;
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__value">
                            Town or City
                          </dt>
                          <dd class="govuk-summary-list__value">
                            London
                          </dd>
                          <dd class="govuk-summary-list__value">
                            &nbsp;
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__value">
                            Postcode
                          </dt>
                          <dd class="govuk-summary-list__value">
                            NW6 8JH
                          </dd>
                          <dd class="govuk-summary-list__value">
                          &nbsp;
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__value">
                            Email address of contact
                          </dt>
                          <dd class="govuk-summary-list__value">
                            phil.jones@newham.gov.uk
                          </dd>
                          <dd class="govuk-summary-list__value">
                            &nbsp;
                          </dd>
                        </div>

                     </dl>
                     <dt class="complex-panel govuk-!-margin-top-7">
                      Child's Social Worker
                     </dt>
                     <dl class="govuk-summary-list">
                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__value">
                           Name
                         </dt>
                         <dd class="govuk-summary-list__value">
                           Agnes James
                         </dd>
                         <dd class="govuk-summary-list__value">
                           &nbsp;
                         </dd>
                       </div>

                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__value">
                           Phone number
                         </dt>
                         <dd class="govuk-summary-list__value">
                           02015123966
                         </dd>
                         <dd class="govuk-summary-list__value">
                           &nbsp;
                         </dd>
                       </div>

                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__value">
                           Email address
                         </dt>
                         <dd class="govuk-summary-list__value">
                           agnesjames@gmail.com
                         </dd>
                         <dd class="govuk-summary-list__value">
                           &nbsp;
                         </dd>
                       </div>
                       <div class="govuk-summary-list__row">
                         <dt class="govuk-summary-list__value">
                           Child's Local Authority
                         </dt>
                         <dd class="govuk-summary-list__value">
                          London Borough of Tower Hamlets
                         </dd>
                         <dd class="govuk-summary-list__value">
                           &nbsp;
                         </dd>
                       </div>

                    </dl>
                      </div>
                    </div>
                </div>
              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
