{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Upload your photo (optional)</h2>

        <p>Uploading a picture of you and your partner can help blach blah blah. </p>
        <p> You can also upload a photo of your family with the child you want to adopt.

          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
              Upload photo
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </div>

          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Upload another photo</a>

          <a href="../task-list-2" class="govuk-button">Save and return</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}