{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">How should we contact you?</h2>
        <span id="passport-issued-hint" class="govuk-hint">
          For example, with questions or updates.
        </span>

        <form action="../task-list-2" method="post" class="form">
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="your-name2" type="checkbox" value="phone"
                    {{ checked("your-name2", "phone") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Phone – calls and text </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="your-name2" type="checkbox" value="email"
                    {{ checked("your-name2", "email") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    Email </label>
                </div>


              </div>
            </fieldset>
          </div>
          <a href="step-2-3b" class="govuk-button">Save and return</a>


        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}