{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> About the child
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/name" aria-describedby="eligibility-completed">
                Name
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/date-of-birth" aria-describedby="eligibility-completed">
                Date of birth
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/move-in" aria-describedby="eligibility-completed">
                Date they came to live with you
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/upload-photo" aria-describedby="eligibility-completed">
                Photo upload (optional)
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/new-child" aria-describedby="eligibility-completed">
                Apply to adopt another child in your care
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> About you
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/name" aria-describedby="eligibility-completed">
                Name
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/date-of-birth" aria-describedby="eligibility-completed">
                Date of birth
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/move-in" aria-describedby="eligibility-completed">
                Date they came to live with you
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/upload-photo" aria-describedby="eligibility-completed">
                Photo upload (optional)
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-the-child/new-child" aria-describedby="eligibility-completed">
                Apply to adopt another child in your care
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
        </ul>
      </li>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Apply
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="#">
                Submit and pay
              </a>
            </span>
          </li>
        </ul>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
