{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">

        <!-- **************************************** 2. Add applicants' details **************************************** -->
        <li>
            <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Add your details
            </h2>
            <ul class="app-task-list__items">
                <div class="govuk-inset-text home-office-inset-text">
                    <p>You will need:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>a photo ID document (such as driving licence or passport)</li>
                        <li>documents about any legal change of name</li>
                    </ul>
                    <p>You may need:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li> UK visa</li>
                        <li> death certificate of spouse or nullity of marriage</li>
                        <li> a decree absolute of divorce or decree of nullity of your marriage</li>
                        <li> medical documents if your spouse is incapacitated</li>
                    </ul>
                </div>
            
                <!-- Number of applicants -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="about-application/number-of-applicants.html">
                        Number of applicants
                    </a>
                    </span>
                    
                    {% if (data['number-of-applicants']) %}
                        <strong class="govuk-tag app-task-list__tag" id="eligibility-completed">completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>
    

                <!-- Relationship details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Your relationship details
                    </a>
                    </span>
                    {% if data['married'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>


                <p class="govuk-!-font-weight-bold govuk-!-margin-top-7">First applicant</p>

                <!-- First applicant - personal details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="two-applicants/about-you/first-applicant-name.html" aria-describedby="eligibility-completed">
                        Your personal details
                    </a>
                    </a></span>
                    {% if data['first-applicant-occupation'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['first-applicant-name'] %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>
                
                <!-- First applicant - contact details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="two-applicants/about-you/first-applicant-address" aria-describedby="eligibility-completed">
                        Your contact details
                    </a>
                    </a></span>
                    {% if data['first-applicant-contact-options'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['first-applicant-address'] %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- First applicant - upload identity documents -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="" aria-describedby="eligibility-completed">Upload your identity documents</a>
                    </span>
                {% if data['personal-photo'] %}
                    <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                {% else %}
                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                {% endif %}
                </li>


                <p class="govuk-!-font-weight-bold govuk-!-margin-top-7">Second applicant</p>

                <!-- Second applicant - personal details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="two-applicants/about-you/second-applicant-name.html" aria-describedby="eligibility-completed">
                        Your personal details
                    </a>
                    </a></span>
                    {% if data['second-applicant-occupation'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['second-applicant-name'] %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- Second applicant - contact details -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="two-applicants/about-you/second-applicant-same-address" aria-describedby="eligibility-completed">
                        Your contact details
                    </a>
                    </a></span>
                    {% if data['second-applicant-contact-options'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% elseif data['second-applicant-address'] %}
                        <strong class="govuk-tag govuk-tag--blue app-task-list__tag">in progress</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

                <!-- Second applicant - upload identity documents -->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Upload your identity documents
                    </a>
                    </a></span>
                    {% if data['personal-photo'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>

            </ul>
        </li>

        <!-- **************************************** 3. Add the child's details **************************************** -->
        <li>
            <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Add the child's details
            </h2>
            <ul class="app-task-list__items">
                <div class="govuk-inset-text home-office-inset-text">
                    <p class="govuk-body">You'll need to work with your social worker or adoption agency to answer these questions, but it's important the come you</p>
                    <p class="govuk-body">This is because, if your application is successful, <a href="PR" target="_blank">"parental responsibility"</a> permanently transfer from the birth parents to you.</p>
                </div>

                <p class="govuk-body-l"></p>

                <!-- <p><strong>First child</strong></p><-->
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Their birth certificate details
                    </a></span>
                    {% if data['child-nationality'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                    <br>

                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Adoption certificate details
                    </a></span>

                    {% if data['adoption-cert'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}

                    <br>

                </li>

                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Their placement order details
                    </a></span>
                    {% if data['date-placed'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                    <br>

                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Their birth mother's details
                    </a>
                    </span>
                    {% if data['mother-alive'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Their birth father's or other parent's details
                    </a>
                    </span>
                    {% if data['birth-father'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Previous court orders for the child
                    </a>
                    </span>
                    {% if data['court-orders'] %}
                        <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% else %}
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
                    {% endif %}
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                    <a href="" aria-describedby="eligibility-completed">
                        Court order details for any siblings or half-siblings
                    </a>
                    </span>
                    {% if data['siblings'] %}
                    <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
                    {% endif %}
                </li>
                </ul>
            </li>

        <!-- **************************************** 4. Add your adoption contacts **************************************** -->
        <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Add your adoption contacts
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Your adoption agency or local authority
              </a>
            </span>
            {% if data['your-adoption-agency'] %}
                <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
            {% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                The child's adoption agency or local authority
              </a>
            </span>
            {% if data['childs-adoption-agency'] %}
                <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
            {% endif %}
          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Your solicitor
              </a>
            </span>
            {% if data['solicitor'] %}
                <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
            {% endif %}
          </li>
        </ul>
      </li>

        <!-- **************************************** 5. Declare payments **************************************** -->      
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span>Declare payments
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Declare any payments made or received </a>
            </span>
            {% if data['payment-declaration'] %}
                <strong class="govuk-tag  app-task-list__tag" id="eligibility-completed">Completed</strong>
            {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>
            {% endif %}
          </li>
        </ul>
      </li>

        <!-- **************************************** 6. Review application, pay and send **************************************** -->      
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span>Review application, pay and send
        </h2>
        <ul class="app-task-list__items">
          <div class="govuk-inset-text home-office-inset-text">
            You'll need your credit or debit card. </div>
          <p class="govuk-body-l"></p>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">
                Review your application, pay and send
              </a>
            </span>
          </li>
        </ul>
      </li>

    </ol>


  </div>
</div>

{% endblock %}
