{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="../task-list-2-multiple" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">The child's details</span>
            <h2 class="govuk-fieldset__heading">
              Previous court orders
            </h2>
          </legend>
          <br>
          <br>

          <ol class="app-task-list">

            <li>
              <!-- <h2 class="app-task-list__section">
                Review application, pay and send
              </h2> -->
              <ul class="app-task-list__items" style="padding-left: unset;">

                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="step-7b-1">
                      First order
                    </a>
                  </span>
                  <a href="" style="float:right; padding-left:15px;">Remove</a>
                  <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>

                </li>


                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="">
                      Second order
                    </a>
                  </span>
                  <a href="" style="float:right; padding-left:15px;">Remove</a>
                </li>

                <li class="app-task-list__item hide" id="div1">
                  <span class="app-task-list__task-name">
                    <a href="">
                      Third order
                    </a>
                  </span>
                  <a href="" style="float:right; padding-left:15px;">Remove</a>
                </li>


                <br>
                <a class="add-another-link" onclick="show2();">Add another</a>

              </ul>

            </li>

          </ol>

          <button class="govuk-button" data-module="govuk-button">Save and return</button>
          <!-- <a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a> -->


        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
