{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <!--<a href="step-1-c-validation" class="govuk-button govuk-button--secondary" style="float:right;">Validation on</a><-->


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="step-1-c-2" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Application details </span>
            <h1 class="govuk-fieldset__heading">
              Find your family court
            </h1>
          </legend>
          <p class="govuk-body"> Enter your postcode to find your local family court. They'll review your application
            and schedule a hearing date.</P>

          <p class="govuk-body">You can also choose a court in a different region.</p>

          <div class="govuk-form-group">


            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--m" for="passport-number">
                Postcode
              </label>
              <span class=govuk-hint>Use your postcode, or enter a postcode in the region you want your application
                heard.</span>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="court-finder" type="text"
                value="{{ data['court-finder'] }}">
            </div>

            <div class="govuk-form-group">
              <p><a href="">Or enter address manually</a></p>
            </div>

          </div>

          <button class="govuk-button" data-module="govuk-button">Find address</button>
          <a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a>
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}