{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Create a password</h1>

      <p class="govuk-body-l">Your password must include at least:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>8 characters</li>
        <li>1 capital letter</li>
        <li>1 number</li>
      </ul>

      <br>
      <br>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10"><b>
            Create your password</b>
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-10" name="width-10" type="text">
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10"><b>
            Confirm your password</b>
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-10" name="width-10" type="text">
      </div>


      <br>



      <a href="start5.html" class="govuk-button">Continue</a>
      <!--
      <h2 class="govuk-heading-m"><a href="about-the-child/number-of-children">Version with No. of kids asked first</h2>
      </a>-->






      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Is there a problem with this page?
          </span>
        </summary>
        <div class="govuk-details__text">
          We need to know your nationality so we can work out which elections you're entitled to vote in. If you cannot
          provide your nationality, you'll have to send copies of identity documents through the post.
        </div>
      </details>







    </div>
  </div>

</div>

{% endblock %}