{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Choose your family court</h2>


        <form action="step-1-c-2" method="post" class="form">

          <!--<div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              You must also send their birth certificate to the
              family court you want to review your application. This can be the original or a certified copy.
            </strong>
          </div>< -->


          <p class="govuk-body">You can choose to have your application reviewed in your local family court, or one in a
            different
            region.</p>
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              
              <p class="govuk-body"> Enter your postcode, or a postcode in the region you want to review your case.

                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="passport-number">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
                </div>



          </div>

          <button class="govuk-button" data-module="govuk-button">Find address</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>
        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
