{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set helpwithfeesrefError = '' %}
      {% set nonumberError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#help-with-fees-ref' %}
          {% set helpwithfeesrefError = error.text %}
        {% endif %}
        {% if error.href == '#no-number' %}
          {% set nonumberError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}

      <form action="/research-feb2022-proposed-changes/check-pay-and-submit/need-help-with-fees-ref" method="post" class="form">
        <div class="govuk-form-group {% if (helpwithfeesrefError != '')%} govuk-form-group--error {% endif %}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ data['paySubmit'] }}</span>
        <h1 class="govuk-fieldset__heading">
          Paying your adoption court fees
        </h1>
        </legend>
        <div id="hwf-hint" class="govuk-hint">
          The adoption court fees total <span class="govuk-!-font-weight-bold">£183</span>.
          <br>If you have little or no savings, receive certain benefits or have a low income you may be able to get help with your adoption application fees.
        </div>
        <!-- <div class="govuk-hint">If you have little or no savings, receive certain benefits or have a low income you may be able to get help with your adoption application fees.</div> -->

        {% if helpwithfeesrefError != '' %}
          <span class="govuk-error-message govuk-form">
            <span class="govuk-visually-hidden">Error:</span> {{ helpwithfeesrefError }}
          </span>
        {% endif %}

          <fieldset class="govuk-fieldset" role="group" aria-describedby="help-with-fees-ref">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pay-in-full" name="help-with-fees-ref" type="radio" value="pay-in-full">
                <label class="govuk-label govuk-radios__label" for="pay-in-full">
                  I am paying by card
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="help-with-fees-ref" type="radio" value="yes" data-aria-controls="conditional-ref" {% if data['help-with-fees-ref'] == 'yes' %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="ref">
                  I have a help with fees reference number
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ref">
                <div class="govuk-form-group">

                  <label class="govuk-label" for="ref">
                    Enter your help with fees reference number
                  </label>
                  {% if nonumberError != '' %}
                    <span class="govuk-error-message govuk-form">
                      <span class="govuk-visually-hidden">Error:</span> {{ nonumberError }}
                    </span>
                  {% endif %}
                  <input class="govuk-input govuk-!-width-one-third {% if (nonumberError != '') %} govuk-input--error{% endif %}" id="ref" name="ref" type="text" spellcheck="false" autocomplete="ref">
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="help-with-fees-ref" type="radio" value="no" data-aria-controls="conditional-ref-no" {% if data['help-with-fees-ref'] == 'no' %} checked {% endif %}>
                <label class="govuk-label govuk-radios__label" for="ref-no">
                  I want to apply for help with fees
                </label>
              </div>

          </fieldset>

        </div>
        <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button" name="continue" value="save-and-continue">
            Continue
          </button>
        </div>

    </form>
    </div>
  </div>
</div>

{% endblock %}
