{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set emailError = '' %}
      {% set phoneError = '' %}
      {% set consentError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#first-applicant-email' %}
          {% set emailError = error.text %}
        {% endif %}
        {% if error.href == '#first-applicant-phone-number' %}
          {% set phoneError = error.text %}
        {% endif %}
        {% if error.href == '#first-applicant-consent' %}
          {% set consentError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/research-7/applicants/first-applicant-contact" method="post" class="form">

        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{% if data['numberApplicants'] !== '1' %}{{ data['firstApplicantProposal'] }}{% else %} {{ data['oneApplicant'] }}{% endif %}</span>
            <h1 class="govuk-fieldset__heading">
              What are your contact details?
            </h1>
          </legend>

          <span id="passport-issued-hint" class="govuk-hint">
            We need both a contact email and telephone number for you.
          </span>
          <p>We will email you updates and information about your application to adopt. You will only be contacted by telephone if the social worker or court staff need to contact you quickly.</p>

            <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">

              <div class="govuk-form-group {% if (emailError != '') %} govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="name">
                  Email address
                </label>
                {% if emailError != '' %}
                <span id="contact-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ emailError }}
                </span>
                {% endif %}

                <input class="govuk-input govuk-!-width-two-thirds {% if (emailError != '') %} govuk-input--error{% endif %}" id="first-applicant-email-address" name="first-applicant-email-address" type="text" value="{{ data['first-applicant-email-address'] }}">
              </div>


              <div class="govuk-form-group {% if (phoneError != '') %} govuk-form-group--error{% endif %}">
                <label class="govuk-label" for="phone-number">
                UK phone number
                </label>
                {% if phoneError != '' %}
                <span id="contact-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ phoneError }}
                </span>
                {% endif %}
                <input class="govuk-input govuk-input--width-10 {% if (phoneError != '') %} govuk-input--error{% endif %}" id="first-applicant-phone-number" name="first-applicant-phone-number" type="number" autocomplete="tel" value="{{ data['first-applicant-phone-number'] }}">
              </div>

              <div class="govuk-form-group {% if (consentError != '') %} govuk-form-group--error{% endif %}">
                {% if consentError != '' %}
                <span class="govuk-error-message govuk-form">
                  <span class="govuk-visually-hidden">Error:</span> {{ consentError }}
                </span>
                {% endif %}

                <label class="govuk-label" for="consent">
                  The court may want to use your email to serve you court orders. Are you happy to be served court orders by email?
                </label>

                <div class="govuk-radios" data-module="govuk-radios" {% if (consentError != '') %} govuk-input--error{% endif %}>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="Yes" name="first-applicant-served-email" type="radio" value="Yes" {% if (data['served-email'] === "Yes") %} checked {% endif %}>
                    <label class="govuk-label govuk-radios__label" for="served-email">
                      Yes
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="No" name="first-applicant-served-email" type="radio" value="No"  data-aria-controls="conditional-contact" {% if (data['served-email'] === "No") %} checked {% endif %}>
                    <label class="govuk-label govuk-radios__label" for="served-email">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group">
                      <p>You will be served all court orders by post.</p>
                    </div>
                  </div>

                </div>
              </div>
              </div>
            </fieldset>
          </div>
        </div>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}


        </form>
          {% include "../../includes/contactforhelp.html" %}
  </main>
</div>

{% endblock %}
