{% extends "layout-signed-in.html" %}

{% block pageTitle %}
View all your adoption applications
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l">All your adoption applications</h1>
    <p>Select an adoption reference number to view the details of that application.</p>


    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Your adoption applications</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Application reference</th>
            <th scope="col" class="govuk-table__header app-custom-class">Child name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Application date</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="index.html">9344-6223-9535-0099</a></th>
                    <td class="govuk-table__cell">Jane Austen</td>
                    <td class="govuk-table__cell">12 January 2022</td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="citizen-dashboard-mary.html">8758-2435-0989-0783</a></th>
                <td class="govuk-table__cell">Mary Poppins</td>
                <td class="govuk-table__cell">7 May 2020</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
