{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set occupationError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#second-applicant-occupation' %}
          {% set occupationError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/research-4/applicants/second-applicant-occupation" method="post" class="form">

        <div class="govuk-form-group {% if (occupationError != '')%} govuk-form-group--error {% endif%}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">{{ data['secondApplicant'] }}</span>
          <h1 class="govuk-fieldset__heading">
            What's your occupation?
          </h1>
          <div id="account-number-hint" class="govuk-hint">
            Enter your full occupation. For example, 'Secondary school teacher' rather than just 'Teacher'. If you're self employed, say so. For example, 'Self employed carpenter'.
          </div>
          </legend>


          <div class="govuk-form-group {% if (occupationError != '')%} govuk-form-group--error {% endif%}">
            {% if (occupationError != '')%}
            <span id="occupation-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ occupationError }}
            </span>
            {% endif%}

            <input class="govuk-input {% if (occupationError != '')%} govuk-input--error {% endif%}" id="occupation" name="second-applicant-occupation" type="text"  spellcheck="false"
            value="Self-employed hairdresser">
          </div>
        </div>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This information will appear on the adoption certificate.
          </strong>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I'm not working at the moment
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>If you're unemployed, say what your occupation was when you were working. For example, 'Unemployed administrative assistant'.</p>
            <p>If you're retired, say that you're retired and what your occupation was when you were working. For example, 'Retired hairdresser'.</p>
            <p>If you're a full time parent, enter 'Full time parent'.</p>
          </div>
        </details>

          <!-- Buttons -->
          {% include "../../includes/buttons.html" %}

        </form>
    </div>
  </main>
</div>

{% endblock %}
