{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Add application details
        </h2>
        <ul class="app-task-list__items">
          <!--<li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="../version-3-3/about-application/talked-with-agency.html">
                Collaboration with social worker
              </a>
            </span><-->

      </li>

      <li class="app-task-list__item">

        <span class="app-task-list__task-name">


          <a href="./about-application/number-of-children.html">
            Number of children in application
          </a>
        </span>
        {% if data['number-of-children'] %}
        <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
        {% endif %}

      </li>

      <li class="app-task-list__item">
        <span class="app-task-list__task-name">

          <a href="./about-application/number-of-applicants-saved.html">
            Your relationships
          </a>
        </span>

        {% if data['your-relationships'] %}
        <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
        {% endif %}
      </li>
      </ul>





      <br><br>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. Add your details
          </h2>
        </span>
            <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Can't start yet</strong>
        </span>
        <ul class="app-task-list__items"></ul>
          <div class="govuk-inset-text">
            You'll need to upload copies of your birth certificate and 2 pieces of photo ID.</div>
      </li>

      <br><br>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. Add the child's details
          </h2>
        </span>
            <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Can't start yet</strong>
        </span>
        <ul class="app-task-list__items"></ul>
          <div class="govuk-inset-text">
              You'll need to work with your social worker to answer these sections and upload the
              child's birth certificate.</div>
      </li>
      


      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>Add your adoption contacts
          </h2>
        </span>
        <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Can't start
          yet</strong>
        </span>


      </li>

      <br><br>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. Review application, pay and send
          </h2>
        </span>
            <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Can't start yet</strong>
        </span>
        <ul class="app-task-list__items"></ul>
          <div class="govuk-inset-text">
              You'll need your credit or debit card.</div>
      </li>


    </ol>

  </div>
</div>

{% endblock %}