{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Add application details
        </h2>
        <ul class="app-task-list__items task-list-start-button">
          <li class="app-task-list__item start-item">
            <button class="govuk-button" data-module="govuk-button">
              Start now
            </button>
          </li>
        </ul>
      </li>

      <hr>


      <li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span>Add the children's details
            </h2>
          </span>
          <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Completed</strong>
        </li>
      </li>

      <br>

      <li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">3. </span>Add your details
            </h2>
          </span>
          <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Completed</strong>
        </li>
      </li>

      <br>

      <li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">4. </span>Add your adoption contacts
            </h2>
          </span>
          <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Completed</strong>
        </li>
      </li>

      <br>

      <li>
        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">5. </span>Financial payments
            </h2>
          </span>
          <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Completed</strong>
        </li>
      </li>

      <br>

      <li >
        <li class="app-task-list__item remove-bottom-line">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">6. </span>Review application, pay and send
            </h2>
          </span>
          <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Completed</strong>
        </li>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
