{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply to adopt a child placed in your care</h1>

      <p class="govuk-body">You can apply to adopt a child placed in your care through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">placement by consent</a></li>
        <li><a href>a placement order</a></li>
      </ul>

      <p class="govuk-body">You can only apply if the child:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>has lived with you for at least 10 weeks in England or Wales</li>
        <li>is under 18 at the time you apply</li>
        <li>has never been married or in a civil partnership</li>
      </ul>

      <h2 class="govuk-heading-m">How to apply</h2>

      <p>It costs £170 to apply.</p>

      <p>You can apply to adopt 1 or more child in your care in the same application. It will be £170 for each
        application, not for each child.</p>

      <p class="govuk-body">You'll need to provide:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the child's details, including when they started living with you</li>
        <li>information about all applicants, including copies of birth certifcates, marriage certificates if relevant,
          and xxx</li>
        <li>details of your local authority or voluntary adoption agency</li>
        <li>your credit or debit card details</li>
        <li>DBS certificates for all applicants </li>
      </ul>

      <div class="govuk-inset-text">
        Each applicant's DBS certificate must have been issued in the past 3 months. <a
          href="https://www.gov.uk/request-copy-criminal-record">Request a new DBS certifcate</a> if any are older.
      </div>

      <a href="sign-in" role="button" draggable="false"
        class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
        data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <h2 class="govuk-heading-m">Application timeline</h2>
      <p><strong>XXXXXXXX</strong></p>


    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Ways to adopt in England and Wales
              </a>
            </li>
            <li>
              <a href="#">
                Applying for an adoption order in Northern Ireland
              </a>
            </li>
            <li>
              <a href="#">
                Applying for an adoption order in Scotland
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</div>

{% endblock %}