{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">When is this required by?</h1>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                  <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>


                  <form action="/research-10/case-worker/case-worker-seek-further-information-reply-by" method="post" class="form">

                    <div class="govuk-date-input" id="passport-issued">

                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="further-info-required-by-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="further-info-required-by-day" name="further-info-required-by-day" type="text" inputmode="numeric">
                        </div>
                      </div>

                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="further-info-required-by-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="further-info-required-by-month" name="further-info-required-by-month" type="text" inputmode="numeric">
                        </div>
                      </div>

                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="further-info-required-by-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="further-info-required-by-year" name="further-info-required-by-year" type="text" inputmode="numeric">
                        </div>
                      </div>

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="further-info-required-by-hour">
                              Hour
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="further-info-required-by-hour" name="further-info-required-by-hour" type="text" inputmode="numeric">
                          </div>
                        </div>

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="further-info-required-by-minute">
                              Minute
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="further-info-required-by-minute" name="further-info-required-by-minute" type="text" inputmode="numeric">
                          </div>
                        </div>

                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="further-info-required-by-second">
                              Second
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="further-info-required-by-second" name="further-info-required-by-second" type="text" inputmode="numeric">
                          </div>
                        </div>


                    </div>
                <!-- Buttons -->
                {% include "../../includes/buttons-xui.html" %}
                  </form>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
