{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Add a case note</h1>
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                    <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>                   

                    <form action="/research-10/case-worker/case-worker-add-note" method="post" class="form">
                    <div class="govuk-form-group">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="subject">
                            Subject
                          </label>
                        </h2>
                        <input class="govuk-input" id="note-subject" name="note-subject" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="subject">
                            Note
                          </label>
                        </h2>
                        <div id="more-detail-hint" class="govuk-hint">
                          Include relevant dates and the people involved.
                        </div>
                        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint"></textarea>
                      </div>
                    </div>
                  <!-- Buttons -->
                  {% include "../../includes/buttons-xui.html" %}
                    </form>
                  </div>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
