{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">Direction details</h1>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">#1234-5678-0921-2722</h2>
                  <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-7">Child's name: Jane Austen</h2>
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-6">The Local Authority shall supply the Annex A</h3>


                  <form action="/research-10/case-worker/case-worker-gatekeeping-annexa-required-by" method="post" class="form">

                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="annex-a-required-by-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                          <label class="govuk-label govuk-!-font-weight-bold" for="LA directions">
                              When is the Annex A required by?
                          </label>
                        </legend>

                        <div class="govuk-date-input" id="passport-issued">

                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="annex-a-required-by-day">
                                Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="annex-a-required-by-day" name="annex-a-required-by-day" type="text" inputmode="numeric">
                            </div>
                          </div>
                          
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="annex-a-required-by-month">
                                Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="annex-a-required-by-month" name="annex-a-required-by-month" type="text" inputmode="numeric">
                            </div>
                          </div>
                          
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="annex-a-required-by-year">
                                Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="annex-a-required-by-year" name="annex-a-required-by-year" type="text" inputmode="numeric">
                            </div>
                          </div>
                          
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="annex-a-required-by-hour">
                                  Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="annex-a-required-by-hour" name="annex-a-required-by-hour" type="text" inputmode="numeric">
                              </div>
                            </div>
                            
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="annex-a-required-by-minute">
                                  Minute
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="annex-a-required-by-minute" name="annex-a-required-by-minute" type="text" inputmode="numeric">
                              </div>
                            </div>
                            
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="annex-a-required-by-second">
                                  Second
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="annex-a-required-by-second" name="annex-a-required-by-second" type="text" inputmode="numeric">
                              </div>
                            </div>
                            
                            
                        </div>
                      </fieldset>
                    </div>
                    
                
                <!-- Buttons -->
                {% include "../../includes/buttons-xui.html" %}
                  </form>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
