<article>
    <form action="research-10/case-worker/next-steps-case-worker" method="post" class="form">
        <div style="display: flex; align-items:right; padding-top: 0px;">
        <p class="govuk-!-margin-top-2">Next step &nbsp;</p>

        <select class="govuk-select" id="sort" name="nex-steps">
            <option value="select-action" selected="">Select action</option>
            <option value="summary">Summary</option>
            <option value="prospective-parents">Prospective Parents</option>
            <option value="birth-parents">Birth Parents</option>
            <option value="other-parties">Other parties</option>
            <option value="notes">Notes</option>
            <option value="manage-documents">Manage documents</option>
            <option value="history">History</option>
            <option value="payment">Payment</option>
            <option value="add-welsh">Add Welsh requirements</option>
            <option value="attending-hearing">Attending the hearing</option>
            <option value="send-to-court">Issue and send to local court</option>
            <option value="send-to-gate-keeper">Send to gate keeper</option>
            <option value="other-proceedings">Other Proceedings</option>
            <option value="info">Need further info</option>
        </select>

        <div>
            <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button" name="go-button">Go</button>
        </div>
    </div>
</form>
</article>
