{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">  
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">                      
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                    <div class="" style="display: flex; justify-content: space-between; ">
                    
                    </div>



                    <div class="hmcts-page-heading">
                        <div class="hmcts-page-heading__title">
                             <h1 class="govuk-heading-xl">Case Lists</h1>
                        </div>
                    </div>
              
                    <button class="govuk-button govuk-button--secondary govuk-!-margin-top-3 " data-module="govuk-button">
                            Hide filter
                    </button>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Filters</h2>              
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="jurisdiction">
                                Jurisdiction
                            </label>
                            <select class="govuk-select" id="jurisdiction" name="jurisdiction">
                                <option value="adoption" selected>Adoption</option>
                                <option value="updated">Private family law</option>
                                <option value="views">Child arrangements</option>
                                <option value="comments">Divorce</option>
                            </select>
                            </div>                            
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="case-type">
                                Case type
                            </label>
                            <select class="govuk-select" id="case-type" name="case-type">
                                <option value="adoption" selected>C100</option>
                                <option value="updated">Lorem ipsum</option>
                                <option value="views">Dolor sit</option>
                                <option value="comments">Amet consectetur</option>
                            </select>
                            </div>                            
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="state">
                                State
                            </label>
                            <select class="govuk-select" id="state" name="state">
                                <option value="adoption" selected>Any</option>
                                <option value="updated">Lorem ipsum</option>
                                <option value="views">Dolor sit</option>
                                <option value="comments">Amet consectetur</option>
                            </select>
                            </div>                            
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="payment-type">
                                Payment type
                            </label>
                            <select class="govuk-select" id="payment-type" name="payment-type">
                                <option value="adoption" selected>-- Select a value --</option>
                                <option value="updated">Lorem ipsum</option>
                                <option value="views">Dolor sit</option>
                                <option value="comments">Amet consectetur</option>
                            </select>
                            </div>                            
                            <div class="govuk-form-group">
                            <label class="govuk-label" for="flags">
                                Flags
                            </label>
                            <select class="govuk-select" id="flags" name="flags">
                                <option value="adoption" selected>-- Select a value --</option>
                                <option value="updated">Lorem ipsum</option>
                                <option value="views">Dolor sit</option>
                                <option value="comments">Amet consectetur</option>
                            </select>
                            </div>                            
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="case-name">
                                    Case name
                                </label>
                                <input class="govuk-input" id="case-name" name="case-name" type="text">
                            </div>                        
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ccd-case-number">
                                    CCD case number
                                </label>
                                <input class="govuk-input" id="ccd-case-number" name="ccd-case-number" type="text">
                            </div>                        
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ccd-case-number">
                                    Date submitted
                                </label>
                                <div class="govuk-date-input" id="dob">
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="day">
                                          Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="day" name="child-birth-day" type="text" pattern="[0-9]*" inputmode="numeric" value=""></div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="month">
                                          Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="month" name="child-birth-month" type="text" pattern="[0-9]*" inputmode="numeric" value=""></div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                      <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="year">
                                          Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="year" name="child-birth-year" type="text" pattern="[0-9]*" inputmode="numeric" value=""></div>
                                    </div>
                                </div>                        
                            </div>

                            {% include "../../../includes/filter-buttons.html" %}    
                        </div>

                        <div class="govuk-grid-column-two-thirds">
                      
                            <h2 class="govuk-heading-m">Case list</h2>              

                            <table class="govuk-table ">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-17">Case reference number</th>
                                        <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-17 ">State</th>
                                        <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-17 ">Date submitted</th>
                                        <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-17 ">Surname of child</th>
                                        <th scope="col" class="govuk-table__header govuk-body govuk-!-font-size-17 ">Allocated court</th>
                                    </tr>
                                </thead>
                                
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="index.html">1234-5678-0921-2722</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Application processed</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">23 February 2022</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Austen</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Brighton Family Court</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="">3689-2642-5857-7069</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Adoption granted</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">10 April 2020</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Poppins</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Bromley Court</td>
                                </tr>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="">3827-2010-3565-3933</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem ipsum</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">12 February 2020</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem Ipsum Court</td>
                                </tr>
                    
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="">3827-2010-3565-3933</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem ipsum</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">12 February 2020</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem Ipsum Court</td>
                                </tr>
                    
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="">3827-2010-3565-3933</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem ipsum</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">12 February 2020</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem Ipsum Court</td>
                                </tr>
                    
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="">3827-2010-3565-3933</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem ipsum</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">12 February 2020</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem Ipsum Court</td>
                                </tr>
                    
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="">3827-2010-3565-3933</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem ipsum</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">12 February 2020</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem Ipsum Court</td>
                                </tr>
                    
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16"><a href="">3827-2010-3565-3933</a></td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem ipsum</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">12 February 2020</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem</td>
                                    <td class="govuk-table__cell govuk-body govuk-!-font-size-16">Lorem Ipsum Court</td>
                                </tr>
                    
                        </tbody>
                    </table>
              
              
            </div>
        </div>


                      </div>
                    </div>
                </div>
              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}