{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                    <div class="" style="display: flex; justify-content: space-between; ">
                        <div>
                          <h1 class="govuk-heading-xl">#1234-5678-0921-2722  &nbsp;&nbsp;&nbsp; </h1>
                            <!-- <span class="govuk-caption-l" style="padding-top: 0px">1234-5678-9012-3456</span>
                            <span style="margin-bottom:50px; padding-top: 25px;"><a href="#">Print</a></span>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Print
                            </button> -->
                        </div>
                        <form action="/research-8/x-ui/case-worker/index" method="post" class="form">
                          <div style="display: flex; align-items:right; padding-top: 0px;">
                              <p class="govuk-!-margin-top-2">Next step &nbsp;</p>
                      
                              <select class="govuk-select" id="sort" name="next-steps">
                                  <option value="select-action" selected="">Select action</option>
                                  <option value="manage-documents">Upload documents</option>
                                  <option value="send-a-message">Send message</option>
                                  <option value="case-issue">Case issue</option>
                                  <option value="notes">Add a case note</option>
                              </select>
                      
                              <div>
                                  <button class="govuk-button govuk-!-margin-left-1" data-module="govuk-button" name="go-button">Go</button>
                              </div>
                          </div>
                      </form>
                    </div>

                    <div class="govuk-tabs" data-module="govuk-tabs">

                      <h2 class="govuk-tabs__title">
                        Contents
                      </h2>

                      <!-- ****************************** START OF TABS ****************************** -->
                      <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="index.html">
                            Summary
                          </a>
                        </li>
                        
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-prospective-parents.html">
                                Applicants
                            </a>
                        </li>
    
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-other-parties.html">
                              Other parties
                            </a>
                          </li>
  
                          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="case-worker-documents.html">
                                Documents
                            </a>
                        </li>
                        
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-messages.html">
                                Messages
                            </a>
                        </li>
                        
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-notes.html">
                                  Notes
                            </a>
                          </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-history.html">
                                History
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-payments.html">
                                Payments
                            </a>
                        </li>

                        <!-- <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-payments.html">
                                Hearings
                            </a>
                        </li>

                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="case-worker-payments.html">
                                Orders
                            </a>
                        </li> -->
        
                    </ul>

                      <!-- ****************************** END OF TABS ****************************** -->

                      <div class="govuk-tabs__panel" id="1">
                        <h1 class="govuk-heading-l">Documents</h2>
                          <p><a href="case-worker-manage-documents.html">Upload documents</a></p>
                          <!-- <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                              <a href="case-worker-manage-documents.html">Upload documents</a>
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
                        </dl> -->



                          <h2 class="govuk-heading-m govuk-!-margin-top-7">Application documents</h2>

                          <dt class="complex-panel">
                            Application document 1
                          </dt>
                          <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__value">
                                Document name
                              </dt>
                              <dd class="govuk-summary-list__value">
                                Application
                              </dd>
                              <dd class="govuk-summary-list__value">
                                &nbsp;
                              </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                              <dt class="govuk-summary-list__value">
                                Document
                              </dt>
                              <dd class="govuk-summary-list__value">
                                <a href="">fullapplication1233434.pdf</a>
                              </dd>
                              <dd class="govuk-summary-list__value">
                                &nbsp;
                              </dd>
                            </div>
                          </dl>
  

                        <h2 class="govuk-heading-m govuk-!-margin-top-7">Reports</h2>

                        <dt class="complex-panel">
                          Report 1
                        </dt>
                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Document name
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Annex A
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
 
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Document
                            </dt>
                            <dd class="govuk-summary-list__value">
                              <a href="">annexA.pdf</a>
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
                        </dl>

                        <h2 class="govuk-heading-m govuk-!-margin-top-7">Statements</h2>

                        <dt class="complex-panel">
                          Statement 1
                        </dt>
                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Document name
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Intention to oppose by birth mother
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
 
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Document
                            </dt>
                            <dd class="govuk-summary-list__value">
                              <a href="">birthmotheroppose.pdf</a>
                              <dd class="govuk-summary-list__value">
                                &nbsp;
                              </dd>
                              </dd>
                          </div>
                        </dl>

                        <dt class="complex-panel govuk-!-margin-top-7">
                          Statement 2
                        </dt>
                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Document name
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Intention to oppose by birth father
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
 
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Document
                            </dt>
                            <dd class="govuk-summary-list__value">
                              <a href="">johnstatement.docx</a>
                              <dd class="govuk-summary-list__value">
                                &nbsp;
                              </dd>
                              </dd>
                          </div>
                        </dl>

                          <!-- <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                              <a href="case-worker-manage-documents.html">Upload documents</a>
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
                        </dl> -->

                        <!-- <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Applicants' statements and application documents
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <details class="govuk-details" data-module="govuk-details">
                              <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  PassportAgatha.pdf
                                </span>
                              </summary>
                              <div class="govuk-details__text">
                                <dl class="govuk-summary-list">
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                      Uploaded by
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <a href="">test@gmail.com</a>
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                      &nbsp;
                                    </dd>
                                  </div>
        
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                      Date
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      12 June 2021
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                      &nbsp;
                                    </dd>
                                  </div>

                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                      Document
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <a href="">PassportAgatha.pdf</a>
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                      &nbsp;
                                    </dd>
                                  </div>
                                </dl>
                              </div>
                            </details>

                              </div>
                        </details>

                        <details class="govuk-details" data-module="govuk-details">
                          <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                              Annex A
                            </span>
                          </summary>
                          <div class="govuk-details__text">
                            <details class="govuk-details" data-module="govuk-details">
                              <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  annexA.pdf
                                </span>
                              </summary>
                              <div class="govuk-details__text">
                                <dl class="govuk-summary-list">
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                      Uploaded by
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <a href="">maryjones@gmail.com</a>
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                      &nbsp;
                                    </dd>
                                  </div>
        
                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                      Date
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      8 February 2022
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                      &nbsp;
                                    </dd>
                                  </div>

                                  <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__value">
                                      Document
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      <a href="">annexA.pdf</a>
                                    </dd>
                                    <dd class="govuk-summary-list__value">
                                      &nbsp;
                                    </dd>
                                  </div>
                                </dl>
                              </div>
                            </details>

                              </div>
                        </details>                         -->

                        <!-- <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Hearing details
                            </dt>
                            <dd class="govuk-summary-list__value">
                              <a href="">hearingdetails.pdf</a>
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__value">
                              Birth certificate
                            </dt>
                            <dd class="govuk-summary-list__value">
                              <a href="">document4.pdf</a>
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div>
                        </dl> -->

                        <!-- <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                              <a href="">Upload documents</a>
                            </dd>
                            <dd class="govuk-summary-list__value">
                              &nbsp;
                            </dd>
                          </div> -->
                        
                          <!-- <p><a href="">Upload documents</a></p> -->

                      </div>
                    </div>
                </div>
              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}
