{% block header %}
{% include "includes/xui-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">  
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">                      
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">Send a message</h1>
                  <h2 class="govuk-heading-l">#1234-5678-0921-2722  &nbsp;&nbsp;&nbsp; </h2>
                  

                  <form action="/research-8/x-ui/case-worker/case-worker-message-radios" method="post" class="form">
                  <div class="govuk-form-group">
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <!-- <label class="govuk-label govuk-!-margin-bottom-4" for="sender-email-address">
                        Do you want to send a message?
                      </label> -->

                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="annex-a-message" name="document-type" type="radio" value="Request Annex A" {% if data['document-type'] == "Request Annex A" %} checked {% endif %}>
                          <label class="govuk-label govuk-radios__label" for="annex-a-message">
                            Request Annex A
                          </label>
                        </div>
          
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="more-information-request" name="document-type" type="radio" value="Request information" {% if data['document-type'] == "Request information" %} checked {% endif %}>
                          <label class="govuk-label govuk-radios__label" for="more-information-request">
                            Request information
                          </label>
                        </div>

                      </div>                  
                </div>
                <!-- Buttons -->
                {% include "../../../includes/buttons-xui.html" %}
                  </form>
                </div>

              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}