{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<head>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/03c0a94a07.js" crossorigin="anonymous"></script>


</head>


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <!-- <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Your adoption application</h1>

      </div>

    </div> -->

    <div class="govuk-grid-row">




      <div class="govuk-grid-column-full">

          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem with your application
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="Error-v1.html">Enter the correct full name of the child</a>
                  </li>
                </ul>
              </div>
            </div>



        <span class="govuk-caption-l">2283-2245-2364-2352</span>
        <h1 class="govuk-heading-l">Your adoption application</h1>

        <div class="govuk-tabs hmcts-sub-navigation" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#past-day">
                  Your application
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-week">
                  Your adoption contacts
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#past-year">
                  Getting help
                </a>
              </li>
            </ul>




            <section class="govuk-tabs__panel" id="past-day">

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                      Fix the information in your application and send it back to the courts
                    </strong>
                  </div>


                          <h2 class="govuk-heading-s" id="subsection-title">
                            Delete your application
                          </h2>

                          <p><a href="" class="govuk-link">Delete application</a></p>


            </section>





              <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

                  <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Fix the information in your application and send it back to the courts
                      </strong>
                    </div>
  
  
                            <h2 class="govuk-heading-s" id="subsection-title">
                              Delete your application
                            </h2>
  
                            <p><a href="" class="govuk-link">Delete application</a></p>




              </section>



              <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">

                <h2 class="govuk-heading-m" id="subsection-title">
                  Getting help
                </h2>


                <p class=""><strong class="bold-xsmall">Email</strong>
                  <br>
                  adoption-west-london@justice.gov.uk</p>

                  <p class=""><strong class="">Phone</strong>
                    <br>
                    0300 303 0642
                    <br>
                    (Monday to Friday, 8.30am to 5pm)</p>


                    <p class=""><strong class="">Courts and Tribunals Service Centre</strong>
                      <br>
                      West London Family Court
                      <br>
                      4 Goose Green West
                      <br>
                      Feltham
                      <br>
                      NG2 9QN</p>

          <h2 class="govuk-heading-m" id="subsection-title">
            Useful links
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://www.gov.uk/child-adoption">Gov.uk child adoption landing page</a>
              </li>
              <li>
                <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/336069/Adoption_NMS_July_2014_for_publication.pdf">Adoption national minimum standards</a>
              </li>
              <li>
                <a href="https://www.gov.uk/adoption-pay-leave">Adoption pay and leave</a>
              </li>
            </ul>
          </nav>

          <!-- <button class="govuk-button govuk-button--warning" data-module="govuk-button">
            Delete application
          </button> -->


              </section>
            </div>




      </div>




    </div>

  </main>
</div>





{% endblock %}
