{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="../task-list-2" method="post" class="form" id="birth-mother-form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Their birth mother’s details </span>
            <h2 class="govuk-fieldset__heading">
              Why do you not have her address?
            </h2>
          </legend>

          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <!-- <label class="govuk-label" for="full-name">
              Do you have her current or last known address?
            </label> -->
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input radioTargetSet" id="how-contacted-conditional-gp" name="how-contacted"
                  type="radio" value="../task-list-2" data-aria-controls="conditional-gp">
                <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-gp">
                  She cannot be found
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input radioTargetSet" id="conditional-how-contacted-condi"
                  name="how-contacted" type="radio" value="../task-list-2"
                  data-aria-controls="conditional-how-contacted-condi-no">
                <label class="govuk-label govuk-radios__label" for="conditional-how-contacted-condi">
                  She has no fixed address
                </label>
              </div>




          </fieldset>

          <br><br>
          <button class="govuk-button" data-module="govuk-button">Save and return</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save as draft</a>


      </div>
    </div>


    </form>

</div>
</div>
</main>
</div>

{% endblock %}
