{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="step-5-d" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">The birth mother’s details </span>
            <h2 class="govuk-fieldset__heading">
              What's her last known address?
            </h2>
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
          </div>

          <div class="govuk-form-group">
            <p><a href="">Or enter address manually</a></p>
          </div>

          <button class="govuk-button" data-module="govuk-button">Find address</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>

      </div>
    </div>


    </form>

</div>
</div>
</main>
</div>

{% endblock %}