{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="../task-list-2" method="post" class="form">



          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">The child’s details </span>
                <h1 class="govuk-fieldset__heading">
                  Do you want to change their name after adoption?
                </h1>
              </legend>

              <p class="">For example, by giving them your surname. This information will appear on the adoption
                certificate, if your application is
                approved. </p>

              <div class="govuk-radios govuk-radios--inline govuk-radios--inline" data-module="govuk-radios">


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3" value="igottwo" onclick="show2();">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                    Yes
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2" value="igotnone" onclick="show1();">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                    No
                  </label>
                </div>

              </div>

              <br>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    About adoption certificates
                  </span>
                </summary>

                <div class="govuk-details__text">
                  If your application is successful, information from the adoption order will be added to the
                  Adopted Children Register. </p>
                  <p>A new birth certificate is then created in the child’s adoptive name. This is known as an
                    adoption certificate and replaces their original birth certificate for all
                    legal purposes.
                </div>
              </details>

              <div id="div1" style="display:none;">



                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Proposed new name
                  </label>
                  <span id="changed-name-hint" class="govuk-hint">
                    Enter the full name, starting with first name.
                  </span>
                  <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name"
                    spellcheck="false">
                </div>

                <br><br>

              </div>

            </fieldset>

            <button class="govuk-button" data-module="govuk-button">Save and return</button>

          </div>


        </form>

      </div>
    </div>

  </main>
</div>

{% endblock %}
