{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Their birth father’s or other parent’s details </span>
        <h2 class="govuk-heading-l">Is the father's name on the child’s birth certificate?</h2>

        <form action="" method="post" class="form" id="birth-father-form">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input radioTargetSet" id="father-conditional" name="father" type="radio"
                    value="step-5-2a" data-aria-controls="fathers-name-yes" >
                  <label class="govuk-label govuk-radios__label" for="father-conditional">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input radioTargetSet" id="father-conditional-no" name="father" type="radio"
                    value="step-5-2-3" data-aria-controls="father-conditional-no" >
                  <label class="govuk-label govuk-radios__label" for="father-conditional-no">
                    No
                  </label>
                </div>



              </fieldset>
              </div>

          </fieldset>

          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>

      </div>
    </div>


    </form>

</div>
</div>
</main>
</div>

{% endblock %}
