{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-xl"> Their education </span><-->
      <h1 class="govuk-heading-l">
        Their education
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Does the child go to school?</label>
          </legend>
          <span id="more-detail-hint" class="govuk-hint">
            This includes pre-school or nursery</span>



      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
            value="email" data-aria-controls="judge-conditional-yes">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
            value="phone" data-aria-controls="judge-conditional-no">
          <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
            No
          </label>
        </div>

        <div class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
          id="judge-conditional-yes">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Add their school's details
              </h1>
            </legend>


              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  <span class="">Building name or number </span>
                </label>
                <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Street
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town"
                  type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county"
                  type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode"
                  type="text">
              </div>

            </div>
          </fieldset>


      </div>

      <a href="fourth-step-2.html" class="govuk-button">Save and continue</a>
      <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    {% endblock %}
