{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl"> Their education </span>
      <h1 class="govuk-heading-l">
        Educational needs
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Does the child have any special educational needs</label>
          </legend>




          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                value="email" data-aria-controls="judge-conditional-yes-1">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                value="phone" data-aria-controls="judge-conditional-no">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No
              </label>
              <div
                class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
                id="judge-conditional-yes-1">



                <div class="govuk-form-group">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Add details of their special educational needs


                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"
                      aria-describedby="more-detail-hint"></textarea>
                </div>

        </fieldset>
      </div>
      </fieldset>
    </div>
  </div>


  <a href="fourth-step-3.html" class="govuk-button">Save and continue</a>
  <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



</div>

</main>





{% endblock %}