{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">About the first child</span>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
            When did they move in with you?
            </h1>
          </legend>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          
          <span id="expiry-hint" class="govuk-hint">
            For example, 27 6 2019
          </span>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day"
                type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month"
                name="expiry-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="expiry-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year"
                name="expiry-year" type="number" pattern="[0-9]*">
            </div>
          </div>

        </fieldset>

      </div>

        <div class="govuk-form-group">
          <a href="birth-cert" class="govuk-button">Save and continue</a>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>
        </div>

      </div>
  </main>





    {% endblock %}
