{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl"> Their language, beliefs and culture </span>
      <h1 class="govuk-heading-l">
        Religious beliefs or practices
      </h1>



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Does the child believe in or practise a religion?</label>
          </legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                value="email" data-aria-controls="judge-conditional-yes">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                value="phone" data-aria-controls="judge-conditional-no">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No
              </label>
            </div>

            <div
              class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
              id="judge-conditional-yes">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

                <label class="govuk-label govuk-label--m" for="width-20">
                  Which religion do they follow?</label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">


              </fieldset>
            </div>
          </div>
        </fieldset>
      </div>
      <a href="second-step-3.html" class="govuk-button">Save and continue</a>
      <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>

    </main>





    {% endblock %}