{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Their likes and wishes</span>
      <h1 class="govuk-heading-l">
        What are the child’s wishes and feelings about adoption?



      </h1>

      <span id="more-detail-hint" class="govuk-hint">
        Leave blank if it's not appropriate for the child’s age or understanding </span>

      <div class="govuk-form-group">

        <span id="more-detail-hint" class="govuk-hint">

          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10"
            aria-describedby="more-detail-hint"></textarea>
      </div>




      <a href="../task-list-2.html" class="govuk-button">Save and continue</a>
      <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}