{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      {% set otherNamesError = '' %}
  
      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#under-18' %}
          {% set otherNamesError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


        <form action="/two-applicants/about-you/first-applicant-other-names" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">First applicant</span>
            <h1 class="govuk-fieldset__heading">
              Have you ever legally been known by any other names?
            </h1>
          </legend>

          <div id="sign-in-hint" class="govuk-hint">
            For example, your name before marriage.
          </div>
  
          {% if (otherNamesError != '')%}
          <div class="govuk-form-group--error">
          {% endif%}
          {% if otherNamesError != '' %}
            <span class="govuk-error-message govuk-form">
              <span class="govuk-visually-hidden">Error:</span> {{ otherNamesError }}
            </span>
          {% endif %}
  
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="other-names">
  
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yes" name="other-names" type="radio" value="Yes" data-aria-controls="conditional-contact"  {% if (data['other-names'] === "Yes") %} checked {% endif %}}>
                    <label class="govuk-label govuk-radios__label" for="other-names">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                    <!--{% if (data['count'] > 0) %}
                    <label class="govuk-label" for="date-from">
                      Not available on
                    </label>
  
                     {% for id in data['id']|reverse %}
                    
                      <dl class="govuk-summary-list govuk-!-margin-bottom-4 ">                    
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            {{data['startDate'][id]}} to {{data['endDate'][id]}}
                          </dt>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Change<span class="govuk-visually-hidden"> date range</span>
                            </a>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                              Remove<span class="govuk-visually-hidden"> date range</span>
                            </a>
                          </dd>
                        </div>
                      </dl>
                      {% endfor %} -->
                    
  
                    <div class="govuk-form-group">
                    <label class="govuk-label" for="previous-full-name">
                      Add your previous full name
                    </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="previous-full-name" name="previous-full-name" type="text" spellcheck="false">
                    <p class="govuk-!-margin-top-3"><a href="" class="govuk-link govuk-link--no-visited-state">Add another name</a></p>
                  </div>
                  </div>                               
                </div>

                  <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="no" name="other-names" type="radio"
                    value="No">
                  <label class="govuk-label govuk-radios__label" for="yes">
                    No
                  </label>
                </div>
                </div>
  
            </fieldset>
          </div>
          {% if otherNamesError != '' %}
            </div>
            {% endif %}
          <!-- Buttons -->
          {% include "../../../includes/buttons.html" %}


        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}