{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set secondApplicantNameError = '' %}
  
      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#second-applicant-name' %}
          {% set secondApplicantNameError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/two-applicants/about-you/second-applicant-name" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <span class="govuk-caption-l">Second applicant</span>
          <h1 class="govuk-fieldset__heading">
            What's your full name?
          </h1>
        </legend>


        <div class="govuk-form-group {% if (secondApplicantNameError != '')%} govuk-form-group--error {% endif%}">
          {% if (secondApplicantNameError != '')%}
          <span id="national-insurance-number-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your full name [NEEDS CONTENT]
          </span>
          {% endif%}

          <input class="govuk-input" id="full-name" name="second-applicant-name" type="text" autocomplete="name" spellcheck="false"
            value="{{ data['second-applicant-name'] }}">
        </div>

          <!-- Buttons -->
          {% include "../../../includes/buttons.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}