{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">The child's other names</h2>


        <form action="../task-list-2" method="post" class="form">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
              <label class="govuk-label" for="full-name">
                Do you know the child by any other names?
              </label>
              <span id="changed-name-hint" class="govuk-hint">
                For example, do you informally call them another name? </span>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-gp" name="education" type="radio"
                    value="yes" data-aria-controls="conditional-gp" {{ checked("education", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-gp">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="conditional-how-contacted-condi" name="education" type="radio"
                    value="no" data-aria-controls="conditional-how-contacted-condi" {{ checked("education", "no") }}>
                  <label class="govuk-label govuk-radios__label" for="conditional-how-contacted-condi">
                    No
                  </label>
                </div>


                <div
                  class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
                  id="conditional-gp">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="more-detail">
                      Add their other names
                    </label>

                    <div class="govuk-form-group">

                      <input class="govuk-input" id="event-name" name="event-name" type="text">
                    </div>









                  </div>
                </div>

              </div>
            </fieldset>
          </div>

          <a href="../task-list-2.html" class="govuk-button">Save and return</a>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}