{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form action="under-21" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Check you're eligible to adopt</span>
            <h2 class="govuk-fieldset__heading">
              You cannot apply to adopt
            </h2>
          </legend>
          <p class="govuk-body">Based on your answers, you cannot apply to adopt because the child:
            <ul class="govuk-list govuk-list--bullet">
              <li>does not have a placement order</li>
              <li>is 18 order older</li>
              <li>has been married or in a civil partnership
            </ul>

            <!-- <p>There are <a href="#">different kinds of adoption</a> that you might be eligible for. -->

          </p>
          </p>
        </form>
      </div>
    </div>



    <a href="www.gov.uk" class="govuk-button govuk-button">Back to GOV.UK</a>

    <a href="../eligibility-d/under-21.html.html" class="govuk-button govuk-button">Seamless continue</a>




    </form>
</div>
</div>
</main>
</div>

{% endblock %}