{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply to adopt a child </h1>
      <p class="govuk-body">There are 4 types of adoption.

        <ol class="govuk-list govuk-list--number">
          <li><a href="start-placement"> Adopting a child placed in your care</a> – adopting a child who's living with you
            following a court placement order.</li>
          <li><a href="start-step-child.html"> Adopting your step-child</a> – adopting your partner's child, usually with the consent of the other parent.</li>
          <li><a href="start-overseas.html"> Adopting from overseas</a> – adopting a child from <a href="">certain countries</a>.</li>
          <li><a href="start-relinquished.html"> Adopting a relinquished baby</a> – adopting a child who's been voluntarily placed for adoption by its parents.</li>
        </ol>
        <h2 class="govuk-heading-m">General adoption eligibility</h2>


        <p class="govuk-body"> To be adopted, a child must:</p>


          <ul class="govuk-list govuk-list--bullet">

            <li>be under 18 on the date you submit your application</li>
            <li>not be, or have ever been, married or in a civil partnership</li>
          </ul>

          <p class="govuk-body">You can only apply if you, and your partner, if relevant:
            <ul class="govuk-list govuk-list--bullet">
              <li>have lived in the UK for at least 12 months</li>
              <li> are 21 or older </li>
            </ul>

            <p class="govuk-body">You or your partner must also be habitually resident in the United Kingdom, Isle of Man or Channel Islands.</p>
            <p>There is a fee of £183 per application.</p>

            <p>You can apply to adopt more than one child. You will only be charged one application fee. You might be able to [get help paying court fees](Get help paying court and tribunal fees - GOV.UK (www.gov.uk)).</p>


    </div>

  </div>
</div>

</div>

{% endblock %}
