{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds"> 

            <br>
                <h1 class="govuk-heading-l">Check your email</h1>

<p>We've sent a confirmation email to test@hotmail.co.uk. Follow the instructions to finish creating your account.</p>


      <br>

      <h1 class="govuk-heading-m">Can't see the email?</h1>
      <p>It can take a few minutes to arrive. Check your junk mail if you can't see it in your inbox.</p>

      <p>If you still can't see it <a href="start.html">enter your details again.</a> </p>


<br>

      <a href="start3.html" class="govuk-button">Continue</a>
      <!--
      <h2 class="govuk-heading-m"><a href="about-the-child/number-of-children">Version with No. of kids asked first</h2>
      </a>-->



   

  


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Is there a problem with this page?
          </span>
        </summary>
        <div class="govuk-details__text">
          We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
        </div>
      </details>







    </div>
  </div>

</div>

{% endblock %}
