{% block header %}
{% include "includes/sw-header.html" %}
{% endblock %}


<html lang="en" class="govuk-template ">  
  <div style=" max-width:1300px; margin: 0 auto;">
      <div style=" max-width:1300px;  min-width:1300px;  margin: 20px 0px 0px 0px;  ">
          <main class="govuk-main-wrapper " id="main-content" role="main" style="padding-top: 25px;">                      
              <div class="govuk-width-container">
                <div class="govuk-grid-row" style="width:1300px; margin-left: -90px;">
                  <h1 class="govuk-heading-xl">Manage documents</h1>
                  <h2 class="govuk-heading-l">#1234-5678-0921-2722  &nbsp;&nbsp;&nbsp; </h2>

                  <form action="/research-6/x-ui/case-worker/case-worker-upload" method="post" class="form">
                  <div class="govuk-form-group">
                    <div class="govuk-inset-text">
                      <h3 class="govuk-heading-m">{{ data['document-type'] }}</h3>
                      
                      <p class="govuk-!-margin-bottom-1">Document name</p>
                      <input class="govuk-input" id="event-name" name="document-name" type="text">
                      
                      <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-1">Document</p>
                      <!-- <p><a href="">document1.pdf</a></p> -->
                      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                      
                      <p class="govuk-!-margin-top-2">
                        <button class="disabled govuk-button govuk-button--secondary" data-module="govuk-button" disabled="disabled" aria-disabled="true" name="cancel-upload-button">
                          Cancel upload
                        </button>       
                      </p>

                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                          <button class="govuk-button" data-module="govuk-button" name="add-new-button" value="add-new-button-top">
                            Add new
                          </button>
                        </div>
                        <!-- <div class="govuk-grid-column-one-third">
                          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="remove-button" value="remove">
                            Remove
                          </button>          
                        </div> -->
                      </div>

                    
                    </div>                 
                  </div>
                  <!-- Buttons -->
                  {% include "../../../includes/buttons-xui.html" %}
                  </form>
                </div>
              </div>
          </main>
      </div>
  </div>
</html>

{% block footer %}
{% include "includes/newfooter.html" %}
{% endblock %}