{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--<span class="govuk-caption-xl">Birth certificate, names and placement</span><-->
      <h1 class="govuk-heading-l">
        Add placement order details
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="passport-number">
          Placement order case number
        </label>
        <span id="expiry-hint" class="govuk-hint">
          This is on the top right of the placement order. Speak to your social worker or agency if you're not sure.
        </span>
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

          <label class="govuk-label govuk-label--m" for="passport-number">
            When was the placement order made?
          </label>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">


              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expiry-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day"
                    name="expiry-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expiry-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month"
                    name="expiry-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="expiry-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year"
                    name="expiry-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </fieldset>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Was this the date the child was placed with you? </label>
          </legend>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio"
                value="email" data-aria-controls="judge-conditional-yes">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio"
                value="phone" data-aria-controls="judge-conditional-no">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                No
              </label>
            </div>

            <div
              class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
              id="judge-conditional-no">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">


                <label class="govuk-label govuk-label--m" for="passport-number">
                  When was the child placed with you?
                </label>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">

                    </span>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expiry-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day"
                          name="expiry-day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expiry-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month"
                          name="expiry-month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="expiry-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year"
                          name="expiry-year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>




          </div>
        </fieldset>
      </div>



      <a href="../task-list-2" class="govuk-button">Save and continue</a>
      <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>



    </div>
    </main>





    {% endblock %}