{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Contacting you</h2>

        <!-- <p class="govuk-body">For example, with questions or updates about your application. All legal papers will be
          posted.</p> -->

        <div class="govuk-inset-text">
          Your email address is jane@goodall.com.
        </div>

        <form action="step-2-3c" method="post" class="form">

          <div class="govuk-form-group">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Is this the email address you would like to be contacted by?
              </h1>
            </legend> -->
            <label class="govuk-label" for="address-line-2">
              <span class="">Is this the email address you would like to be contacted by?</span>
            </label>
            <span id="changed-name-hint" class="govuk-hint">
              For example, with questions or updates about your application. All legal papers will be posted.
            </span>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-conditional-no" name="father" type="radio" value="no"
                  data-aria-controls="father-conditional-no">
                <label class="govuk-label govuk-radios__label" for="father-conditional-no">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-conditional" name="father" type="radio" value="yes"
                  data-aria-controls="fathers-name-yes">
                <label class="govuk-label govuk-radios__label" for="father-conditional">
                  No
                </label>
              </div>

              <div
                class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
                id="fathers-name-yes">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="full-name">
                    Provide other email address
                  </label>
                  <!--<span id="changed-name-hint" class="govuk-hint">
                  Enter this as it's shown on the birth certificate.
                </span><-->
                  <input class="govuk-input" id="full-name" name="childs-name" type="text" autocomplete="name"
                    spellcheck="false">
                </div>
              </div>
          </div>

        </div>

          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
          <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>


        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
