{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Email
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      Your email inbox
    </h1>
    <h2 class="govuk-heading-m">
      There is a new update for adoption application ref: #9344-6223-9535-0099
    </h2>
    <hr>

    <h3 class="govuk-heading-s">Adoption application reference: #9344-6223-9535-0099</h3>
    
    <p class="govuk-body">There is a new update on your application to adopt. This might mean the application has progressed to the next stage or that there is an action for you to take.
      It is important that you sign into your account and view the full details.</p>

    <p><a href="dashboard-hearings.html">Sign in to your account</a></p>

    <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-1">The Adoption Team</p>
    <p class="govuk-!-margin-bottom-1">HM Courts and Tribunals Service</p>
    <p class="govuk-!-margin-bottom-1">Tel: 01634 887900</p>
    <p class="govuk-!-margin-bottom-1">Email: adoptionproject@justice.gov.uk</p>
    <p >Monday to Friday, 9am to 5pm</p>
    <p>This is an automated message. Please do not reply to this email</p>

  </div>
</div>

{% endblock %}
