{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set firstPostcodeError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#first-applicant-address' %}
          {% set firstPostcodeError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}

        <span class="govuk-caption-l">{% if data['numberApplicants'] !== '1' %}{{ data['firstApplicantProposal'] }}{% else %} {{ data['oneApplicant'] }}{% endif %}</span>
        <h1 class="govuk-heading-l  govuk-!-margin-bottom-2">
          What's your home address?
        </h1>
        <div id="nationality-hint" class="govuk-hint">
          We'll send all court papers to this address unless you advise us that you are happy to be served court orders by email.
        </div>

        <form action="/research-apr2022-proposed-changes/applicants/first-applicant-address" method="post" class="form">

          <div class="govuk-form-group {% if (firstPostcodeError != '')%} govuk-form-group--error {% endif%}">

            <label class="govuk-label govuk-label--m" for="postcode">
              Postcode
            </label>

              {% if (firstPostcodeError != '')%}
              <span id="gender-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ firstPostcodeError }}
              </span>
              {% endif%}

            <input class="govuk-input govuk-input--width-10" id="width-10" name="first-applicant-address" type="text" value="SW1A 1AA">

          </div>
          <div class="govuk-form-group">
            <p><a href="first-applicant-enter-address-manually.html">Or enter address manually</a></p>
          </div>


          <!-- Buttons -->
          {% include "../../includes/buttons0.html" %}

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
