{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Add your phone number</h2>

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Enter the number you'd prefer us to use if we need to speak to you.
            </label>
            <span id="changed-name-hint" class="govuk-hint">You can leave this blank if you'd prefer we wrote to
              you.</span>
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Phone number
              </label>
              <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
            </div>

        </div>


        <a href="step-2" class="govuk-button">Save and continue</a>
        <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}