{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your adoption application</h1>

      <p class="govuk-body-s"><strong>Reference number:</strong>&nbsp;&nbsp;&nbsp; 2283-2245-2364-2352
          <br>
      <strong>Child's name:</strong> &nbsp;&nbsp;&nbsp;Lucy Middleton
      <br>
      <strong>Applicant's name:</strong> &nbsp;&nbsp;&nbsp;Kate Middleton</p>

      <br>

      <div class="hmcts-progress-bar">
        <ol class="hmcts-progress-bar__list">
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
          <span class="hmcts-progress-bar__label">You apply</span>
        </li>
        <li class="hmcts-progress-bar__list-item" aria-current="step">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Application received</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">The court decides</span>
        </li>
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Adoption finalised</span>
        </li>
        </ol>
      </div>

      <h3 class="govuk-heading-m">Your application was submitted on 31 May 2018</h3>

      <h3 class="govuk-heading-m">What happens next</h3>

      <h3 class="govuk-heading-m">If you need help</h3>

      <p>You can contact the service centre if you need help with your application. Court staff can’t give you legal advice however, and you should speak to a solicitor or legal adviser.</p>

      <h3 class="govuk-heading-m">Help us improve this service</h3>

      <p>Please help us improve this service by <a href="">leaving your feedback</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h3 class="govuk-heading-s" id="subsection-title">
          Getting help
        </h3>


        <p class="govuk-body-s"><strong class="bold-xsmall">Email</strong>
            <br>
            divorcecase@justice.gov.uk</p>

        <p class="govuk-body-s"><strong class="bold-xsmall">Phone</strong>
            <br>
            0300 303 0642
            <br>
            (Monday to Friday, 8.30am to 5pm)</p>


        <p class="govuk-body-s"><strong class="bold-xsmall">Courts and Tribunals Service Centre</strong>
            <br>
            c/o East Midlands Regional Divorce Centre
            <br>
            PO Box 10447
            <br>
            Nottingham
            <br>
            NG2 9QN</p>





      </aside>

    </div>
  </div>

</div>

{% endblock %}
