{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Email
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      Your email inbox
    </h1>
    <h2 class="govuk-heading-m">
      Case management order served for adoption application: #9344-6223-9535-0099
    </h2>
    <hr>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Adoption application reference: #7656-9897-2465-4322</h3>
    <h3 class="govuk-heading-s govuk-!-margin-top-1">Child name: Mary Poppins</h3>
    
    <p class="govuk-body">The court has served a case management (gatekeeping) order for the submission of Annex A.</p>
    <p>The attached order provides all further details.</p>
    <p>You should upload Annex A using <a href="start.html">the document submission service</a>. If you are unable to do this, then you should present it to the court as soon as possible.</p>

    <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-1">The Adoption Team</p>
    <p class="govuk-!-margin-bottom-1">HM Courts and Tribunals Service</p>
    <p class="govuk-!-margin-bottom-1">Tel: 01634 887900</p>
    <p class="govuk-!-margin-bottom-1">Email: adoptionproject@justice.gov.uk</p>
    <p>Monday to Friday, 9am to 5pm</p>
    <p>This is an automated message. Please do not reply to this email</p>

  </div>
</div>

{% endblock %}
