{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply to adopt a child placed in your care</h1>

      <p class="govuk-body">You can apply to adopt a child placed in your care through:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">placement by consent</a></li>
        <li><a href>a placement order</a></li>
      </ul>

      <p class="govuk-body">You can only apply if the child:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>has lived with you for at least 10 weeks in England or Wales</li>
        <li>is under 18 at the time you apply</li>
        <li>has never been married or in a civil partnership</li>
      </ul>
      <div class="govuk-inset-text">
        You must have lived in the British Isles for at least 12 months before you apply.
      </div>
      <p class="govuk-body">

        <p class="govuk-body">There are different rules for Northern Ireland and Scotland.

          <h2 class="govuk-heading-m">How to apply</h2>

          <p>It costs £170 to apply.</p>

          <p>You can apply to adopt 1 or more child in your care in the same application. It will be £170 for each
            application, not for each child.</p>

          <p class="govuk-body">You'll need to provide each child's:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>birth certificate – you'll need to upload a scan and post the original</li>
            <li>placement order details – contact your social worker or adoption agency if you're not sure</li>
            <li>birth parents' names and, if known, addresses</li>
          </ul>

          <p class="govuk-body">You'll need to provide each applicant's:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>birth certificate
            <li>photo ID – 2 pieces for each, for example driver's licence and passport photo page</li>
          </ul>


          <a href="live-in-uk" role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
            data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
              viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Ways to adopt in England and Wales
              </a>
            </li>
            <li>
              <a href="#">
                Applying for an adoption order in Northern Ireland
              </a>
            </li>
            <li>
              <a href="#">
                Applying for an adoption order in Scotland
              </a>
            </li>
          </ul>
        </nav>

        <h2 class="govuk-heading-m" id="subsection-title">
          Application timeline
        </h2>

        <div id="step-by-step-navigation" data-module="gemstepnav" class="app-step-nav js-hidden "
          data-id="e01e924b-9c7c-4c71-8241-66a575c2f61f" data-show-text="show" data-hide-text="hide"
          data-show-all-text="Show all" data-hide-all-text="Hide all">
          <ol class="app-step-nav__steps">
            <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" data-show
              id="check-youre-allowed-to-drive">
              <div class="app-step-nav__header js-toggle-panel" data-position="1">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 1
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>

                  <span class="js-step-title">
                    Check you're eligible for this service
                  </span>
                </h3>
              </div>

              <!-- <div class="app-step-nav__panel js-panel" id="step-panel-check-youre-allowed-to-drive-1">
                <p class="app-step-nav__paragraph">Most people can start learning to drive when they’re 17.</p>

                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item app-step-nav__list-item--active">
                    <a data-position="1.1" class="app-step-nav__link js-link" href="#content">
                      <span class="app-step-nav__link-active-context govuk-visually-hidden">You are currently viewing: </span>Check what age you can drive </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.2" class="app-step-nav__link js-link" href="#">Requirements for driving legally </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="1.3" class="app-step-nav__link js-link" href="#">Driving eyesight rules </a>
                  </li>
                </ol>

              </div> -->

            </li>
            <li class="app-step-nav__step js-step" id="get-a-provisional-licence">
              <div class="app-step-nav__header js-toggle-panel" data-position="2">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 2
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>

                  <span class="js-step-title">
                    Create an account
                  </span>
                </h3>
              </div>

              <!-- <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">
                <ol class="app-step-nav__list " data-length="1">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="2.1" class="app-step-nav__link js-link" href="#">Apply for your first provisional driving licence <span class="app-step-nav__context">£34 to £43</span></span>
                    </a>
                  </li>
                </ol>

              </div> -->

            </li>
            <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
              <div class="app-step-nav__header js-toggle-panel" data-position="3">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 3
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>

                  <span class="js-step-title">
                    Tell us about the child you are planning to adopt
                  </span>
                </h3>
              </div>

              <!-- <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
                <p class="app-step-nav__paragraph">You need a provisional driving licence to take lessons or practice.</p>

                <ol class="app-step-nav__list " data-length="4">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.1" class="app-step-nav__link js-link" href="#">The Highway Code </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.2" class="app-step-nav__link js-link" href="#">Taking driving lessons </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.3" class="app-step-nav__link js-link" href="#">Find driving schools, lessons and instructors </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="3.4" class="app-step-nav__link js-link" href="#">Practise vehicle safety questions </a>
                  </li>
                </ol>

              </div> -->

            </li>
            <!-- <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test" >
              <div class="app-step-nav__header js-toggle-panel" data-position="4">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--logic">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        and
                      </span>
                    </span>
                  </span>

                  <span class="js-step-title">
                    Prepare for your theory test
                  </span>
                </h3>
              </div>

              <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">
                <ol class="app-step-nav__list " data-length="3">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.1" class="app-step-nav__link js-link" href="#">Theory test revision and practice </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="4.2" class="app-step-nav__link js-link" href="#">Take a practice theory test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a rel="external" data-position="4.3" class="app-step-nav__link js-link" href="https://www.safedrivingforlife.info/shop/product/official-dvsa-theory-test-kit-app-app">Theory and hazard perception test app </a>
                  </li>
                </ol>

              </div>

            </li> -->
            <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="5">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 4
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>

                  <span class="js-step-title">
                    Tell us about yourself
                  </span>
                </h3>
              </div>

              <!-- <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">
                <p class="app-step-nav__paragraph">You need a provisional driving licence to book your theory test.</p>

                <ol class="app-step-nav__list " data-length="5">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.1" class="app-step-nav__link js-link" href="#">Book your theory test <span class="app-step-nav__context">£23</span></a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.2" class="app-step-nav__link js-link" href="#">What to take to your test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.3" class="app-step-nav__link js-link" href="#">Change your theory test appointment </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.4" class="app-step-nav__link js-link" href="#">Check your theory test appointment details </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="5.5" class="app-step-nav__link js-link" href="#">Cancel your theory test </a>
                  </li>
                </ol>

              </div> -->

            </li>
            <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
              <div class="app-step-nav__header js-toggle-panel" data-position="6">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 5
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>

                  <span class="js-step-title">
                    Pay and send your application
                  </span>
                </h3>
              </div>

              <!-- <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-6">
                <p class="app-step-nav__paragraph">You must pass your theory test before you can book your driving test.</p>

                <ol class="app-step-nav__list " data-length="5">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.1" class="app-step-nav__link js-link" href="#">Book your driving test <span class="app-step-nav__context">£62 to £75</span></a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.2" class="app-step-nav__link js-link" href="#">What to take to your test </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.3" class="app-step-nav__link js-link" href="#">Change your driving test appointment </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.4" class="app-step-nav__link js-link" href="#">Check your driving test appointment details </a>
                  </li>
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="6.5" class="app-step-nav__link js-link" href="#">Cancel your driving test </a>
                  </li>
                </ol>

              </div> -->

            </li>
            <li class="app-step-nav__step js-step" id="when-you-pass">
              <div class="app-step-nav__header js-toggle-panel" data-position="7">
                <h3 class="app-step-nav__title">
                  <span class="app-step-nav__circle app-step-nav__circle--number">
                    <span class="app-step-nav__circle-inner">
                      <span class="app-step-nav__circle-background">
                        <span class="app-step-nav__circle-step-label govuk-visually-hidden">Step</span> 6
                        <span class="app-step-nav__circle-step-colon govuk-visually-hidden" aria-hidden="true">:</span>
                      </span>
                    </span>
                  </span>

                  <span class="js-step-title">
                    What happens next...
                  </span>
                </h3>
              </div>

              <!-- <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">
                <p class="app-step-nav__paragraph">You can start driving as soon as you pass your driving test.</p>

                <p class="app-step-nav__paragraph">You must have an insurance policy that allows you to drive without supervision.</p>

                <ol class="app-step-nav__list " data-length="1">
                  <li class="app-step-nav__list-item js-list-item ">
                    <a data-position="7.1" class="app-step-nav__link js-link" href="#">Find out about Pass Plus training courses </a>
                  </li>
                </ol>

              </div> -->

            </li>
          </ol>
        </div>

      </aside>

    </div>
  </div>

</div>

{% endblock %}
