{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply to adopt a child placed in your care
    </h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>Add application details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="./about-application/number-of-children-saved.html">
                Number of children you're applying to adopt
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="./about-application/number-of-applicants-saved.html">
                Who's applying to adopt
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>Add the children's details
        </h2>
        <ul class="app-task-list__items">
          <p><strong>First child</strong></p>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/first-step-1.html" aria-describedby="eligibility-completed">
                Their xxx
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their heritage and background
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their health
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their education
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their relatives
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their nterests and wishes
              </a>
            </span>
          </li>
          <br>
          <p><strong>Second child</strong></p>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-children/first-step-1.html" aria-describedby="eligibility-completed">
                Their xxx
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their heritage and background
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their health
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their education
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their relatives
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Their nterests and wishes
              </a>
            </span>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Add your details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/name" aria-describedby="eligibility-completed">
                Your relationship
              </a>
            </span>
          </li>
          <br>
          <p><strong>First applicant</strong></p>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/name" aria-describedby="eligibility-completed">
                Your xxx
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Your heritage and background
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                  Your education and occupation
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Other people in your life
            </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Your wishes and interests
              </a>
            </span>
          </li>
          <br>
          <p><strong>Second applicant</strong></p>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-you/name" aria-describedby="eligibility-completed">
                Your xxx
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Your heritage and background
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                  Your education and occupation
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Other people in your life
            </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="" aria-describedby="eligibility-completed">
                Your wishes and interests
              </a>
            </span>
          </li>
        </ul>


        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Add your adoption contacts
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/name" aria-describedby="eligibility-completed">
                Your social worker's details
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/childs-social-worker" aria-describedby="eligibility-completed">
                The children's social worker's details
              </a>
            </span>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="about-your-prof-help/representation" aria-describedby="eligibility-completed">
                Your legal representative's details (optional)
              </a>
            </span>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span>Financial payments
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="./about-your-prof-help/financial-aid.html">
                Financial aid
              </a>
            </span>
          </li>

        </ul>
      </li>

      <li>
        <li class="app-task-list__item remove-bottom-line">
          <span class="app-task-list__task-name">
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">6. </span>Review application, pay and send
            </h2>
          </span>
          <strong class="govuk-tag app-task-list__task-completed cant-start-tag" id="eligibility-completed">Can't start yet</strong>
        </li>
      </li>
    </ol>

  </div>
</div>

{% endblock %}
