{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <!-- <a href="step-2-1-validation" class="govuk-button govuk-button--secondary" style="float:right;">Validation on</a> -->


  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <h2 class="govuk-heading-l">Add your birth certificate details</h2> -->

        <form action="step-2-b-second" id="eligible-form" method="post" class="form">

          <div class="govuk-form-group">

              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">Second applicant</span>
                <h1 class="govuk-fieldset__heading">
                  Have you ever legally been known by any other names?
                </h1>
              </legend>
              <p>For example, your name before marriage.


              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="father-conditional" name="your-adoption-agency" type="radio"
                  value="yes" data-aria-controls="fathers-name-yes" {{ checked("your-adoption-agency", "yes") }}>
                  <label class="govuk-label govuk-radios__label" for="father-conditional">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="father-conditional-no" name="your-adoption-agency" type="radio"
                  value="no" data-aria-controls="father-conditional-no" {{ checked("your-adoption-agency", "no") }}>
                  <label class="govuk-label govuk-radios__label" for="father-conditional-no">
                    No
                  </label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--applicants govuk-radios__conditional--hidden"
                id="fathers-name-yes">

                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20" style="width:62%;">
                    Add your previous full name
                    <a class="add-another-link float-right hide" id="div2" onclick="show1();">Remove</a>
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                </div>


                <div id="div1" class="govuk-form-group hide">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20" style="width:62%;">
                      Add your previous full name
                      <!-- <input type="button" id="div3" class="govuk-button govuk-button--secondary float-right" name="answer" value="Remove" style="margin-right:40px; margin-bottom: unset;" onclick="show1();" /> -->
                      <a class="add-another-link float-right" onclick="show1();">Remove</a>
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                  </div>
                </div>

                <div class="govuk-form-group">
                  <p><a class="add-another-link" onclick="show2();">Add another</a></p>
                </div>

              </div>

            </div>

          </div>


            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a href="../task-list-2-multiple" class="govuk-button govuk-button--secondary">Save as draft</a>


          </form>

        </div>
      </div>
    </main>
  </div>

  {% endblock %}
