
{% extends "layout-signed-out.html" %}

{% block pageTitle %}
  Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Prototype</span>
        Apply to adopt a child placed in your care
      </h1>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Alpha inception
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As an adoptive parent, I want to </p>
          <p><a href="version-1/start">Version 1</a></p>    
          <p><a href="version-1b/start">Version 1b</a></p>

        </div>
      </details>

    </div>
  </div>
</div>

{% endblock %}
