{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Prototype</span>
        Apply to adopt a child placed in your care
      </h1>

      <h3 class="govuk-heading-m">
        Version to test
      </h3>

      <p><a href="version-3-3/start">Version 3.3</a></p>

      <h3 class="govuk-heading-m">
        Working iterations
      </h3>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Sprint 4
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As an adoptive parent, I want to adopt a child placed in my care:</p>
          <p><a href="version-4-1/start">Version 4.1</a></p>
        </div>
      </details>

      <h3 class="govuk-heading-m">
        Past iterations
      </h3>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Sprint 3
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As an adoptive parent, I want to adopt a child placed in my care:</p>
          <p><a href="version-3a/start">Version 3.1</a> - added questions after card sort and screening questions
            workshop. Bringing in feedback from the Alpha inception. </p>
          <p><a href="version-3b/start">Version 3.2</a> - cleaing up code and inconsistencies.</p>
          <p><a href="version-3-3/start">Version 3.3</a> - updating content after UR session, breaking up some of the
            pages and restructuring. </p>
          <p><a href="version-3-4/start">Version 3.4</a> - updating design and content after SME input; adding reminder
            devices if 10 week starting point not met </p>

          <h4 class="govuk-heading-s">
            Sandbox
          </h4>

          <p><a href="version-3-3/dashboard/version-1/dashboard-v1">Dashboard version 1</a></p>
          <p><a href="version-3-3/dashboard/version-2/dashboard-v2">Dashboard version 2</a></p>
          <p><a href="sandbox/task-list">Task list</a> - Task list divided into tabs</p>
          <p><a href="sandbox/task-list-2">Task list</a> - Task list divided into accordion pattern</p>
          <p><a href="sandbox/task-list-3">Task list</a> - Task list divided into step by step nav pattern</p>
          <p><a href="sandbox/task-list-4">Task list</a> - Task list with inset text</p>
          <p><a href="sandbox/start.html">Screening questions</a> - Screening Qs after 'Start now'</p>

          <p><span class="govuk-body govuk-!-font-weight-bold">Problem:</span><br>
            How do we ensure that the user knows they can't submit the application unless the child has been living with
            them for 10 weeks or more?<p>

              <!-- Add your new links here Becca :), will add in some pages to get you started! -->
              <!-- Copy and paste the file as many times, just change the name to task-list-v2 etc-->
              <p><a href="sandbox/becca/task-list">Task list</a> - Banner reminder</p>
              <p><a href="sandbox/becca/task-list2">Task list</a> - Warning reminder</p>
              <p><a href="sandbox/becca/about-children/step-1-3">About the children</a> - Banner text</p>
              <p><a href="sandbox/becca/about-children/step-1-3b">About the children</a> - Warning text</p>
              <p><a href="sandbox/becca/check-your-answers">Check your answers</a> - Alert Banner</p>

              <!-- Adding the full journey too, in case you want to look at other pages. -->
              <p><a href="sandbox/becca/full-journey/start">Start</a> - iteration 1</p>

              <h4 class="govuk-heading-s">
                HMCTS admin
              </h4>

              <p>Username: fpla<br>
              Password: cuppatea</p>

              <p class="govuk-body"><a href="https://hmcts-fpla.herokuapp.com/adoption/check/1-case-view" style="font-size: 19px !important;">Checked by the court</a></p>
              <p class="govuk-body"><a href="https://hmcts-fpla.herokuapp.com/adoption/link-case/1-case-view" style="font-size: 19px !important;">Link to other case</a></p>
              <p class="govuk-body"><a href="https://hmcts-fpla.herokuapp.com/adoption/link-case-v2/1-case-view" style="font-size: 19px !important;">Link to other case - if we need to be able to remove the linked case</a></p>
              <p class="govuk-body"><a href="https://hmcts-fpla.herokuapp.com/adoption/allocation/1-case-view" style="font-size: 19px !important;">Make allocation decision</a></p>
              <p class="govuk-body"><a href="https://hmcts-fpla.herokuapp.com/adoption/directions/1-case-view" style="font-size: 19px !important;">Generate initial directions</a></p>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Sprint 2
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As an adoptive parent, I want to adopt a child placed in my care:</p>
          <p><a href="version-2b/start">Version 2.1</a> - changing the structure of the task list to reflect main steps,
            not every single action</p>
          <p><a href="version-2c/start">Version 2.2</a> - introducing new step in task list for adding multiple parties
          </p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Sprint 1
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As an adoptive parent, I want to adopt a child placed in my care:</p>
          <p><a href="version-2a/start">Version 1.1</a> - moving back to the structure in 1a. Adding new questions after
            user feedback</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Alpha inception
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>As an adoptive parent, I want to adopt a child placed in my care:</p>
          <p><a href="version-1/start">Version 0.1</a> - using the task list pattern and one question per page</p>
          <p><a href="version-1b/start">Version 0.2</a> - introducing screening questions before task list and questions
            per theme</p>
        </div>
      </details>

    </div>
  </div>
</div>

{% endblock %}
