{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply to adopt a child </h1>

      <ul class="govuk-list">

        <li>
          <a href="start-second.html">
            Overview
          </a>
        </li>
        <li>
          <a aria-current="page" a href="tab-personal-details?current=personal-details">
            Adopt a child placed in your care
          </a>
        </li>
        <li>
          <a href="start-step-child.html">
            Adopt your step-child
          </a>
        </li>
        <li>
          <a href="start-overseas.html">
            Adopt a child who lives overseas
          </a>
        </li>
      </ul>
      <h2 class="govuk-heading-m"> Adopt a child placed in your care
      </h2>

      <p class="govuk-body">You can only apply to adopt a child placed in your care if the child:
        <ul class="govuk-list govuk-list--bullet">

          <li>has a <a href="">court placement order</a></li>
          <li>has lived with you for at least 10 weeks</li>
          <li>is under 18 at the time you apply</li>
          <li>has never been married or in a civil partnership</li>
        </ul>

        <p class="govuk-body">You can only apply if you, or you <strong>and</strong> your partner if you both want
          to
          adopt:
          <ul class="govuk-list govuk-list--bullet">
            <li>have lived in the UK for at least 12 months</li>
            <li> are 21 or older </li>
          </ul>

          <p class="govuk-body">You <strong>or</strong> your partner must also have a fixed and permanent home in
            the
            UK, Channel Islands or the Isle of Man.


            </ul>

            <h2 class="govuk-heading-m">About the child - things you'll need to know or upload</h2>

            <p class="govuk-body">Work with your social worker to fill in this form. You'll need information only
              they
              might have.


              <p class="govuk-body">You'll need the child's:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>full birth certificate </li>
                <li>placement order details </li>
              </ul>
              <div class="govuk-inset-text">Information you give about the child will only be seen by the court
                and
                social
                workers.</div>

              <p class="govuk-body">You'll also be asked about their:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>birth parents, such as name, address and occupation</li>
                <li>previous court proceedings

                <li>previous court proceedings for siblings or half-siblings</li>
              </ul>




              <p> You'll also need to post
                the child's full birth certificate to the family court reviewing your application.



                <h2 class="govuk-heading-m">About you - things you might need to upload</h2>

                <p class="govuk-body">You'll need to provide each applicant's:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>passport photo page
                  <li> driving licence </li>
                </ul>

                <p> If relevant, you'll also need to upload:

                  <ul class="govuk-list govuk-list--bullet">
                    <li>your marriage or civil partnership certificate, in English or Welsh
                    <li>your spouse or civil partner's death certificate
                    <li>a decree absolute of divorce or decree of nullity of your marriage
                    <li>a dissolution order or nullity order of your civil partnership
                    <li>a decree of judicial separation
                    <li>if you're using a different name from the one on your marriage or civil partnership
                      certificate,
                      evidence to explain the difference – for example, your
                      deed poll


                    <li>a copy of your UK visa </li>
                    <li>any passport pages that have UK immigration entry stamps
                    </li>
                  </ul>


                  <p>There's a £170 application fee, so you'll also need a debit or credit card.</p>

                  <p>You can apply to adopt 1 or more child in your care in the same application. It will be £170
                    for
                    each
                    application, not for each child.</p>



                  <a href="routing-placement.html" role="button" draggable="false"
                    class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
                    data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                      viewBox="0 0 33 40" role="presentation" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg>
                  </a>


    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->





      </li>
      </ol>
    </div>

    </aside>

  </div>
</div>

</div>

{% endblock %}