{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply to adopt a child </h1>

      <ul class="govuk-list">

        <li>
          <a href="start-second">
            Overview
          </a>
        </li>
        <li>
          <a href="start-placement.html">
            Adopt a child placed in your care
          </a>
        </li>
        <li>
          <a aria-current="page" a href="tab-step-child.html">
            Adopt your step-child
          </a>
        </li>
        <li>
          <a href="start-overseas.html">
            Adopt a child who lives overseas
          </a>
        </li>
      </ul>
      <h2 class="govuk-heading-m"> Adopt your step-child
      </h2>

      <p class="govuk-body">
        You need to tell your local council if you want to adopt your spouse’s or partner’s child. You must do this at
        least 3 months before applying to a court for an adoption order.

        <p> The child must also have lived with both of you for at least 6 months.

          <h2 class="govuk-heading-m">The adoption assessment</h2>

          <p>The process to adopt is similar to an assessment through an adoption agency.

            <p>The assessment is used to help a court decide if you can adopt the child (rather than being sent to an
              independent adoption panel).

              <p>The court will ask your local council to provide a report on:



                <ul class="govuk-list govuk-list--bullet">

                  <li>your partner </li>
                  <li>the child</li>
                  <li>the other parent</li>
                </ul>



                <p> If granted, the adoption court order gives you parental responsibility for the child - along with
                  your
                  spouse or partner.

                  <p> The order also takes away parental responsibility from:
                    <ul class="govuk-list govuk-list--bullet">

                      <li>the child’s other birth parent</li>
                      <li>anyone else who has parental responsibility for the child</li>
                    </ul>
                    <div class="govuk-inset-text">

                      An adoption order cancels any other type of court order, such as how and when the child’s birth
                      parent
                      can
                      visit the child.
                    </div>


                    <a href="routing-placement.html" role="button" draggable="false"
                      class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
                      data-module="govuk-button">
                      Start now
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                        viewBox="0 0 33 40" role="presentation" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                      </svg>
                    </a>


    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->





      </li>
      </ol>
    </div>

    </aside>

  </div>
</div>

</div>

{% endblock %}