{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Apply to adopt a child </h1>

      <ul class="govuk-list">

        <li>
          <a aria-current="page" a href="tab-start-second.html">
            Overview
          </a>
        </li>
        <li>
          <a href="start-placement">
            Adopt a child placed in your care
          </a>
        </li>
        <li>
          <a href="start-step-child.html">
            Adopt your step-child
          </a>
        </li>
        <li>
          <a href="start-overseas.html">
            Adopt a child who lives overseas
          </a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Overview</h2>

      <p class="govuk-body"> To be adopted, a child must:


        <ul class="govuk-list govuk-list--bullet">

          <li>be under 18 at the time you apply</li>
          <li>not be married or in a civil partnership</li>
        </ul>

        <p class="govuk-body">You can only apply if you, or you <strong>and</strong> your partner, if relevant:
          <ul class="govuk-list govuk-list--bullet">
            <li>have lived in the UK for at least 12 months</li>
            <li> are 21 or older </li>
          </ul>

          <p class="govuk-body">You <strong>or</strong> your partner must also have a fixed and permanent home in
            the
            UK, Channel Islands or the Isle of Man.
          </p>
          <p>There's a £170 application fee, so you'll also need a debit or credit card.</p>

          <p>You can apply to adopt 1 or more child in your care in the same application. It will be £170
            for
            each
            application, not for each child.</p>


        </p>
        <br>
        </ul>

        <hr>
        <a href="start-placement.html"><strong>Next</strong>

          <br>Apply to adopt a child placed in your care</a>








    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->





      </li>
      </ol>
    </div>

    </aside>

  </div>
</div>

</div>

{% endblock %}