{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set yourNameError = '' %}
      {% set statementTruthError = '' %}


      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
      {% if error.href == '#your-name' %}
        {% set yourNameError = error.text %}
      {% endif %}
      {% if error.href == '#statement-truth' %}
        {% set statementTruthError = error.text %}
      {% endif %}
    {% endfor %}
    {% endif %}


      <form action="/version-1/check-pay-and-submit/declaration" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ data['checkpaysubmit'] }}</span>
        <h1 class="govuk-fieldset__heading">
          Statement of truth
        </h1>
        </legend>
        <p class="govuk-body">I understand that proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement in a document verified by a statement of truth without an honest belief in the truth.</p>


        <!-- 1 applicant -->
        {% if data['numberApplicants'] == 1 %}
          <div class="govuk-form-group {% if (statementTruthError != '') %} govuk-form-group--error{% endif %}">

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              {% if statementTruthError != '' %}
              <span class="govuk-error-message govuk-form">
                <span class="govuk-visually-hidden">Error:</span> {{ statementTruthError }}
              </span>
              {% endif %}
              <input class="govuk-checkboxes__input" id="app-1" name="statement-truth" type="checkbox" value="statement-truth">
              <label class="govuk-label govuk-checkboxes__label" for="app-1">
                I believe that the facts stated in this form and any continuation sheet are true.
              </label>
            </div>
          </div>

          <div class="govuk-form-group {% if (yourNameError != '') %} govuk-form-group--error{% endif %}">
            <label class="govuk-label govuk-!-margin-top-6" for="width-20">
              Enter your full name
            </label>

            {% if yourNameError != '' %}
              <span class="govuk-error-message govuk-form">
                <span class="govuk-visually-hidden">Error:</span> {{ yourNameError }}
              </span>
            {% endif %}
            <input class="govuk-input govuk-!-width-three-quarters {% if (yourNameError != '') %} govuk-input--error{% endif %}" id="name" name="your-full-name" type="text">
          </div>
         </div>


        <!-- 2 applicants -->
        {% else %}
        <div class="govuk-form-group {% if (statementTruthError != '') %} govuk-form-group--error{% endif %}">

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              {% if statementTruthError != '' %}
              <span class="govuk-error-message govuk-form">
                <span class="govuk-visually-hidden">Error:</span> {{ statementTruthError }}
              </span>
              {% endif %}
              <input class="govuk-checkboxes__input" id="app-1" name="statement-truth" type="checkbox" value="statement-truth">
              <label class="govuk-label govuk-checkboxes__label" for="app-1">
                I believe that the facts stated in this form and any continuation sheet are true.
              </label>
            </div>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="app-2" name="declaration" type="checkbox-partner">
            <label class="govuk-label govuk-checkboxes__label" for="app-2">
              The primary applicant believes that the facts stated in this form and any continuation sheet are true.
              I am authorised by the second applicant to sign this statement.
            </label>
          </div>



                       <div class="govuk-form-group {% if (yourNameError != '') %} govuk-form-group--error{% endif %}">
                        <label class="govuk-label" for="width-20">
                          Enter your full name
                        </label>
                        {% if yourNameError != '' %}
                          <span class="govuk-error-message govuk-form">
                            <span class="govuk-visually-hidden">Error:</span> {{ yourNameError }}
                          </span>
                        {% endif %}
                        <input class="govuk-input govuk-input--width-20" id="name2" name="your-full-name" type="text">
                      </div>

                        <div class="govuk-form-group">
                         <label class="govuk-label" for="width-20">
                           Enter the second applicant's full name
                         </label>
                         {% if yourNameError != '' %}
                           <span class="govuk-error-message govuk-form">
                             <span class="govuk-visually-hidden">Error:</span> {{ noname2Error }}
                           </span>
                         {% endif %}
                         <input class="govuk-input govuk-input--width-20" id="name2" name="partner-full-name" type="text">
                       </div>

              {% endif %}


      <p class="govuk-body">Once you submit your application, you cannot make any further changes. You can select 'Save as draft' to review your application before you submit.</p>




      <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button" name="submit-button" value="save-and-continue">
            Confirm
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit-button" value="save-as-draft">
            Save as draft
          </button>
        </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}
