{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/version-1/check-pay-and-submit/get-hwf-reference" method="post" class="form">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">{{ data['checkpaysubmit'] }}</span>
        <h1 class="govuk-fieldset__heading">
            Apply for Help with Fees before you continue
        </h1>
        </legend>

        <p class="govuk-body">You should apply for <a href="#" class="govuk-link">Help with Fees</a>  before you continue with your application. The link will open in a new tab. When applying, use the form number 'A58' when asked which court fee you need help with.</p>

          <p class="govuk-body">Once you have applied for help with fees, you will get a reference number. You should return to this tab to enter the reference number.</p>

          <label class="govuk-label" for="ref">
            Enter your help with fees reference number:
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="ref" name="ref" type="text" spellcheck="false" autocomplete="ref"></div>.
            </div>


          <div class="govuk-button-group govuk-!-margin-top-6">
          <button class="govuk-button" data-module="govuk-button" name="continue" value="save-and-continue">
            Continue
          </button>


        </form>
    </div>
  </div>
</div>

{% endblock %}
