{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">Add your details</span>
            <h1 class="govuk-fieldset__heading">
              About the first applicant
            </h1>
          </legend>

          <div class="govuk-form-group">

          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
            <label class="govuk-label govuk-label--m" for="passport-number">
              Address
            </label>
            <h4 class="govuk-heading-s">Postcode</h4>
            <div class="govuk-form-group float-left">
              <p class="">SW1A 1AA</p><p><a href="address-1">Change</a></p>
            </div>

            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                <option value="published">1 address found </option>
                <option value="updated">Buckingham Palace, LONDON SW1A 1AA</option>
              </select>
            </div>

            </div>

          </fieldset>

        </div>

        <p><a href="#">I can’t find my address in the list</a></p>
        <br>

      <div class="govuk-form-group">
        <a href="occupation" class="govuk-button">Save and continue</a>
        <a href="../task-list-2" class="govuk-button govuk-button--secondary">Save and return</a>
      </div>

    </div>
</main>





    {% endblock %}
