{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">The child's best interests</h2>


        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Why do you think it is in the child’s best interest to be adopted?
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>


        <a href="../task-list-2" class="govuk-button govuk">Save and return</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}
