{% extends "layout-signed-in.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Why do you want to adopt this child?</h2>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Tell us why you want this child to be part of your family
          </label>

          <br>

          <span id="changed-name-hint" class="govuk-hint">You could include why you think:</P>
            <ul class="govuk-hint--bullet">

              <li>the child will be happy and thrive in your home </li>
              <li>it's the right time for the child and your family to apply</li>
              <li>your wider family and friends support your application
            </ul>
          </span>


          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="15"
            aria-describedby="more-detail-hint"></textarea>
        </div>



        <a href="../task-list-2" class="govuk-button govuk">Save and return</a>

      </div>
    </div>
  </main>
</div>

{% endblock %}