{% extends "layout-signed-out.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="" id="eligible-form" method="post" class="form">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

            How many applicants</p>
            Do you or your partner have a fixed and permanent home in the UK, Channel Islands or the Isle of Man</p>
            Have you and your partner lived in the UK for at least 1 year?</p>
            Are you or your partner aged 21 or over?</P>
            Is the child you want to adopt married or in a civil partnership?


          </legend>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input radioTargetSet" id="where-do-you-live" name="where-do-you-live"
                    type="radio" value="collaboration">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input radioTargetSet" id="where-do-you-live-2" name="where-do-you-live"
                    type="radio" value="not-eligible">
                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Countries in the British Isles
                </span>
              </summary>
              <div class="govuk-details__text">
                The British Isles are made up of the United Kingdom, the Channel Islands and the Isle of Man.
              </div>
            </details>
          </div>


          <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}