{% extends "layout-dss.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set referenceNumberError = '' %}

      {% if errors | length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
      {% for error in errors %}
        {% if error.href == '#case-reference-number' %}
          {% set referenceNumberError = error.text %}
        {% endif %}
      {% endfor %}
      {% endif %}


      <form action="/research-13/dss/case-reference-number" method="post" class="form">

        <div class="govuk-form-group {% if (referenceNumberError != '')%} govuk-form-group--error {% endif%}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Case reference number
          </h1>
          <div id="account-number-hint" class="govuk-hint">
            Enter the case reference number. This number will be 16 digits long.
          </div>
          </legend>


          <div class="govuk-form-group {% if (referenceNumberError != '')%} govuk-form-group--error {% endif%}">
            {% if (referenceNumberError != '')%}
            <span id="reference-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ referenceNumberError }}
            </span>
            {% endif%}

            <input class="govuk-input govuk-input--width-20 {% if (referenceNumberError != '')%} govuk-input--error {% endif%}" id="reference" name="case-reference-number" type="text"  spellcheck="false"
            value="{{ data['case-reference-number'] }}">
          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button" name="submit-button" value="continue">
          Continue
        </button>

      </form>
    </div>
  </main>
</div>

{% endblock %}
