{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Email
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      Your email inbox
    </h1>
    <h2 class="govuk-heading-m">
      Case management order served for adoption application: #9344-6223-9535-0099
    </h2>
    <hr>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Adoption application reference: #9344-6223-9535-0099</h3>
    <h3 class="govuk-heading-s govuk-!-margin-top-1">Child name: Jane Austen</h3>
    
    <p class="govuk-body">This is to confirm that you have submitted the rest of the information needed to support the adoption application.</p>

    <p>To prevent delays you can upload the Annex A or provide additional evidence by <a href="start.html">signing into the document submission service</a></p>
    <p>From here you can also update any of the information you provided. You can sign in at any point throughout the case proceedings.</p>
    <p>You should discuss any attendance at the hearings with the applicants. Particularly if there is a risk that the birth parents may be there.</p>

    <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-1">The Adoption Team</p>
    <p class="govuk-!-margin-bottom-1">HM Courts and Tribunals Service</p>
    <p class="govuk-!-margin-bottom-1">Tel: 01634 887900</p>
    <p class="govuk-!-margin-bottom-1">Email: adoptionproject@justice.gov.uk</p>
    <p>Monday to Friday, 9am to 5pm</p>
    <p>This is an automated message. Please do not reply to this email</p>

  </div>
</div>

{% endblock %}
