{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Email
{% endblock %}

{% block content %}
<div class="govuk-grid-column-full">

</div>
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
      Your email inbox
    </h1>
    <h2 class="govuk-heading-m">
      New update for adoption case: #8811-1234-6789-1875
    </h2>
    <hr>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Adoption application reference: #8811-1234-6789-1875</h3>
    <h3 class="govuk-heading-s">Child name: Mary Poppins</h3>
    
    <p class="govuk-body">The court is asking you to provide the following information:</p>
    <ul class="govuk-list">
      <li>
        Can you send the adoptive parents' marriage certificate?
      </li>
    </ul>
    <p>This information is needed by 3 January 2023.</p>
    <p>Use the <a href="start.html">document submission service</a> to upload the relevant documents.</p>

    <p class="govuk-!-margin-top-7 govuk-!-margin-bottom-1">The Adoption Team</p>
    <p class="govuk-!-margin-bottom-1">HM Courts and Tribunals Service</p>
    <p class="govuk-!-margin-bottom-1">Tel: 01634 887900</p>
    <p class="govuk-!-margin-bottom-1">Email: adoptionproject@justice.gov.uk</p>
    <p>Monday to Friday, 9am to 5pm</p>
    <p>This is an automated message. Please do not reply to this email</p>

  </div>
</div>

{% endblock %}
