{% extends "layout-la-portal.html" %}

{% block pageTitle %}
Apply to adopt a child
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">There is a problem</h1>

      <p class="govuk-body">Some of the information you have given does not match what is stored in our records.</p>
      <p>You should select the back link and check that spellings, dates and numbers are correct.</p>
      <p>If this error comes up after you have checked all your details then there might be a problem with the information provided by the applicants. In that case you should contact the caseworker:</p>
      <p class="govuk-!-margin-bottom-1">Contact: CTSC</p>
      <p class="govuk-!-margin-bottom-1">Telephone number: 02087676545</p>
      <p class="govuk-!-margin-bottom-1">Email: ctsc-adoption@justice.gov.uk</p>
      <p>Monday to Friday, 9am to 5pm</p>
  
      {% include "../../includes/contactforhelp.html" %}
    </div>
  </div>
</div>

</div>

{% endblock %}
